[2022-06-18 10:26] rungitringit opened #961 "[Bug]: step-ca setup fails on vanilla Fedora with moby-engine (Docker) container"
### Steps to Reproduce

I'm unable to complete step-ca setup when running a container using Docker from Fedora Linux.  I'm sure I'm not doing anything stupid, but the container doesn't respond on port 9000 from localhost while trying to finish setup.

I've tried this multiple times and different ways but always get the same result.  When re-attempting I've completely purged everything, including t

[2022-06-20 12:35] georgmu opened #962 "[Bug]: using admin commands fails if root ca has name constraints"
### Steps to Reproduce

1. create a root CA with name constraints
permitted: DNS:example.com
2. run `step ca init --root=CA.pem --key=CA.key`
3. open ~/.step/config/ca.json, delete provisioners and add `"enableAdmin": true` to `authority`
4. start `step-ca`
   * enter a password for first provisioner
6. on a second terminal, run `step ca provisioner add acme --type ACME`
   * when asked for admin

[2022-06-22 22:17] jdoss commented on #961
Hey @rungitringit I was not able to reproduce this with Fedora 36 using Podman, which I admit is not exactly the same setup as you.

The one thing that seems to stick out in your bug report is this:

[code]

It looks like your step-ca instance is running on a different port inside the container. Here is my logs from my test:

[code]

You can see that my step-ca process is running on the default po

[2022-06-22 23:21] tashian commented on #961
fwiw, I just tested the tutorial on Darwin w/podman and wasn't able to reproduce this either

[2022-06-23 03:54] rungitringit commented on #961
@jdoss I think you'll find that the web UI is running at 10443 instead of the default of 443.  That should have nothing to do with the default service on port 9000.

@tashian I appreciate you checking but how is checking podman on Darwin relevant?

I'd love to be using rootless podman nirvana on Fedora but I'm doing this in my home lab and I just don't have the time to deal with additional complex

[2022-06-23 03:56] rungitringit commented on #961
@jdoss yes I think you're mixing up two services.  Please check the latter log I posted.  It includes:
`2022/06/22 21:47:01 Serving HTTPS on :9000 ...`

If there's a misconfiguration here, believe me it's not a trivial one.  It could still be a bug.

[2022-06-23 15:22] jdoss commented on #961
@rungitringit I do not see any such logs that say you step-ca process is running on `:9000`.

Did you try my recommendations? Please see my previous response and look at your configuration to see what port you have configured step-ca to run on. The configuration files are in `/home/step/config` on the `step` volume.

Paste your `defaults.json` and `ca.json` here so we can check them out please.

[2022-06-24 07:41] rungitringit commented on #961
@jdoss Thank you very much.

Sorry, my mistake!

Yes and the different port mapping did it.  While _a service_ is now running on 10443 I am confused!

I'm trying to run the main UI on a different port as `443` will be used by another service on this system in future.  When answering the setup questions during bootstrapping I changed the port from a displayed default of `443` to `10443`.  So, if th

[2022-06-24 09:22] rungitringit commented on #961
I've just removed everything and started again, going with the prompt
[code]
and the same problem happens
[code]
Could it be that the example port of `443` is the problem and this should be changed to `9000` so that the rest of the instructions work?

[2022-06-24 21:09] TruCypher opened #966 "[Bug]: step-ca.service Fail to start"
### Steps to Reproduce

1. Create ubuntu/bionic 18.04 vm in virtual box
2. Follow a long option 1 to install remote RA https://smallstep.com/docs/registration-authorities/acme-for-certificate-manager#:~:text=OPTION%201%3A%20USE%20OUR%20LINUX%20RA%20INSTALL%20SCRIPT (with the appropriate info)
3. run `systemctl status step-ca.service`

### Your Environment

* OS - Ubuntu/bionic 18.04
* `step-ca` Sm

[2022-06-26 07:04] the-maldridge opened #967 "[Bug]: Initial ACME transaction succeeds, subsequent renewals fail"
### Steps to Reproduce

Provision a complete step-ca installation, ensure to enable the acme provisioner.  I used the docker containers for this running in the host network mode.  The following terraform explains my setup:

[code]

I then, on another machine, ran the following script:

[code]

The initial attempt to obtain a certificate works fine, but then the attempt to setup the renewal daemon

[2022-06-27 19:52] tashian commented on #966
Hi @TruCypher,
Thanks for reporting this.
Ubuntu 18.04 uses systemd 237.
You would need systemd 245+ to get all of the options in the unit file to work.
However, the service will run fine without the highlighted sandboxing options enabled.
I've just updated our production considerations docs to reflect this.

[2022-06-27 19:52] #966 closed

[2022-06-28 15:55] tashian commented on #961
Thanks @rungitringit

I just want to comment on the rationale behind using `curl -k` for the health check.

If the curl call used `--cacert`, then the DNS names on the CA certificate would have to include "localhost" — and that's not necessarily going to be true. I wanted the `curl` to be able to work no matter what DNS names are on the CA certificate.

And, `localhost` connections are already sec

[2022-06-28 20:25] dopey commented on #967
Hey @the-maldridge 👋 , thanks for opening the issue.

I think your command for the renew isn't quite right. `step ca certificate renew` is not a command. `step ca renew foo.crt foo.key` is the command you want. When you’re running `step ca certificate renew node.crt node.key` the CLI is trying to create a new certificate with subject name `renew` which it can't because that doesn't pass the ACME c

[2022-06-29 15:14] dopey commented on #967
Don't sweat it at all :] Come join us on our Discord (https://u.step.sm/discord) if you're looking for faster feedback or if you're ever banging your head against something again.

[2022-06-30 05:58] the-maldridge commented on #967
Yep, that was it.  The certs have renewed once across the fleet and I'm calling it good.  Thanks for the spot check and unblocking me on this.

[2022-06-30 05:58] #967 closed

[2022-07-01 07:52] Szpark commented on #193
@mholt I was finally able to solve it, I shared my working apache conf here: https://github.com/smallstep/certificates/discussions/968

[2022-07-05 12:58] MCWertGaming commented on #601
Hey, any update on this? My CA broke again due to too many pending acme requests that couldn't succeed because the DNS entry was wrong or missing.

[2022-07-07 14:03] DonOtuseGH opened #972 "[Bug]: inconsistent nkey format in revoked_x509_certs table"
### Steps to Reproduce

When revoking a certificarte using step client with mTLS (e.g. `step ca revoke --cert cert.pem --key cert.key ...`), the serial number of the revoked cert is stored in decimal format in the `nkey` column in `revoked_x509_certs` table. It's the same format used in `x509_certs` table and seems to be the standard/default one.

When the certificate is revoked using step client

[2022-07-07 21:19] dopey commented on #962
A temporary workaround here would be to use the default PKI when starting up the CA. Then create a new admin using `step ca admin add`, and use a name permitted by the desired name constraints. Then replace the PKI with the desired one.

[2022-07-09 11:11] rungitringit commented on #961
Hello, but I added the -k because there were certificate problems, to skip the certificate, noting that doing so was not the point of setting up a CA!.

The instructions do not include that switch.

[2022-07-09 11:22] rungitringit commented on #961
This may be out of scope to report here in this repo, but the Smallstep docs layout is problematic for me.  I mentioned this briefly in my second-last post above.

Here's a screenshot of the installation guide when displayed on 50% of my screen.  The left half is Firefox, the right two terminals.
Note how the code box is only partly visible?

[screenshot](https://user-images.githubusercontent.com/

[2022-07-10 22:52] itmwiw opened #974 "[Bug]: Vaultcas: Can't add ACME provisioner using "step ca provisioner add acme --type ACME""
### Steps to Reproduce

Configure step-ca in Vault ra mode: https://smallstep.com/docs/step-ca/registration-authority-ra-mode#hashicorp-vault-ra-mode. Once everything is working fine and you are able to issue a certificate using the JWK provisioner, try adding an ACME provisioner.

### Your Environment

* OS - Linux
* `step-ca` Version - 0.20.0

### Expected Behavior

provisioner added succesfully

[2022-07-11 16:46] jdoss commented on #961
@rungitringit Are there any outstanding issues that you need addressed in this ticket? I believe this is not a bug report but a configuration/documentation issue which are better supported on other channels. In the future you can get help via our [GitHub discussions section](https://github.com/smallstep/certificates/discussions) of this repo or on our [Discord](https://u.step.sm/discord).

[2022-07-11 21:13] tashian commented on #974
I've confirmed this bug in 0.20.0 and 0.21.0.

@itmwiw as a workaround, to get an ACME provisioner you can add the following to the `"provisioners"` list in `ca.json`:

[code]

[2022-07-12 10:02] rungitringit commented on #961
As I'm on a RH-based system, I've manually copied the `/root/.step/certs/root_ca.crt` to `/etc/pki/ca-trust/source/anchors` as `Smallstep.pem` and run `update-ca-trust` as root.  Now the OS trusts the certificate from localhost:9000.  However these extra steps are not mentioned in the instructions (I just happened to be aware of them) and presumably should not be required.

[2022-07-12 15:02] DonOtuseGH commented on #972
Hi @dopey, of course this would be a possible solution. But what i think is more important is the matching against the table containing the already issued/signed certificates. This would be another important and IMHO mandatory validation of the input.

[2022-07-12 16:06] tashian commented on #961
Ah yes, I see the issue you're referring to in the instructions @rungitringit.

The issue is that our readme was missing the `--install` flag when running `step ca bootstrap`, to install the root CA cert into the host environment's trust store.

I've fixed that. Thanks for reporting!

[2022-07-12 16:06] #961 closed

[2022-07-12 17:35] dopey commented on #972
The design for revoking a cert does not assume that the cert is stored in the DB. If you obliterate the DB and then start a new DB, you should still be able to revoke an active certificate, even if there is no record of that certificate being created (at least with the current design).

[2022-07-12 19:19] DonOtuseGH commented on #972
@dopey, thanks for your feedback. I know that Smallstep has a slightly different approach regarding CA and certificates than we do in our current use case 😄 However, I have a different opinion regarding data management/database....
For us it is important that there is an up2date CRL and a working OCSP service. The basis for this is the information of the tables **x509_certs** and **revoked_x509_ce

[2022-07-13 20:49] dopey commented on #972
https://github.com/smallstep/certificates/issues/972

[2022-07-14 10:59] DonOtuseGH commented on #972
Hehe, that's a very good and indeed a valid question! ;-) We use templates for the different certificates types, through which we customize the certificate extensions. According to the policy the server certificates are only allowed to use the `extKeyUsage` `serverAuth` extension, so it doesn't work to revoke these certificates with `step` cli via mTLS ;-)

[code]

[2022-07-14 19:46] maraino opened #975 "Use go.step.sm/crypto/kms"
### Description

Remove the Go package `gitHub.com/smallstep/certificates/kms` and use `go.step.sm/crypto/kms` instead.

[2022-07-14 20:21] maraino opened #976 "Add flag to renew without using mTLS on step ca renew"
### Description

`step ca renew` uses a token if a certificate is expired, but this token can also renew non-expired certificates, we should add a flag to `step ca renew` to force the use of the token.

Currently, the only way to do it is using curl directly like this:

[code]

This can be useful for example when `step-ca` is behind a proxy.

[2022-07-14 20:43] dopey commented on #976
Can we expand this to `revoke` as well?

[2022-07-14 20:46] dopey commented on #972
Yep, that's a great reason.

We recently changed the API for `renew` to accept the certificate in a token (instead of over mTLS). If we expanded this functionality to `revoke` the operation would not require client auth.

https://github.com/smallstep/certificates/issues/976

[2022-07-15 07:02] spyesx opened #978 "[Bug]: Docker step ca init "open /home/step/secrets/intermediate_ca_key: permission denied""
### Steps to Reproduce

Testing the Docker image, I've created this simple `docker-compose.yml`

[code]

### Your Environment

* OS - Docker on Rasberry Pi OS 64 bits

[code]

* `step-ca` Version - Docker image:`smallstep/step-ca:latest` (`DIGEST:sha256: 48c19bdd6cf8c179b04805b897ee4c591df479f919cece6cb13285053cfb8c12 `)

### Expected Behavior

I expect the CA to start properly.

### Actual Behavi

[2022-07-18 18:23] tashian commented on #978
Hi @spyesx, I was able to reproduce this as well.
I think this is docker/compose#3270 in the wild.
Because of the volume mount, you may need to add a layer to the Dockerfile for step-ca to get this working.
What I still don't understand is why `docker run -d -v step:/home/step ...` works, but this doesn't work.

[2022-07-18 19:35] arjunasokan-bc commented on #608
Adding my +1 to this, would love to ditch Microsoft for this.

[2022-07-19 02:07] Skinner927 commented on #601
I've encountered the same "friendly" DoS attack where a DNS entry was incorrectly changed, step-ca could no longer resolve the domain, and Traefik ACME spammed step-ca until the drives on the step-ca host hit 100% and essentially bricked the host.

Rate limiting friendlies and/or some type of automatic logrotate or log pruning to prevent something like this would be welcomed.

[2022-07-19 06:00] dopey commented on #601
@MCWertGaming @Skinner927 can you be more specific about what exactly failed? Did the DB of `step-ca` fill up? Was it the logs of `step-ca` that filled up?

[2022-07-20 22:14] kfox1111 opened #981 "[Bug]: curl server.com/ssh/hosts"
### Steps to Reproduce

curl server.com/ssh/hosts

you get a list of all registered hosts. Without authentication.

This seems undesirable in multiple ways.

### Your Environment

* OS -
* `step-ca` Version -

### Expected Behavior

There needs to be a way to disable the listing for sites where it is undesirable.

### Actual Behavior

You get a complete list.

### Additional Context

_No response_

[2022-07-23 13:21] Slamdunk opened #985 "Allow token reuse within short timeframe to allow both CERT and SSH in one login"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Hi, currently to issue both a user certificate and a user ssh key, my users need to get 2 tokens from our provisioner, which means they are prompted twice to login into our IdP (Google).

I see that token reuse h

[2022-07-26 06:17] dopey commented on #601
@MCWertGaming I see that you provided more info on what exactly was failing in your case - the DB filling up. The problem, for us, is it's not clear what the DB is filling up with. Is the client creating a new account for each new attempt? Is it the same ACME order, or different ACME orders for each new attempt? If it's the same ACME order is the issue that the error log on the order continues to

[2022-07-27 13:49] MCWertGaming commented on #601
I'm sorry for the late answer, but replicating this issue takes a week on my setup (since the Caddy webserver fixed their ACME timeout).

Basically what happens is that (in my case Caddy) tries to create ACME challenges with a single account. It basically opens challenges for a Domain that has no DNS entry in my local DNS server. The result is that step-ca is trying to do the challenge, but fails

[2022-07-27 18:01] sergeysedoy97 opened #988 "Add OTT revoke API endpoint"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Now it's impossible to revoke created token.

## Why is this needed?

Will be useful to have a CLI command and API endpoint to revoke created OTT.
For example, if created token was published somewhere or just sen

[2022-07-27 18:11] sergeysedoy97 commented on #186
Will this be implemented?
Nice idea: https://github.com/smallstep/certificates/issues/186#issuecomment-922287243

Now, there is no way to sign CSR with different intermediate certs.

[2022-07-27 23:21] tashian commented on #186
Hi @sergeysedoy97, this feature is not on our short-term road map. The current best option is to run a CA for each intermediate. It's now easier to manage this on the client side, since the [the `--context` flag](https://smallstep.com/docs/step-cli/the-step-command#contexts-working-with-multiple-cas) that @mmalone mentioned above has been added to both `step` and `step-ca`.

[2022-07-27 23:48] tashian commented on #988
Hi @sergeysedoy97 and @jenisov, the JWT tokens generated by `step ca token` are short-lived (5 minute expiry) tokens. The design goal is for you to be able to generate the token as close as possible to where you need it, deliver it, and then use it immediately.

If you need a mechanism that allows for revocation, take a look at the [X5C provisioner](https://smallstep.com/docs/step-ca/provisioners/

[2022-07-28 16:58] sergeysedoy97 commented on #988
@tashian Hi, thank you for your response. We generate tokens manually, not via CLI, which allows us to create long-lived tokens with custom payload. Token goes through few services, and smallstep CA is an endpoint. If one of services in pipeline returned error, then we need to revoke token.

[2022-08-01 16:53] achernya opened #991 "[Bug]: step-ca sometimes interprets --root as the trust store, and sometimes as the step-ca true root"
### Steps to Reproduce

1. Set up caddy with Let's Encrypt certificates
2. Set up step-ca behind the caddy, with its own root certificate. Configure caddy to accept step-ca's certificates.
3. Try to provision a host ssh certificate with `step ssh certificate ${FQDN} /etc/ssh/ssh_host_ecdsa_key.pub --host --sign --principal ${FQDN} --principal ${HOSTNAME}`

### Your Environment

* OS - 3.16.0 (dock

[2022-08-01 16:53] achernya opened #1016 "[Bug]: step-ca sometimes interprets --root as the trust store, and sometimes as the step-ca true root"
### Steps to Reproduce

1. Set up caddy with Let's Encrypt certificates
2. Set up step-ca behind the caddy, with its own root certificate. Configure caddy to accept step-ca's certificates.
3. Try to provision a host ssh certificate with `step ssh certificate ${FQDN} /etc/ssh/ssh_host_ecdsa_key.pub --host --sign --principal ${FQDN} --principal ${HOSTNAME}`

### Your Environment

* OS - 3.16.0 (dock

[2022-08-01 18:05] tashian commented on #186
@sergeysedoy97 You'd need to run multiple instances of `step-ca` on different ports or domains, with different contexts & intermediates.

[2022-08-01 20:39] charltonstanley opened #992 "add support for `head` requests for `roots.pem`"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Allow `head` requests for the `roots.pem` path. Currently this returns a `405`.

[code]

Resulting output from `journalctl -x --unit=step-ca`:

[code]

`step` version:

[code]

## Why is this needed?

When runnin

[2022-08-03 15:36] MP-ICT-Diensten opened #994 "[Bug]:"
### Steps to Reproduce

Hello,

I installed step-ca in a dev environment in docker and followed the manual from here (The medium way):
https://smallstep.com/docs/tutorials/intermediate-ca-new-ca

After replacing the root ca, intermediate ca and intermediate key files and starting step-ca again I have the following error:
`step-ca  | error decrypting /home/step/secrets/tts.local_intermed-ca.key: **

[2022-08-03 16:25] tashian commented on #994
Hi @MP-ICT-Diensten , there's a `password` file (I think `/home/step/password`?) that gets generated on the container volume when the CA is first initialized. You'll need to change the contents of that file, so that it contains the password for your intermediate signing key.

[2022-08-05 00:16] maraino opened #998 "Go 1.19"
### Description

Change GitHub actions to create releases using Go 1.19. And verify that it builds and tests passes in the last two versions of Go, 1.18 and 1.19.

[2022-08-05 01:11] #431 closed

[2022-08-05 02:42] maraino opened #999 "Use go.step.sm/crypto/kms"
### Description

Use kms version from `go.step.sm/crypto/kms`

[2022-08-05 02:48] maraino opened #1000 "RA refactor"
### Description

Instead of using a JWK/X5c provisioner to request the signing of the certificate to the CA, we can implement some kind of authenticated API similar to Google CAS that defines the certificate that we want to sign.

The CA should always have the right to enforce a template, but the RA should be able to suggest one, as well as be able to define the provisioner extension.

We should a

[2022-08-05 05:32] dopey commented on #985
Hey @Slamdunk, thanks for opening the issue (and sorry it took so long to respond).

Rather than using the same OTT, our team's solution has been to use the x5c provisioner. You get a cert with an OTT as your first request and then you use that cert (using the x5c provisioner) to request an SSH cert. We use this same pattern in numerous places and specifically in our product, which implements a si

[2022-08-08 06:25] Slamdunk commented on #985
Hi, I guess that in order to do that you are using the very same root certificate of `step-ca` for validating X5C tokens.

This puzzles me: as far as I can tell, such kind of provisioner defeats the purpose of every other provisioners.
With every new certificate I get, I can request another new certificate with a refreshed time validity bypassing the `renew` feature. It is so, isn't it?

This woul

[2022-08-08 06:29] dopey commented on #985
Good questions!

1) When you generate another credential using the x5c provisioner, the  new credentials validity does not last beyond the validity of the original x5c Certificate. As an example, suppose my X509 certificate had a lifetime of 24h but at the time I used it with the x5c provisioner there was only 3 hours of validity left - the new credential would have a validity of 3 hours.

2) We d

[2022-08-08 06:50] Slamdunk commented on #985
Nice, that's exactly what I expected :muscle: and correct me if I'm wrong, that's coded in:

1. https://github.com/smallstep/certificates/blob/38fb92452f10169540c2519e96fc9125141707e7/authority/provisioner/x5c_test.go#L485
2. https://github.com/smallstep/certificates/blob/38fb92452f10169540c2519e96fc9125141707e7/authority/provisioner/x5c.go#L240

The only thing I miss is mentioning it in the docs:

[2022-08-08 14:22] BenoitKnecht opened #1003 "Open Policy Agent integration"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

I've recently started using `step-ca` in my home lab, inspired by [this great tutorial](https://smallstep.com/blog/build-a-tiny-ca-with-raspberry-pi-yubikey/), and I'm loving it!

I setup my intermediate CA with

[2022-08-08 17:07] dopey commented on #985
Thanks for opening the PR!

@maraino would you mind dropping an example of an x509 template that just throws an error, please?

[2022-08-08 17:35] maraino commented on #985
one simple whitelist example:
[code]

[2022-08-08 18:08] dopey commented on #985
So something like

[code]

[2022-08-08 19:35] #998 closed

[2022-08-08 21:05] maraino commented on #999
Duplicated by https://github.com/smallstep/certificates/issues/975

[2022-08-08 21:05] #999 closed

[2022-08-08 21:15] #981 closed

[2022-08-09 06:38] Slamdunk commented on #985
Thank you very much

[2022-08-09 06:38] #985 closed

[2022-08-09 09:35] Slamdunk commented on #433
I've added an example into docs at https://github.com/smallstep/docs/pull/125

[2022-08-10 07:41] Slamdunk commented on #153
Hi, many automation tools require `stderr` to be empty in order to consider the command execution successful.

May I ask you if there's any news on this?

[2022-08-10 16:57] #975 closed

[2022-08-10 19:21] maraino commented on #153
As I said before this will be addressed by replacing the logger with https://github.com/smallstep/logging, but we haven't prioritized this, I will tag this issue so it appears in our next triage.

[2022-08-11 16:42] dopey commented on #1003
Hey @BenoitKnecht 👋. Thanks for opening this issue!

We've thrown this idea around before, and you've hit the nail on the head with the use cases you suggested.

I've added this to our triage and will update once we've had an internal conversation.

[2022-08-11 16:45] #972 closed

[2022-08-12 16:20] paul-snively opened #1011 "ACME: implement SSO challenge (draft-biggs-acme-sso-01)"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

In my opinion, step-ca has an opportunity to significantly advance the goal of Zero-Trust Authentication by extending its already-excellent support for OIDC provisioning to support for [draft-biggs-acme-sso-01](h

[2022-08-12 18:15] maraino commented on #1011
@paul-snively right now, you can configure an OIDC provisioner on step-ca and get certificates for your persona with your email on them.

That draft looks to me as an attempt of standarize a similar flow over the ACME protocol. The support for ACME clients of that protocol might take some time.

[2022-08-14 10:01] Bobobo-bo-Bo-bobo opened #1012 "[Bug]: Template data (--x509-template-data/--ssh-template-data) not validated when updating a provisioner"
### Steps to Reproduce

While trying to update a provisioner to use a custom x509 template file, the `--x509-template-data`
option was used with invalid JSON data by a copy&paste error:
[code]

All provisioners are stored in a PostgreSQL database.

### Your Environment

* OS - Debian 11
* `step-ca` Version - Smallstep CA/0.21.0 (linux/amd64)

### Expected Behavior

Validating the template data bef

[2022-08-14 11:14] Bobobo-bo-Bo-bobo opened #1013 "Let step ca provisioner update set the templateFile option of a provisioner"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

According to the documentation (https://smallstep.com/docs/step-ca/provisioners), a provisioner option can be (for `x509` and `ssh`) the _name_ of the template file.

For remote provisioners from a database, the

[2022-08-14 11:53] Bobobo-bo-Bo-bobo commented on #1012
Note: I'm not sure if the validation should be done in the client or in the step-ca process or both.

[2022-08-14 11:55] Bobobo-bo-Bo-bobo commented on #1013
Sorry, this should be opened for the client instead of the step-ca

[2022-08-14 11:55] #1013 closed

[2022-08-15 19:29] hslatman commented on #1012
Hey @Bobobo-bo-Bo-bobo,

Sounds like a good thing to add validation for before doing anything with the template. I remember having done something similar with a template loaded from file and/or JSON, but this is an alternate code path that didn't exist at the time. The validation should happen on the CA side for sure. Also performing the validation on the CLI is an option, but would need the logic

[2022-08-16 01:58] maraino commented on #978
@tashian Is there anything that we can do here? Should we close this?

[2022-08-16 02:00] maraino commented on #974
I believe this is an issue between versions, but we'll look into it.

[2022-08-16 06:54] pcornelissen opened #1015 "Changing the ACME http-01 challenge port for testing purposes"
### Discussed in https://github.com/smallstep/certificates/discussions/1007

<div type='discussions-op-text'>

<sup>Originally posted by **sbszcz** August 11, 2022</sup>
Hello there,

is it possible to change the ACME http-01 challenge port via some configuration properties for testing purposes?

I am asking because there seems to be a way because the step-cli tool offers the `--http-listen` param

[2022-08-16 17:25] tashian commented on #978
Yes, I think we can close this for now and revisit if/when the Compose bug is fixed.

[2022-08-16 17:25] #978 closed

[2022-08-16 18:45] tashian commented on #1015
See also #835

[2022-08-16 23:21] #992 closed

[2022-08-17 05:12] Bobobo-bo-Bo-bobo commented on #1012
I thing Adding the validation in the server should be enough because the client will receive an error from the service if invalid template data is found and report it back to the user. No need for code duplication.

[2022-08-17 18:45] dopey commented on #1011
Hey @paul-snively :wave: Thanks for opening this issue!

We've actually thrown this idea around internally before. Eventually, we'd love for all of our provisioners to be supported through ACME. However, as @maraino mentioned, we don't see much value in integrating this flow before more of the popular clients support it. If we're the only ones that support it in the short term, then it's not much

[2022-08-17 19:18] dopey commented on #1015
Hey @pcornelissen :wave:. Thanks for opening the issue!

Had a chance to discuss this with the team today. We're ok with introducing this feature, but only as an additional flag to `step-ca` that would also require a `--insecure` flag. So, something like `step-ca --insecure --allow-non-standard-acme-port`. Given those requirements, @maraino will update with prioritization.

[2022-08-17 22:12] tashian commented on #463
@sunvalleyfoods that's a nice approach!
I'm going to convert this into a discussion so people can find it for posterity.
@strarsis if you're still encountering this issue, could you please open a new issue and provide some more context about your deployment of `step-ca`?

[2022-08-18 01:08] maraino opened #1021 "Add renewal support using RAs"
### Description

RAs (stepcas, ~~vaultcas~~, ~~cloudcas~~) can now support renewals if the cli sends the authentication token instead. We should implement the `RenewCertificate` function on those three implementations.

[2022-08-18 07:15] pcornelissen commented on #1015
Thanks for the prioritization. What I don't get is, that the CLI is able to use a high port for the verification, when you create a certificate this way. How does it do that?
The functionality seems to be there, but it's just hidden/undocumented

[2022-08-18 07:46] hslatman commented on #1015
Hi @pcornelissen,

The reason the `--http-listen` flag exists, is so that the `step` CLI can serve the endpoint on another port if there's a reverse proxy or some other system listening on port 80. The reverse proxy should then forward the incoming request from the CA to the CLI listener. This can be useful if you don't want to or can't run the CLI with root privileges, for example.

In the ACME p

[2022-08-22 18:24] maraino opened #1027 "Enable specific ACME challenges"
### Description

We should add an option to the ACME provisioner to enable specific ACME challenges.

If the option is not present, we might default to enable only http-01, dns-01, and tls-alpn-01 for backward compatibility. If it's present, then only the challenges in the list should be valid.

This way, we can have, for example, a custom template for the device attestation challenge.

Open quest

[2022-08-22 18:26] maraino opened #1028 "ACME device attestation issuers"
### Description

For TPMs especially we will need to be able to configure the RootCAs and probably the IntermediateCAs to validate an EK certificate. We should add options to the ACME provisioner to configure those.

[2022-08-22 18:55] dopey commented on #1003
Hey @BenoitKnecht, appreciate your patience. We had a chance to discuss this issue, and Authz in general, this morning. Following up here with our general thoughts.

We don't think that a tighter integration with OPA (or other authorization software) should be part of `step-ca`'s codebase. Instead, our vision is one where `step-ca` defines a number of lifecycle webhooks for the higher level crypto

[2022-08-24 22:08] tashian opened #1175 "[Bug]: Device Authorization grant doesn't complete, via Azure"
### Steps to Reproduce

In the Azure Active Directory portal:
- Create a new App Registration in Azure Active Directory, using the default settings. Note the client ID on the main page for the App Registration.
- Create a Client Secret, using the default settings. Note the secret.
- Finally, choose "Endpoints" to find the URL for the OIDC configuration endpoint

Now, create an OIDC provisioner wit

[2022-08-25 21:51] #1012 closed

[2022-08-30 13:11] LecrisUT commented on #768
@tashian are there plans for smallstep to host their own rpm repository? Otherwise, in order to get step integrated upstream, we would need to include at least a simple spec file in order to get this on copr and eventually into fedoraproject if licensing and everything else would agree.

I have been gaining some basic knowledge about `.spec` and I think I can write a simple one if needed

[2022-08-30 18:06] GermanCoding opened #1033 "[Bug]: Startup fails with "requested SignatureAlgorithm does not match private key type" when root is ECDSA and intermediate RSA"
### Steps to Reproduce

1. Initialize a new step ca instance using i.e `# step ca init`. Use pre-existing certificates.
     - The root certificate must be ECDSA
     - The intermediate certificate must be RSA
2. Try to start this instance

### Your Environment

* OS - Linux x86-64
* `step-ca` Version - Any version since https://github.com/smallstep/certificates/commit/31af1efa484a91f3f8e5c09dd413

[2022-08-31 00:01] maraino commented on #1033
Thanks for noticing; I've fixed it with #1034

[2022-08-31 00:15] maraino commented on #1033
@GermanCoding I'll create a minor release of step-ca once the PR is reviewed.

[2022-08-31 00:35] maraino commented on #768
There are plans, yes, but we haven't prioritized them. @jdoss, do you have any update on this? @LecrisUT might help.

[2022-08-31 04:03] #1033 closed

[2022-08-31 05:48] jdoss commented on #768
I have a spec partially written and I will put it up on https://copr.fedorainfracloud.org/coprs/jdoss/smallstep/ as soon as I can. The biggest problem is step-cli has some circular golang deps that make building all of the dependency packages tough. Or at least the last time I was hacking on it.

[2022-08-31 08:51] LecrisUT commented on #768
So the plan is to include the `.spec` file instead of using `nfpm`? I do support that just for the fact that we can have the packages pushed to distro packages, though we need to confirm that the licensing is ok for that.

Btw @jdoss it seems that we can make a fedora group [like `caddy` did](https://accounts.fedoraproject.org/group/caddy/). If the copr can be linked to the group, that would be he

[2022-09-02 03:46] unreality opened #1039 "Support Gitlab CI Generated JWT within JWK provisioner"
## Support Gitlab CI Generated JWT within JWK provisioner

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Gitlab currently publishes a JWKS endpoint which details the keys used when creating an authentication JWT inside its CI/CD pipelines:
* V1 Token https://docs.gitla

[2022-09-02 16:28] mmalone commented on #1039
My hope is that this does *not* become a niche use case. I think this is a really useful feature. I'm hopeful that stronger TPM-attestation based authentication is available in CI in the future, but this is a nice step forward.

Do you know if the JWTs issued by Gitlab conform to the OIDC "identity token" spec? There's a good chance that they do (Github has a similar feature, and their tokens are

[2022-09-03 06:04] mmalone commented on #1039
I think that might still work. Pretty sure `azp` is not required by `step-ca`. If you create an OIDC provisioners with and set the `configurationEndpoint` to the open id-configuration URL and set `clientID` to the static audience, I think that’ll do it. Pretty sure `clientSecret` is optional but, if not, just set it to any value (it’s only used during the OAuth flow to get a token, not during toke

[2022-09-05 02:30] unreality commented on #1039
Unfortunately using the OIDC provisioner fails due to the JWT missing an `Email` claim.

Ive done more investigation and found its a bit more tricky than i initially thought:
* `AuthorizeSSHSign` requires the JWT to contain a  `stepPayload` claim which Github does not provide
* `AuthorizeSSHSign` requires the `aud` claim to match a set defined by step-ca

I'm unsure on the way forward here:
* Chan

[2022-09-06 19:33] maraino opened #1044 "Add deprecation notice to step-x-init commands"
### Description

Add deprecation notice to step-x-init commands, something like

$ step-pkcs11-init ...
⚠️ This command is deprecated and will be removed in future releases.
⚠️ Please use https://github.com/smallstep/step-kms-plugin instead.
... # Regular output of step-pkcs11-init

[2022-09-07 00:47] maraino opened #1046 "Remove deprecated binaries"
### Description

We should remove these deprecated binaries from the code, ci, and docker images:
* step-awskms-init
* step-cloudkms-init
* step-pkcs11-init
* step-yubikey-init

Consider adding `step-kms-plugin` to docker images.

[2022-09-07 20:20] #1044 closed

[2022-09-08 00:22] tashian opened #1047 "[Bug]: --token can’t be used with --context to start step-ca for the first time in RA mode."
### Steps to Reproduce

When running

`step-ca --token ey.... --issuer-password-file issuer-pw --context ra-quickstart`

I get:

`could not load context 'ra-quickstart'`

### Your Environment

* OS - macOS
* `step-ca` Version - 0.22.0

### Expected Behavior

I expect the context to be created and the RA to start up

### Actual Behavior

`could not load context 'ra-quickstart'`

### Additional Cont

[2022-09-08 01:29] #1039 closed

[2022-09-08 20:26] #1027 closed

[2022-09-12 19:16] maraino opened #1051 "Remove deprecated certificate modifiers"
### Description

With template support a lot of certificate modifiers/enforces are probably not being used at all, we should remove them from the code.

[2022-09-16 18:39] rohan-wire opened #1054 "New provisioner or add to ACME provisioner for Wire™ cert enrollment"
## Issue details

We would like to use Smallstep to enroll X.509 certificates for the [Wire](https://wire.com) end-to-end encrypted messaging application. Wire is entirely open [source](https://github.com/wireapp) and supports federation (multiple servers communicating across domains).

In Wire each user can have multiple clients (ex: desktop, iOS, Android, web). In group conversations, clients th

[2022-09-16 21:14] logopk opened #1056 "adding `--expires-in` to `step ssh renew`"
As @maraino suggested in #622 I would like to post this request to add a verification if renewal time has come for an ssh host certificate.

As of now renewal of the host cert via `step ssh renew` in an automation via cron or systemd can only be forced.
This may lead to an unnecessary high amount of (valid) ssh certs.

Thanks.

[2022-09-17 19:04] maraino commented on #1054
I haven't looked in detail on this, but we will soon be releasing some webhook functionality that can be used to add extra data to certificate templates. You can, for example, authenticate using OIDC, and we will call your webhook to get specific details, for example, the URIs you mentioned before. You can now build the desired certificate using templates, and we will sign that.

This solution wit

[2022-09-19 05:13] rohan-wire commented on #1054
The webhook idea is intriguing. My first observation is that what we need in the certificate subject and subjectAltName is the Wire handle and display name (available via OIDC userInfo), and the Wire client ID (available from the webhook), neither of which matches the `sub` claim in the token. Does the existing OIDC provisioner a) issue an OIDC UserInfo request, and b) allow templating the certifi

[2022-09-19 14:45] michael-anselmi commented on #1056
Hi @logopk - does this not work?

`/etc/systemd/system/cert-renewer@sshd.service.d/override.conf`

[code]

`/etc/systemd/system/cert-renewer@.service`

[code]

`/etc/systemd/system/cert-renewer@.timer`

[code]

[2022-09-19 15:31] logopk commented on #1056
@michael-anselmi
nice one! That of course works. Thank you. Still learning systemd...
Concatenated with && will also work on non systemd renewals.

So this is not an urgent issue anymore - but the parameters on x509 and ssh renewal could be synchronized.

[2022-09-19 18:14] tashian commented on #1056
@logopk I'm going to close this one out, but if you'd like to see those parameters synchronized between ssh and x.509 renewal (as much as they can be, that is), please open a separate issue for that.

[2022-09-19 18:32] tashian commented on #1054
@rohan-wire I love this application of `step-ca`! If you're comfortable storing Wire handles and client IDs in your IdP, you could use custom claims in the OIDC token, and apply them to a certificate using an X.509 template. Here's a link to our [docs about using custom claims](https://smallstep.com/docs/step-ca/templates) (the example uses SSH certs, but the feature works with X.509 certificates

[2022-09-19 18:38] tashian commented on #1056
Whoops, I read the associated discussion context and I understand now that this issue is still relevant for synchronizing the params. Reopened.

[2022-09-19 19:01] maraino commented on #1054
Not really, it does a request with the scope `scope=openid+email`, so the token we get back has an email address embedded. You can test this with a Google account just running:

[code]

You can use the templates for setting the subject and SANs. For OIDC, you can use data from the OIDC token, the CSR, and user-provided data. By default, we only use data available in the token as it's the only veri

[2022-09-19 19:18] maraino opened #1057 "Make ACME errors more useful"
### Description

Most ACME errors have some specific details associated, but those details do not appear in the logs, instead what we have in the `error` field of the logs is just the message returned to the user, that in most cases is not very helpful.

We should show the detail message in the logs instead of the message returned to the user.

[2022-09-19 21:31] #1057 closed

[2022-09-19 23:20] the-maldridge opened #1059 "Include additional data from Cloud Metadata in certificates in disableCustomSAN mode."
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
When using a cloud provisioner with custom SANs disabled, it would be nice for the issued cert to have all the information from the instance identity document (or equivalent) present in the cert.  For example, I m

[2022-09-20 00:20] maraino opened #1060 "Enforce name constraints at cert issuance time"
### Description

Enforce name constraints on X509 cert issuance. For example, if the intermediate has:

* PermittedDNSDomains=example.com, then example.com and www.example.com will be permitted, but acme.com will not.
* ExcludedDNSDomains=example.com, then acme.com will be permitted, but example.com or www.example.com will not.

See [RFC5280 section 4.2.1.10](https://www.rfc-editor.org/rfc/rfc5280

[2022-09-20 17:02] maraino commented on #1060
@hslatman I've extracted the Go code, see `verify.go` on #1061

[2022-09-20 19:24] rohanmahy commented on #1054
It doesn't make any sense for us to store Wire client IDs in the IdP. They change too often and this breaks one of the security properties we like (IdP does not need to fully trust the Wire server).

The Wire app being setup on a new instance already generates a client ID on the Wire server. We just need to prove control of it to Smallstep. The Wire server and Wire app also needs to keep working e

[2022-09-20 19:38] rohanmahy commented on #1054
[snip]

Thanks for the description and the pointers. This is generally better documentation than I am accustomed to, so kudos.

I wrote up a comparison of the two approaches.

**Comparing OIDC + Webhooks to ACME**

_OIDC + Webhooks_

Webhooks are not implemented in the open source client, but if they were:

- The Wire app could include its Wire handle in the CSR. Since there is no UserInfo support

[2022-09-20 22:31] maraino commented on #1054
@rohan-wire Do you have a high-level design for the challenge I can take a look at?

[2022-09-21 22:14] maraino commented on #1059
I suppose you're referring to the AWS instance identity document, right? It's in the token, but you need to decode it and unmarshal it to access it.

For GCP, it should be accessible using `.Token.google.*` e.g. `.Token.google.compute_engine.instance_name`.

For Azure, it's also in the token, but the information they provide is minimal xms_mirid looks like:
[code]

It totally makes sense to add it

[2022-09-21 22:16] maraino commented on #1059
FYI, right now you might be able to use [sprig functions](https://masterminds.github.io/sprig/) to access the AWS one.

[2022-09-22 01:23] the-maldridge commented on #1059
I'll have to take a look.  My immediate use case is with AWS, but I work across all 3 major clouds and a bunch of smaller ones, so an extensible solution here would be ideal.

[2022-09-22 19:41] maraino commented on #1059
My idea is to add support for those 3, for example, having access to AWS instance id like `.IID.instanceId`. But the property names will be specific for each provider.

[2022-09-22 23:56] the-maldridge commented on #1059
I think I may not be following here.  How would you get from `.IID.instanceId` to something being set in the certificate?

[2022-09-23 18:41] maraino commented on #1059
You can use [templates](https://smallstep.com/docs/step-ca/templates/#x509-templates) to define the format of the final certificate. Adding an `.IID` as input data will allow you to use that data in the template.

However, if you use Vault for signing certificates, we don't have a way to send the template attributes to them. Looking at their [API](https://www.vaultproject.io/api-docs/secret/pki#si

[2022-09-23 18:43] maraino commented on #1059
I'm not a Vault, expert, but if you are using it to sign certificates and have an idea of how to do it, please let us knwow.

[2022-09-23 18:55] the-maldridge commented on #1059
Ah I should clarify.  I'm using smallstep certificates to authenticate to vault.  Every machine can auth to the step-ca using an ACME transaction or in some cases a SCEP transaction, and then they have a machine identity.  I think use these certificates to pass to the Vault x509 authentication backend to get a vault token for that machine that I can use to retrieve more secrets and configuration d

[2022-09-23 19:01] maraino commented on #1059
If I understand this properly, adding, for example, `{{ .IID.instanceId }}` in the certificate template as a URI or a custom extension, you would be able to get specific secrets for that particular instance. Right?

If that's the case adding that `IID` attribute to templates is the solution.

[2022-09-23 19:03] the-maldridge commented on #1059
yes, that's roughly the idea.  My understanding is that the InstanceID is
already there.  I'm trying to figure out how to get things like the
instance image ID out of the IID.  It looks like for all 3 clouds the
instance ID should be default?

On Fri, Sep 23, 2022 at 2:01 PM Mariano Cano ***@***.***>
wrote:

--
the-maldridge
***@***.***

[2022-09-23 19:17] maraino commented on #1059
GCP and AWS have that, but Azure is the one that has less information. We should use the names used on each platform, but we can try to use some common attributes for example that instance id, in Azure the identityId can be the name in `virtualMachines` or `userAssignedIdentities`.

[2022-09-30 18:35] edwinclement08 opened #1078 "[Bug]: step ssh config --host errors out"
### Steps to Reproduce

Bootstrap ca on another server
[code]

Try to configure SSH host config like so
[code]

### Your Environment

* OS -
* `step-ca` Version -

### Expected Behavior

Successfully configures the /etc/ssh/sshd_config

### Actual Behavior

Errors out with the following message
[code]

### Additional Context

Trying SSH user config works out like so
[code]

### Contributing

Vote

[2022-09-30 19:01] maraino commented on #1078
They are the ssh certificate that you have signed and its key.

[2022-10-01 09:44] egroeper opened #1080 "Add cosign signature for deb package"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Cosign signature for deb package is missing (no step-ca_0.22.1_amd64.deb.sig).

## Why is this needed?

As a security product delivered outside of regular package management (install deb instead of getting it thr

[2022-10-01 09:58] egroeper commented on #1080
I'm willing to help with this, but unfortunately I currently don't understand the build pipeline thoroughly enough. Any hints are appreciated.

Currently I saw a Makefile for building the deb package and the .goreleaser.yml build pipeline, which seems to do the signing of all artifacts as well.

[2022-10-04 20:27] #1080 closed

[2022-10-05 20:30] DonOtuseGH opened #1092 "[Bug]: Internal Server Error - error storing used token"
### Steps to Reproduce

It might be difficult to reproduce - we have only seen this behavior once while creating a certificate using the following step client template:

[code]

### Your Environment

* CA: Docker image smallstep/step-ca v0.22.1
* Client: Docker image smallstep/step-cli v0.22.0

### Expected Behavior

step client should not throw any error but create the certificate instead

### Ac

[2022-10-05 23:01] tashian opened #1093 "[Bug]: Two possible policy subject name parsing bugs"
### Steps to Reproduce

This might be two bugs?
If it is two bugs, they are both probably related to the same piece of code, so I'm submitting a single issue.

For the first, add the following policy:
[code]

The CA doesn't start with this policy.

### Actual Behavior

With this policy, I get

[code]

### Additional Context

For the second bug, I tried this policy:

[code]

From the docs, it seeme

[2022-10-06 01:03] unreality commented on #256
I might take a crack at this, the current things stopping this are:
* When a new SSH cert is issued, `StoreSSHCertificate()` stores it against the serial number in `sshCertsTable` , and it also stores the serial in `sshUsersTable` against all the principals in the cert; We want to be able to revoke all certificates that have been issued to a user, so we need to add a way of tracking users old cert

[2022-10-06 10:59] marcohald opened #1094 "configurable Certificate duration for the ACME Provisioner"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

It would be useful to have a config option for the Certificate duration for the ACME Provisioner as discussed here https://github.com/smallstep/certificates/discussions/1049
## Why is this needed?
We monitor the

[2022-10-07 02:08] tashian commented on #1093
Ah, OK, thank you for the clarity.

To your first point, one of my misunderstandings here was reading the URI policy doc and seeing URI schemes under the example table in that section. So, when I got the scheme error I thought, well, clearly when it says "schemes not supported" it is referring to schemes other than "https:". And I concluded it was somehow parsing my URI wrong because of the `#` fr

[2022-10-07 09:10] hslatman commented on #1093
Had a look at the docs and I understand your confusion. I've updated them to no longer include the scheme: https://github.com/smallstep/docs/pull/150.

We probably allowed the scheme in the configuration before, but then updated the implementation because that could confuse users and I forgot to update the docs.

Going forward we could lift the restrictions on just the URI domain part, so that we

[2022-10-09 10:46] rommanio opened #1098 "Hashicorp Vault PKI as a "frontend" to step-ca"
Could it be possible?

        What information would you like stored in Vault? It sounds like you want `step-ca` to issue certificates... are you wanting to use Vault's authentication mechanisms to get a certificate from `step-ca`? So when you request a certificate from Vault it's actually issued by `step-ca`?

_Originally posted by @mmalone in https://github.com/smallstep/certificates/issues/138

[2022-10-10 13:03] hslatman commented on #1098
@rommanio: Do you want to put Vault in front of `step-ca`? Or do you want `step-ca` in front of Vault? The title seems to be about the first, but the comment comes from a thread that seems to be more about the latter.

A case can be made for both. With `step-ca` in front of Vault, the Vault PKI engine can be used to sign certificates. This is already possible with the `Vault RA Mode` described her

[2022-10-11 03:48] unreality opened #1103 "[Bug]: Certificates with UnknownCriticalExtensions cannot be renewed"
### Steps to Reproduce

* Create a new provisioner with a template that has an unknown critical extension, eg:
[code]
* Obtain a certificate normally (eg `step ca certificate TestCert testcert.crt testcert.key`)
* Attempt to renew certificate with step (eg `step ca renew --force testcert.crt testcert.key`)
* step-cli will report an error about invalid certificate, step-ca will report:
[code]

###

[2022-10-11 15:03] marcohald commented on #1094
@hslatman yes you are correct.
I think it would be better if the lifetime and the renew time could be specified in hours, for the most users that need it customized

[2022-10-11 18:50] maraino commented on #1103
@hslatman the CA will also call `x509.Verify` with the certificate present in the token.

[2022-10-11 18:58] hslatman commented on #1103
Hmmm, too bad 😔

[2022-10-12 18:49] maraino commented on #1103
Hi @unreality, the root of the problem is that by RFC 5280 any system MUST reject a certificate with unknown critical extensions. Go doesn't know about them, and the verification fails appropriately.

We don't want to change the TLS verification, but we can change the X5C verification for a subset of extensions. The list of OIDS should be configurable, although there might be a reason to include s

[2022-10-12 21:35] hslatman opened #1105 "Improve URI policy configuration and matching"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Policy rules for URIs can currently only be configured with an allowed domain. Other parts of the URI in a CSR can be anything, because no policy is enforced on the other parts. It is thus not possible to only al

[2022-10-12 21:36] hslatman commented on #1093
Opened https://github.com/smallstep/certificates/issues/1105 to track improved URI policy configuration support. Closing this.

[2022-10-12 21:36] #1093 closed

[2022-10-13 00:00] unreality commented on #1103
Turns out this particular one doesn't need to be critical, I just made an error reading some MS documentation :)

1.3.6.1.4.1.311.20.2 is used to mark which Microsoft certificate template was used when creating the certificate. The BMP value i specified (DomainController) is required for Domain Controller certificates to be recognised correctly (per https://learn.microsoft.com/en-us/troubleshoot/w

[2022-10-13 01:17] maraino commented on #1103
Thanks @unreality, I'm closing this issue for the moment, but if we need to allow critical extensions at some point, we can add a list. However, the need for a critical extension in this context would be very rare.

[2022-10-13 04:38] unreality opened #1106 "[Bug]: Certificate renewal does not preserve Subject with ExtraNames"
### Steps to Reproduce

Create a new provisioner with a template that has ExtraNames in the Subject, eg:
[code]

* Obtain a certificate normally (eg `step ca certificate TestCert testcert.crt testcert.key`)
* The new certificate will have a correct Subject eg: `Subject: DC=com,DC=example,DC=dc,OU=Domain Controllers,CN=TestCert`
* Renew certificate with step (eg `step ca renew --force testcert.crt

[2022-10-14 23:21] LeeWong commented on #468
Hi I am very new to step-ca.

Does ACME revocation implementation support cert revocation by authenticating using the private key belonging to the cert to be revoked as well as using the private key belonging to the account that requested the certificate?

Based on line 150 to line 157 on acme.go, it does not seem to support:
[code]

Thank you.

[2022-10-17 09:58] hslatman commented on #468
Hey @LeeWong,

Yes, `step-ca` does support revocation via ACME. You can revoke a certificate both using the certificate private key as well as the account private key that was used to request the certificate. This functionality was merged in https://github.com/smallstep/certificates/pull/625. We haven't implemented revocation using a different, but authorized, account private key yet. We're tracki

[2022-10-17 16:45] LeeWong commented on #468
@hslatman Thank you so much for the clarification and the merge request.

[2022-10-17 17:27] GuillaumeRossolini opened #1114 "Building the hsm Docker image often times out"
Hi,

I first started following the steps here:
https://smallstep.com/blog/build-a-tiny-ca-with-raspberry-pi-yubikey/

I tried following along with the v0.22.1 tag from GitHub with my Raspberry Pi OS (September 2022 release), but the `make build` instruction didn't seem to do anything. I learned later that some go modules depend on golang higher than v1.18, but this didn't show in the console at th

[2022-10-17 17:36] GuillaumeRossolini opened #1115 "[Bug]: env: can't execute 'bash': No such file or directory"
### Steps to Reproduce

Get the source code, run `docker build -f docker/Dockerfile.step-ca.hsm .`

### Your Environment

* OS: Raspberry Pi OS Lite (September 22nd 2022) - Debian bullseye
* `step-ca` Version: v0.22.1

### Expected Behavior

Env should be using the system's default shell, which in the case of this Dockerfile, is `sh` for `golang:alpine`.

### Actual Behavior

[code]

### Additiona

[2022-10-17 21:27] hslatman commented on #468
I'm going to close this issue, because ACME revocation support has been in `step-ca` for a while. It can be reopened if issues arise. Support for ACME revocation authorization using a different, but authorized, account key is tracked in https://github.com/smallstep/certificates/issues/767.

[2022-10-17 21:27] #468 closed

[2022-10-18 17:48] GuillaumeRossolini commented on #1114
NB: for some reason, I didn't get the pretty new issue UI. Sorry about that, I didn't know there was one.

[2022-10-19 23:38] maraino commented on #1115
Hi @GuillaumeRossolini, I think the problem is caused by the `.version.sh` script, that uses bash by default, I believe this simple PR will fix your issue PR https://github.com/smallstep/certificates/issues/1121

[2022-10-19 23:39] #1115 closed

[2022-10-20 00:54] maraino commented on #1114
There is no real solution to those timeouts from our side. The only thing that we can do is to create a new layer with what you suggest (`RUN make V=1 GOFLAGS="" download`). With that new layer, once it passes, it will be cached and won't be run again unless something in the repo changes.

By the way, `make V=1 GOFLAGS="" build` should be equivalent to `make build V=1 GOFLAGS=""`

[2022-10-20 02:16] maraino commented on #1106
Thanks again @unreality, this should fix the issue #1123

[2022-10-20 02:16] #1114 closed

[2022-10-20 09:05] joostdecock opened #1134 "[Docs]: Include note in Docker docs about enabling remote management"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to document this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Affected area/feature

When running in a Docker environment, you can't do all that much without enabling remote management.

From what I read on Discord, this seems to be a common issue for people starting out with the CA on Doc

[2022-10-20 09:06] GuillaumeRossolini commented on #1115
Shouldn't the build fail at that point?

[2022-10-20 09:07] GuillaumeRossolini commented on #1115
@maraino Shouldn't the build fail at that point?

[2022-10-20 11:40] joostdecock commented on #1134
For those who face the same problem, you can patch your config with this one-liner:

[code]

[2022-10-20 17:40] maraino commented on #1115
I though so, but `$(shell command)` doesn't make the Makefile to fail:

[code]

[2022-10-20 17:41] #1106 closed

[2022-10-20 19:36] maraino commented on #1094
I don't understand the need for this, the CA will automatically renew its own certificate, and if it's unable to do it, it won't be able to issue new certificates to anyone. And it's always possible to monitor that the CA always has a valid certificate just doing a request to it.

[2022-10-25 10:49] hslatman commented on #1134
Adding this PR here for reference: https://github.com/smallstep/certificates/pull/1075

[2022-10-25 19:18] tashian opened #1141 "Separate the admin API from the CA API?"
A [common](https://www.envoyproxy.io/docs/envoy/latest/operations/admin) [pattern](https://www.rabbitmq.com/management.html) in services that have an Admin API is to stand it up on a separate socket address.
And, since a CA is a particularly sensitive application, it could be wise for us to do the same.
There are tradeoffs, though.
What we do right now is simpler, and it is secured in the same way

[2022-10-26 05:19] dopey commented on #1092
Hey @DonOtuseGH 👋  thanks for opening the issue!

This does appear to be a networking issue, and it's not one we've heard about before. Seems like a network fluke.

With respect to fault tolerance - we believe failing without retry is acceptable behavior for this request. Retry logic seems like it would be use case dependent and can be added at the place where the command is being used.

[2022-10-26 17:22] dopey commented on #1141
via mariano - this would probably be optional to conform with other projects.

[2022-10-27 14:39] foleyjohnm opened #1144 "Add Support for AIA / caIssuers Extension"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

It would be great if there was support for adding the Authority Information Access (AIA, 1.3.6.1.5.5.7.1.1) extension to certificates issued off of a step-ca. I am mainly looking to add caIssuers, but OCSP would

[2022-10-27 19:35] #206 closed

[2022-10-27 19:57] maraino commented on #1144
This one is actually easy to add:
[code]

[2022-10-27 20:06] maraino commented on #1144
The new CRLs also have an extension indicating the URL of the CRL. Currently, this is set to the first DNSName without any port, it will default to 443 because it's HTTPS.

One option is to follow the same logic, another is to add a new field to be able to configure this.

[2022-10-27 20:54] foleyjohnm commented on #1144
doh! Maybe just need a documentation change to add the issuingCertificateURL. I did not see that anywhere, but could have totally missed it.

re: CRLs: Are you talking about the work of incorporating CRLs into Step? I was always taught that CRLs need to be retrieved over HTTP to possibly prevent a loop condition when a client pulls the CRL, and I believe that Microsoft products won't even download

[2022-10-27 21:24] hslatman commented on #1144
Made the same mistake as @foleyjohnm; totally overlooked the fact that the AIA is in the `x509.IssuingCertificateURL` 😓

 @foleyjohnm what @maraino means is that in our support for CRLs, we automatically add the URL of the location of the CRL to the issued certificates. The URL is determined from the first DNS name that the CA listens on. We could do something similar for the AIA/IssuingCertificat

[2022-10-28 15:55] thinksilicon commented on #341
Hey, this mentions it's fixed for non HA environments. What is the current status on this issue? I'm running multiple instances of step-ca behind a load balancer which all connect to the same MySQL database. Would this still cause issues?

Also I'm not entirely sure I understand exactly when this becomes an issue. What is considered an account with ACME/Step-CA? Would using a different e-mail per

[2022-10-28 18:04] foleyjohnm commented on #1144
A non-https interface would be good too. Keep in mind, CRLs are already signed, so putting them behind HTTPS is kind of like putting a lock on a lock.

I do think that CRLs should be configurable, and I would almost turn them off by default. I could see someone getting themselves into trouble if they were on by default, and you guys do a good job of explaining the perks/theory behind passive revoc

[2022-10-29 19:01] maraino commented on #1144
They are configurable and they are off by default.

Yes, that was my point, we don't have a way to know for sure how the user access this, which port they use, if there's a proxy, load balancer, or which domain, ... Currently I'm assuming the user is using 443, but we can make this configurable, and we can set AIA, Distribution points, or any similar extension properly.

You should be able to conf

[2022-10-30 05:21] Trapster223 opened #1145 "##$"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

## Why is this needed?

[2022-10-31 08:44] #1145 closed

[2022-10-31 08:45] hslatman commented on #1145
Please re-open with an actual issue description

[2022-10-31 16:43] dopey commented on #341
@thinksilicon This is not fixed for HA environments. The "fix" was a software mutex (lock), that only affects the process on a single machine.

If you have a single client generating enough traffic that two of your load balanced instances are processing an ACME request for the exact same account simultaneously, they could create a race because they might get inconsistent data.

The issue is addres

[2022-10-31 16:47] thinksilicon commented on #341
Hey @dopey thanks for your answer!
just to clarify, what is considered an account within the ACME service? Is it based on the e-mail address? In that case if every request uses a different address this would not be an issue?

Basically I'm looking for a work around for this case.

Also are there any plans to merge those changes into the open source version?

[2022-10-31 17:15] dopey commented on #341
Good question. An ACME account is pretty much just a JWK - I'm not even sure we require, much less store, emails associated with accounts.

How are you using the ACME protocol? ACME CLI client? ACME sdk for a language?

The way most ACME CLI clients work is that they create a pub/priv key pair on first ACME request and then store it in some config directories locally. Generally, each subsequent re

[2022-10-31 17:46] zachwalton commented on #341
Just speaking from our own experience, one ACME account per order does indeed mitigate this issue. You can look at the places in code where the mutex is acquired / released to gain a deeper understanding of where the races are.

[2022-10-31 18:51] dopey commented on #341
For the record, the reason this is difficult for us to add to Open Source is that our product DB backend API is nosql. Even though the DBs support SQL the format and API in which we store data in the open source is key-value (nosql).

What this means for the open source is that we maintain an index table of open orders per account. Whereas in a full SQL environment we can just make a query to the

[2022-10-31 20:03] thinksilicon commented on #341
Hey, thanks y'all for your answers!

I was planning on just using certbot with http-challenges. That's why I was wondering about the e-mail as this seems to be the only common identifier in that scenario.
But if the private-key / it's CSR is the defining portion then I'd just have to rotate the key on every request/renewal and as you mentioned clean up the table in the database ever so often. Can

[2022-11-01 19:10] #1092 closed

[2022-11-01 19:15] dopey commented on #256
Hey @unreality 👋 . I would hold off on implementing this just yet. As mentioned in a few other PRs, we are planning to release a plugin or web-hook style architecture that would allow users to "attach" additional functionality without it living in the `step-ca` codebase.

This feature would be a great use case once that architecture becomes available.

[2022-11-04 03:53] #1015 closed

[2022-11-07 20:41] maraino commented on #1021
Renewal support for cloudcas was already implemented, and renewal support for vaultcas is not possible with the current methods as it [requires](https://developer.hashicorp.com/vault/api-docs/secret/pki#sign-certificate) the CSR,

[2022-11-07 23:36] #1021 closed

[2022-11-08 23:57] unreality opened #1168 "Simple Bastion script/webhook"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

It would be nice to be able to define an executable or webhook to access that will return bastion data for a host.

This could easily hook into the `.WithSSHBastionFunc()` and provide a func that attempts a webho

[2022-11-09 01:58] abotelho-cbn opened #1170 "Does step-ca support SCEP manual mode?"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details
Does step-ca support SCEP manual mode?

According to the SCEP RFC (https://www.rfc-editor.org/rfc/rfc8894), section 2.4 (https://www.rfc-editor.org/rfc/rfc8894#name-enrolment-authorisation) SCEP servers can option

[2022-11-09 02:01] maraino commented on #1168
Right now, one option that might be useful would be to configure custom ssh templates.

When you initialize a test CA with `step ca init --ssh` a new `templates/ssh` directory will be created with custom templates that you can modify:

[code]

They are also configured in the ca.json, by default, with an empty configuration, the defaults would be used, those generated ones are the defaults.

If you

[2022-11-09 15:22] hslatman opened #1171 "[Bug?]: ACME certificate response has extraneous `Content-Type` parameter"
### Steps to Reproduce

1. Create a `step-ca` instance with an `ACME` provisioner.
2. Setup a [ejabberd](https://github.com/processone/ejabberd) instance, configured with the `step-ca` ACME provisioner as the ACME server.
3. Watch it fail with an error similar to the one in https://github.com/processone/ejabberd/issues/3938

### Your Environment

Not relevant

### Expected Behavior

The certificat

[2022-11-09 16:52] nodakai commented on #981
Wonder if you could keep it open only for legitimate users? If hiding them is opt-in, few would bother to find the config and turn it on

[2022-11-09 18:42] tashian commented on #473
My hunch is that even for higher-volume CAs, a GC routine that runs periodically and by default would not have a huge impact. (And if it does, the recommendation is simple: Switch to mysql or postgres.)

However, _migrating_ existing folks to a periodic GC—for CAs that have been running for a while and have a lot of GC backlog—is where trouble could arise, and we’d just have to get the comms right

[2022-11-09 19:09] maraino commented on #473
FYI: badger already provides a cli to do a gc, backup, restore, ...

The CA should be stopped to do for example a GC, and the tool might need to be the one specific for the version of badger used.

[2022-11-09 19:11] maraino commented on #1028
Roots are already supported, moving intermediates to v0.24.0

[2022-11-09 19:14] azazeal commented on #1171
Is there a specific `User Agent` header value that `ejabberd` requests carry, @hslatman?

[2022-11-09 20:29] hslatman commented on #1171
@azazeal I haven't tested it with `ejabberd` (yet), nor with the ACME client library (https://github.com/processone/p1_acme), so I'm not entirely sure. By default `inets`, the default HTTP client that the ACME client uses, doesn't seem to set it (ignore the 404):

[code]

The CA logs this:

[code]

In the `ejabberd` source there's a couple of occurrences of `user-agent`, but I don't think these ar

[2022-11-09 20:47] lukewarms commented on #1171
@hslatman CA logs as follows, you are correct, user-agent empty :

[code]

[2022-11-09 21:21] hslatman commented on #1170
Hi @abotelho-cbn: at the moment our SCEP implementation doesn't support manual approval. We offer a fairly basic SCEP integration at this time, primarily geared towards automated enrollment, as `step-ca` has targeted the automated use cases more so than manual certificate issuance. We do offer a form of manual approval in our hosted offering, but that's not fully integrated with our SCEP integrati

[2022-11-09 21:59] hslatman commented on #1028
I vaguely remember we discussed that the client should send the intermediates. That's also in line with the `tpm` format [requirements in the WebAuthn spec](https://www.w3.org/TR/webauthn-2/#sctn-tpm-attestation). I think we can leave intermediates out until ACME clients integrate support for `device-attest-01` and decide to or can not send the intermediate certificates. We could move it to a sepa

[2022-11-10 01:25] #1175 closed

[2022-11-10 01:27] #1047 closed

[2022-11-10 05:09] unreality commented on #489
@maraino would you accept a merge that added this in? It seems like it would be fairly huge, and need to add something similar to the `sshCA` option for provisioners, and add things like `SignNebula()` similar to `SignSSH` endpoints?

If the new webhook/plugin functionality would enable this, then I'll wait for that to be released instead

[2022-11-10 05:30] LecrisUT commented on #489
It's in beta. Haven't tested what's done so far yet.

https://github.com/smallstep/certificates/blob/7101fbb0ee939d24756695508845e78e41a1cb59/authority/provisioner/nebula.go

[2022-11-10 05:33] unreality commented on #489
I think that code is for using a Nebula cert to authorise an action for SSH or x509?

I'm proposing adding minting of new nebula certs that nodes can use to connect to the mesh, so step would act as a nebula CA.

[2022-11-10 05:43] LecrisUT commented on #489
I don't see why not, especially now that CRL is included. Would be good though to have most of the client side cli on nebula, e.g. requesting a new certificate from the CA's url.

[2022-11-10 10:23] hslatman commented on #489
Hi @LecrisUT,

@unreality is right about the current Nebula integration. It's used to authenticate using a Nebula certificate to request an X.509 or SSH certificate. Not for requesting a Nebula certificate from `step-ca`.

Minting Nebula certs has come up in internal discussions more than once. It could be an interesting addition to our current certificate types, but it certainly is going to be a

[2022-11-10 11:30] hslatman commented on #1171
One other thing we discussed internally was whether additional PEM headers could be encoded using a different `charset` when returned as a response, necessitating it to be set appropriately. According to [RFC1421](https://www.rfc-editor.org/rfc/rfc1421#section-4.6), the PEM format has room for these additional headers, but [RFC7468](https://www.rfc-editor.org/rfc/rfc7468#section-2) describes the f

[2022-11-10 22:32] #1171 closed

[2022-11-11 15:57] nodakai commented on #339
I had to enable `disableIssuedAtCheck` for my Azure AD free. Maybe you can apply `backdate` mechanism to `issuedAt` check as well?

[2022-11-11 22:14] abotelho-cbn commented on #1170
SCEP is a hard requirement in fact. We have equipment that uses the G2S standard (https://www.gamingstandards.com/en/standards/g2s-game-system) which requires SCEP for interoperability reasons.

I'd be open to further discussion!

[2022-11-14 01:47] 61131 opened #1181 "[Docs]: Clarity around policy configuration"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to document this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Affected area/feature

I have a newly initialised step CA within a docker container and want to sign a CSR which incorporates a subjectAltName attribute. The documentation of policy rules for provisioners is however unclear with

[2022-11-14 09:41] hslatman commented on #1181
Hi @61131,

Sorry for the confusion. What exactly are you missing? At https://smallstep.com/docs/step-ca/configuration#example-configuration, there's a short example of a policy to prevent the full configuration from becoming too long (see the `policy` under `authority`). At https://smallstep.com/docs/step-ca/policies#policy-in-configuration-file there's a full example, and it's mentioned that it

[2022-11-14 10:34] hslatman commented on #1181
The root cause of this issue should be fixed with https://github.com/smallstep/cli/pull/799.

[2022-11-14 21:38] 61131 commented on #1181
Hi @hslatman,

Thanks for your prompt and very complete response.

With regard to inconsistency in policy documentation, I noted that there is a difference in policy definition between https://smallstep.com/docs/step-ca/configuration#example-configuration and https://smallstep.com/docs/step-ca/policies#policy-in-configuration-file. In the former, policies are defined in the following manner:
[code

[2022-11-14 23:17] 61131 opened #1184 "Maintaining subject in certificate generated from CSR"
## Hello!

- Vote on this issue by adding a 👍 reaction
- If you want to implement this feature, comment to let us know (we'll work with you on design, scheduling, etc.)

## Issue details

Following on from #1181, it appears that step only persists the CommonName attribute when generating certificates from CSRs. Indeed, the signing process fails if the token includes other attributes within the sub

[2022-11-15 22:49] hslatman commented on #1170
@abotelho-cbn are you on our Discord by any chance? I would like to send you an invite to set up a meet.

[2022-11-16 10:28] hslatman commented on #1171
The `mod_md` [module](https://github.com/icing/mod_md) for Apache experienced the same issue as `ejabberd`, so that's also fixed with https://github.com/smallstep/certificates/pull/1172.

[2022-11-16 22:59] dopey commented on #489
Following up after we had a chance to discuss with the team this morning.

Our understanding of Nebula is that it is an enterprise product. Therefore minting Nebula certificates would also be useful only for enterprises. As such, if we do implement this feature, it will only be part of our enterprise offering (not OSS).

We're open to having our minds changed (we can be quite capricious :p), but t

[2022-11-16 23:04] unreality commented on #489
@max would the team accept a pull request that implemented it? Or is it outside of the scope you want in the open source product?

[2022-11-16 23:22] dopey commented on #1184
Hey @61131 👋,  thanks for opening the issue!

First off - great question. We had some time to discuss this morning and I'll try to summarize our thoughts below.

The fact that that a client of `step-ca` cannot simply request a certificate where it can set the Organization, Country, State, etc. at will is by design. We feel that allowing a client to set these values would be too permissive. `step-c

[2022-11-16 23:38] 61131 commented on #1184
Hey @dopey, thanks for the response.

This makes sense, but isn't the question of security addressed through the return of an appropriately scoped authentication token to authorise the signing action? Perhaps if controls are implemented around the permissible scope of token issue, greater flexibility can then be afforded in certificate generation. In any event, the proposition of using templates f

[2022-11-17 07:40] dopey commented on #1184
In a perfect world, yes. But that's not how our own tokens work. But our JWK and K8sSA provisioners don't do any validation on the "subject name" that the client requests. You've witnessed that, because you're able to generate a token with `C=...,O=...`. In order for us to do any more intelligent "authorization" before issuing a token an admin would need to configure policy rules somewhere (which

[2022-11-17 08:28] taher-mosbah commented on #953
Hi @dopey, @elyscape , I'm curious what's the status of this feature as I see some work was merged with [this PR](https://github.com/smallstep/certificates/pull/977) although testing it fails for me.
Running step 0.23.0 locally, server responds to `HTTP-01` challenge but fails `device-attest-01` sent from iOS 16 and Ventura 13.1 beta 3, fails with:
`failed to request authorization` which can be tr

[2022-11-17 08:51] hslatman commented on #953
@taher-mosbah I think you may have to set the `device-attest-01` challenge to enabled in your ACME provisioner. It'll look similar to this:

[code]

This will only respond to ACME requests for which the `device-attest-01` challenge would be sent, so it will fail for domain names, for example. By default, all existing challenges will be enabled. We're working on some new docs that explain the ACME

[2022-11-17 09:23] taher-mosbah commented on #953
thanks @hslatman I wasn't aware of this, I'm having a runtime error now though with this config:
[code]

[code]

[2022-11-17 09:54] hslatman commented on #953
@taher-mosbah it seems the challenge cannot be validated and returns an error. Then in handling the error, it hits a nil pointer when trying to format the stacktrace, so the reason it failed in the first place is lost 😓 I think I know a fix for the latter, but I'll need to test it quick with an iOS device.

[2022-11-17 10:39] hslatman commented on #953
Can you share your `.mobileconfig`, or the settings used to create it? It seems the attestation evidence isn't provided or cannot be parsed correctly.

We're indeed checking for the UDID to be equal to the `ClientIdentifier`.

[2022-11-17 11:45] taher-mosbah commented on #953
Thanks @hslatman I managed to get it to work !
I was testing on macOS and forgot to `HardwareBound` back to `true`.

[2022-11-17 13:22] hslatman commented on #953
Great to hear, @taher-mosbah 😄

Thank you for pointing out the issue with the stack trace logging; not a fun one 😅 A fix is underway: https://github.com/smallstep/certificates/pull/1187.

I'll have a look at improving our error handling and logging around `device-attest-01`, to make it easier to debug potential issues when trying it out. Tagging @tashian as this may be something to include somethi

[2022-11-21 06:49] nikhilk1701 opened #1189 "[Bug]: Step SSH CA getting "commands out of sync. You can't run this command now" error while storing tokens in a MYSQL backend."
### Steps to Reproduce

Out current setup:
1. We have three step-ca servers running off the same mysql backend.
2. The CA servers are configured to use keycloak as an OIDC provisioner.

Steps to reproduce:
1. `step ssh login <keycloak-user-email-id>`
2. Login into keycloak via the web interface the step client opens.
4. After logging in, the webpage says `token can be found in the command line` bu

[2022-11-22 19:31] abotelho-cbn commented on #1170
Just joined! abotelhocbn#6332

[2022-11-23 18:59] dopey commented on #1189
Hey @nikhilk1701 👋. Thanks for opening the issue!

I'll look into this, but was hoping we could get a little more context on how the errors are coming about.

1. Do this error happen every time you make this request?
2. Does it matter how long the CAs have been running? Is this happening right after they boot up, or do they need to be running for a little while before the errors start happening.
3

[2022-11-23 22:05] hslatman commented on #1181
A PR for our docs repo has been created: https://github.com/smallstep/docs/pull/170.

[2022-11-23 22:21] tashian commented on #1181
The docs have been updated. Thanks @61131 @hslatman

[2022-11-23 22:21] #1181 closed

[2022-11-24 07:48] nikhilk1701 commented on #1189
Hey @dopey 👋. Thanks for picking up the issue. To answer your questions,

1. This is a transient error, occurring intermittently. I have observed this happing three times in a row at max. We also noticed the frequency of these errors increasing with age of the instances.
2. While trying to reproduce the error, I have noticed that the issue is popping up as soon as I increased the number of instanc

[2022-11-28 19:46] hslatman commented on #183
@dopey it might be nice to define/provide these API docs similar to how we're going to provide them for our product APIs.

@mcarbonneaux I've been trying out the [go-chi/docgen](https://github.com/go-chi/docgen) package as one way to document our product API, as it looked like a nice way to include the middleware documentation automatically too. I did encounter some minor issues that I can live wi

[2022-11-30 21:09] Janhouse opened #1194 "[Bug]: proxycommand fails to start handshake properly if doing OIDC login"
### Steps to Reproduce

1) Do the `ssh host` attempt using OIDC SSO without doing `step ssh login` and without doing `ssh host` attempt beforehand.

* Every time before running `ssh host` run `step ssh logout` to trigger login mechanism

### Your Environment

* OS - Archlinux
* `step-ca` Version - 0.23.0

### Expected Behavior

It should create the certificate, add to the agent and log you in the

[2022-11-30 22:31] Janhouse commented on #1194
I debugged it a bit and here is the reason this bug exists:

`step ssh config` sets up ssh ProxyCommand without the provisioner parameter.

By default after adding oidc provisioner on step ca, there are 3 provisioners (OIDC, JWK, SSHPOP).

The step client uses the user selection (thus reads from stdin) to choose the provisoner, which is also the case for proxycommand, since it just reuses the same