[2020-05-29 00:10] #209 closed

[2020-05-29 00:23] dopey commented on #279
@tuxnice Now that I'm looking at the actual code vs. the documentation I think the documentation might be wrong. The name of the attribute should be `badgerFileLoadingMode` (not `badgerValueLogLoadingMode`).

When you have the chance can you try setting your database configuration to:
[code]

If that doesn't fix the issue, then I did cut a release (https://github.com/smallstep/certificates/release

[2020-05-29 09:53] Hardcorian commented on #206
Hello, yes, I know your general position regarding the active revocation, but in our current environment is useful to have the CRL implemented. For this reason, have a flag like **--CRL** is a simpler way to have the option to integrate inside the ACME server without a complete change of your position or code. But I understand the time is short for everybody, even the minimum change in a code requ

[2020-05-29 11:57] tonyhawz commented on #273
Im using jwilder/nginx-proxy (https://github.com/nginx-proxy/nginx-proxy)
with
jrcs/letsencrypt-nginx-proxy-companion (https://github.com/nginx-proxy/docker-letsencrypt-nginx-proxy-companion)

I'm not sure at the amount of open orders, I have 5 sites using the default email

[2020-05-29 19:06] tuxnice commented on #279
Thank you, `"badgerFileLoadingMode": "FileIO"` was fixing the problem. Also with both versions: `badger` and `badgerV2`. Is there a reason why not using `badgerV2` as default?

[2020-05-29 19:22] dopey commented on #279
Awesome! Glad that worked. My bad on the documentation snafu.

The reason is that most users are using badgerV1 at this time (we assume, since we don't really have a good way of knowing) and badgerV2 is not backwards compatible. The plan is to switch to `badgerV2` as the default with the next "major" release - v0.15.0. Users on badgerV1 will need to manually update or explicitly set badgerV1 as th

[2020-05-29 19:22] #279 closed

[2020-05-29 19:37] p3lim opened #280 "Transaction conflict when renewing certificates"
### Subject of the issue
I use step-ca as an ACME directory for other services, Caddy being the biggest consumer. I've noticed that often renewal transactions are not completing. They work just fine for a while, both issuing and renewals, but then they stop renewing.

### Your environment
* OS - CentOS 8.1.1911
* Version - 0.14.4
* Podman - 1.9.1

### Steps to reproduce
I just followed [your blog

[2020-05-29 19:49] dopey commented on #280
Thanks for opening the issue! We actually had a very similar issue submitted a few days ago by someone using the mysql db backend (https://github.com/smallstep/certificates/issues/273).

I'm actively working on this one and hope to have a patch released early next week. There are two stop gap solutions for badger:

1) Start using a new/different "acme account".
2) Delete the row in the table. This

[2020-05-30 19:03] dopey commented on #280
https://github.com/smallstep/certificates/releases/tag/v0.14.5-rc.3.cullACMEOrders -- Give this a shot when you get the chance.

[2020-05-30 19:25] p3lim commented on #280
Built and deployed, gonna give it a few days and see if I can get the issue to reproduce.

[2020-05-30 19:32] dopey commented on #280
thanks!

[2020-05-30 19:57] p3lim commented on #280
Got a new error:
[code]

Full line:
[code]

Doesn't seem to be entirely related.

[2020-05-30 20:09] dopey commented on #280
shoot. Okay. Go ahead and revert and lemme see if I can reproduce. sorry :/

[2020-06-01 17:42] dopey commented on #280
@p3lim reading over our thread from Gitter, it looks like you have up to 20 clients creating new ACME orders on the hour. The logic that I added (to cull orders in real time) makes it more likely to run into a race condition, because more database writes are taking place. When we do hit a race condition, we 500 immediately (failing safely).

So I wonder if your renews (order creations), are all ta

[2020-06-01 17:50] dopey commented on #280
I'll try to add a bit of retry-logic to make this occurrence less likely.

[2020-06-01 20:10] dopey commented on #280
Looking over the error in your original issue, I think the fix that I pushed on friday won't actually have helped you. In fact, it's more likely to exacerbate your problem - because race conditions will become slightly more probable.

Best advice I have at the moment is to stagger ACME renews with a bit of random jitter where possible, or retry request renews when they fail with 500.

Let me know

[2020-06-01 20:14] dopey opened #282 "Switch to a SQL storage backend"
Currently `step-ca` uses a NoSQL storage schema.

Switching to a SQL schema will have numerous benefits:
- Allow users to easily query the db to build their own reporting.
- Allow real time queries where indexes are currently necessary (acme_account_orders_index, etc.)

[2020-06-01 20:16] #273 closed

[2020-06-01 21:04] p3lim commented on #280
Aside from two domains/registrations the rest of my setup is managed by Caddy instances, the majority of the domains from a single instance, and it's supposed to manage a queue. I have maybe 10 domains managed by one Caddy instance, all those domains are backed by step-ca, and Caddy will renew them in order (there's your jitter).

From what I've seen, if Caddy fails to renew a certificate in that

[2020-06-01 21:25] dopey commented on #280
I was just able to recreate the issue. Debugging.

[2020-06-02 01:17] dopey commented on #280
Pretty sure I found the source of the new problem. PR waiting for approval - https://github.com/smallstep/certificates/pull/283. If you want to try it out, it's the branch `max/empty-oids-nil`.

[2020-06-02 03:00] dopey commented on #280
merged to master.

[2020-06-02 22:56] mkkeffeler commented on #239
can confirm this is needed as well! would be huge add for enterprise use cases.

[2020-06-02 22:59] mkkeffeler commented on #183
this is the same issue we are facing, we have some use cases that may require we use the api so having those endpoints documented would be huge, we should use a standard like swagger or even just publish a super awesome postman collection and that would be enough to get people started!

[2020-06-04 18:52] dopey commented on #169
We're closing this for the time being. But if you're still having a problem with it, please re-open.

[2020-06-04 18:52] #169 closed

[2020-06-04 19:00] sourishkrout commented on #149
@jkralik please track https://github.com/smallstep/certificates/issues/168 for ACME retries which we're currently completing. That's essentially a more wholistic way to solve this in a standard compliant way.

[2020-06-04 19:00] #149 closed

[2020-06-04 19:03] sourishkrout commented on #109
Docs available at https://github.com/smallstep/certificates/blob/master/docs/docker.md.

[2020-06-04 19:03] #109 closed

[2020-06-04 19:03] dopey commented on #111
I believe this is documented here: https://github.com/smallstep/certificates/blob/master/docs/questions.md#i-already-have-pki-in-place-can-i-use-this-with-my-own-root-certificate.

Closing as done.

[2020-06-04 19:03] #111 closed

[2020-06-04 19:05] sourishkrout commented on #104
Feel free to spin out new tickets. Happy to chat on Slack if there are any questions/plans.

[2020-06-04 19:05] #104 closed

[2020-06-04 19:13] sourishkrout commented on #91
Closing this. For what it's worth, ACME is currently working on spec'ing ACME-STAR to allow short-lived certs and renewals as part of it.

[2020-06-04 19:13] #91 closed

[2020-06-04 19:19] sourishkrout commented on #44
Obsolete.

[2020-06-04 19:19] #44 closed

[2020-06-04 19:54] dopey commented on #155
The `ca.json` is mutable as you've pointed out. You would need to store it in a configmap and update the container any time you're making changes to the `ca.json`.

It's likely that we'll be building a CRUD API for provisioners in the short to mid term future. https://github.com/smallstep/certificates/issues/90

The `ca.json` is meant to be managed by a configuration management tool. `step ca prov

[2020-06-04 19:54] #155 closed

[2020-06-05 13:31] dharanikumar-s commented on #183
I am in need of the same. My client environment approve using only FIPS 140-2 validated crypto modules. Hence i can't run the step cli, since step needs go's native crypto library which is not FIPS validated. It will be helpful if you publish HTTP API doc since i am not new to go language and it will be difficult for me to go through the code and understand myself.

[2020-06-05 14:23] Johannestegner commented on #183
So, I've been really bussy for a while, so not had much time to look into making a small "first version" to allow anyone to pick up on, but got some free time at the moment between contracts, so thought I'd take a look!

My thoughts was to throw together a Swagger api doc project, but seeing I'm not a go-dev, I thought Id ask here first before I start doing it all the wrong way!
Go seems to have a

[2020-06-06 12:22] erwbgy commented on #263
This could definitely be done a different way but even if a JSON format like zcertificate is used there will still need to be a way to request that fields from the id token be used in the CSR.

Rather than a new command-line parameter, perhaps this could be done by specifying a new _id-token_ profile, something like:
[code]
Support for URI SANs will be required but that looks to be a small change.

[2020-06-09 10:04] fabiodcorreia opened #285 "Docker Image for ARM"
### What would you like to be added
ARM32/64 Docker image

### Why this is needed
In my particular case I want to deploy it on Raspberry Pi as container and since step-cli already has images for this architectures, would make sense to also have it for ARM

[2020-06-10 07:15] Johannestegner commented on #285
Until an official image exist you can always build an image using the binary provided under releases in the github repository. It should be possible to run right away.

Something like... (written in web, so probably not a valid dockerfile, hehe):

[code]

[2020-06-10 08:11] fabiodcorreia commented on #285
Yeh that was my initial idea, but then I saw that step-cli had ARM and if an official image was release then didn't make much sense to make a custom one :)

[2020-06-12 16:40] mannp commented on #280
Hi @dopey, I have come across this issue today and cannot create any certs because of it.
I am only creating one cert, so don't believe its a race condition.

Apart from changing my email, which I'd prefer not to do ... is there another workaround at all please?

[2020-06-12 19:12] dopey commented on #280
No problem!

And to any other users out there, I released v0.14.5-rc.4. Please don't use the earlier release candidates (v0.14.5-rc.1 - v0.14.5-rc.3) as they may have issues.

[2020-06-14 21:44] #228 closed

[2020-06-15 22:53] #170 closed

[2020-06-16 05:07] sbingram opened #289 "better error handling when ca.json is missing required information to complete request"
Not originally asking for ssh to be included in my CA when first created, when I added it later by copy and pasting from a second throw away, I missed the template stanza. So when attempting *step ssh config* I was presented with the following error in the logs:
`2020/06/14 19:31:38 /home/travis/.gimme/versions/go1.14.4.linux.amd64/src/net/http/h2_bundle.go:4218: http2: panic serving x.x.x.x:53767

[2020-06-16 19:12] #289 closed

[2020-06-17 08:12] dharanikumar-s opened #292 "Re-keying for X509 certificates"
### What would you like to be added
The existing renew feature for X509 certificate doesn't enable getting renewed certificate for new key pairs. The renew function should accept json data as http body. This json should contain a field for public key. If this field this present, existing renew function should provide a new certificate for this public key.

### Why this is needed
The end devices us

[2020-06-17 22:35] mmalone commented on #292
Re-keying x.509 certificates is definitely a good idea. Honestly, I'm sort of embarrassed that we don't already support this. Keys are cheap, so reusing keys is of little value. Once this is implemented I think rekeying should be recommended for everyone, all the time, regardless of certificate lifetime, and the existing renew (which re-uses your existing key pair) should only be used if you have

[2020-06-17 23:06] mmalone commented on #292
@dharanikumar-s this isn't _super_ relevant to the ticket, but I did want to respond with some thoughts about short-lived certificates vs OCSP... there certainly are use cases where OCSP (or CRL, or OCSP stapling) can make sense. I'm not sure whether you have one. My opinion (which I think is shared by most PKI experts) is that active revocation is fraught, for a bunch of reasons, and you should t

[2020-06-18 05:29] dharanikumar-s commented on #292
Even with short lived certificates we can DoS the CA and disrupt the operation. So, Does HA is must for CA?

[2020-06-18 17:53] mmalone commented on #292
@dharanikumar-s certainly CA availability is an issue for short-lived certificates. It’s probably the biggest issue, aside from simply arranging for all of the stuff that’s using certificates to properly rotate automatically (which you should be doing anyways, even with longer-loved certs).

Whether HA is a _must_ depends on your definition of HA. If you set things up properly you don’t need 100%

[2020-06-18 20:48] dopey opened #293 "Document the x5c Provisioner"

[2020-06-18 20:52] dopey opened #294 "Document the sshpop provisioner"

[2020-06-18 21:40] nhrollins opened #295 "Docker Example Problems"
### Subject of the issue

I'm trying to run through the NGINX docker examples.  As instructed I cd to `certificates/examples/docker` and run `make`.  The makefile appears to successfully create all 4 docker images (nginx, nginx-test, step-ca-test, and step-renewer-test), but when starting up the containers, there are problems running the `entrypoint.sh` scripts, which causes the example to fail.

[2020-06-19 19:27] maraino opened #296 "Bastion should not be bastions for themselves"
### Description
If a bastion is registered with a certificate, `step ssh check-hosts` returns true, and the request `/ssh/bastion` that `step ssh proxycommand` does returns the same bastion, causing an infinite loop.

`/ssh/basation` should not return a bastion for itself.

[2020-06-23 10:27] mikehardenize opened #298 "Access raw certs provisioned via ACME"
I don't know if the following is an enhancement request, or simply a request for info on how to do something. I couldn't find a more appropriate support channel, irc/gitter/forum etc.

### What would you like to be added

I would like real-time access to the raw certificates that are provisioned by the ACME provisoner. I'm happy to just tail the logs to get this information.

### Why this is neede

[2020-06-23 17:39] dopey commented on #295
Hey @nhrollins, thanks for opening the bug report! We've put this into our short term backlog and should be addressing this soon. We'll come back here for further updates.

[2020-06-23 17:40] dopey commented on #261
We've placed this in the short term backlog and should be addressing it soon.

[2020-06-23 17:42] dopey commented on #298
Hey @mikehardenize, thanks for opening the issue! We actually have a stale CT log support branch that we never got around to merging. Don't have an ETA yet, but it's in our short term backlog to dust that branch off and get it merged.

[2020-06-23 17:54] dopey commented on #285
Sorry for the radio silence. It's in our short term backlog at the moment. My guess is that we'll get to it within the next month. I know that's a little while :/ If someone else wants to grab it in the interim, please feel free. I'll definitely help out.

Also, @maraino recommended creating a separate project that generates prebuilt docker starter images that already have golang and other common

[2020-06-23 18:45] #296 closed

[2020-06-24 10:55] Johannestegner commented on #285
I created an image for arm64/aarch64 (and amd64), have no build server for armv7, but will cross compile it later when I got some time over! Hehe.

https://hub.docker.com/r/jitesoft/step-cli
https://hub.docker.com/r/jitesoft/step-ca

Alpine linux, built from source, no extra crap only the binary for the tool in each. Let me know if they misbehave! :)

[2020-06-24 17:50] sourishkrout opened #300 "Intro templates to allow x509 cert flexibility [L]"
- [x] functionality for x509
- [x] test suite for x509
- [x] `step certificate create --create`
- [x] Incorporate feedback

(cli changes not covered in here)

Breakdown:

1. Go from CSR/attributes blacklist to whitelist for CA
2. Can we use template as de facto whitelist?

[2020-06-24 18:00] maraino opened #301 "Support for YubiHSM2"
### Description

Add support to be able to sign x509 and SSH certificates using keys in a YubiHSM2. If possible we should use a PKCS#11 interface to interoperability with other HSMs.

The initial scope is to add YubiHSM2/PKCS#11 as a CA KMS, not to add support for the CLI yet, that will be part of a different project.

[2020-06-24 18:05] sourishkrout commented on #295
Note: looks like the examples work fine on macOS but have trouble on Linux.

[2020-06-24 23:09] maraino commented on #300
@mkkeffeler in Gitter requested if it's is possible to add extra SANs not present in the CSR. For example, the JWK token can have the SANs `foo.bar, foo.zar` but the CSR won't have any.

[2020-06-24 23:11] mkkeffeler commented on #300
This is a must have that @maraino  mentioned because lots of clients don't know  how to request SANS easily in their CSRs, so in the spirit of making TLS easier this would be a HUGE feature add.

[2020-06-25 08:04] mikehardenize commented on #298
Thanks, that's good to know. In the mean time, what's the best/simplest way for me to pull certs out of step-ca? I can push them into CT once I have them, pretty easily.

[2020-06-25 15:43] mikehardenize commented on #206
We're also waiting for this support. We have an application which analyses the TLS configuration of our customers services, and we need to be able to generate certificates that contain CRL and OCSP URLs so that we can perform regression testing. We don't necessarily need the ability for step-ca to provide CRL or OCSP data, only the ability to add CRL and OCSP URLs to the certificates that it gener

[2020-06-25 16:32] fiveoclock opened #302 "Subject alternative name extension must be marked critical if the "subject" field is empty"
### Subject of the issue
Subject alternative name extension must be marked critical if the "subject" field is empty according to RFC 5280

Source https://tools.ietf.org/html/rfc5280#section-4.1.2.6 :
   If subject naming information is present only in the subjectAltName extension
   (e.g., a key bound only to an email address or URI), then the subject
   name MUST be an empty sequence and the subj

[2020-06-25 17:14] dopey opened #303 "Traefik setup and configuration"
Docker + Traefik + step-ca setup

[2020-06-25 17:34] dopey commented on #206
Good to know.

@mikehardenize to clarify, it sounds like you just need the right x509 extensions set in the certificate when it's being generated. In this case the crl and ocsp extensions.

If that's the case, then we are starting work on a project that should allow you do this (#300). So, the idea would be that you could configure on the provisioner any extra extensions that needed to be on the e

[2020-06-25 17:38] Hardcorian commented on #206
Hello,

Also in our case, would be useful have a flags to add the  rights
extensions, like the CRL one.
Thanks for the update!

El jue., 25 jun. 2020 19:34, Max <notifications@github.com> escribió:

[2020-06-25 18:38] dopey commented on #303
Two important gotchas (via user dragonpiper on Gitter):

* The client has to be configured to go though the same port defined in the the step-ca config. A router can't route to that port because the acme directories will use the host from the request and the port from what it's bound to.
* Setting LEGO_CA_CERTIFICATES

[2020-06-25 18:51] dopey commented on #298
Unfortunately, the only way to do this right now is to query the database.

If you're using badger, you'll need to shutdown the CA and run a script against the db to dump the certs.
If you're using mysql, you can keep the CA running, but you'll still need to run a script.

The data, in both mysql and badger, is stored in a nosql pattern - key, value byte blobs. So you can't query it without a scri

[2020-06-25 18:59] dopey commented on #302
Interesting! Our `csr` generation code always sets a Subject attribute so we've run into various side effects of this "bug" before. The last time we ran into this was our "certificate inspection" code assumed that every cert had a Subject and would munge the output if one wasn't present.

Anyhow, cool! This is definitely a bug. We'll triage it and it'll probably fall into a sprint in the short ter

[2020-06-25 19:07] dopey commented on #206
Great point @Hardcorian. Our plan is to have the templates available on both sides (cli and step-ca). So when you're generating a cert via the command line you could add any extensions by specifying a template (complete with templatized variables).

We're wary of creating flags to add extensions because there are simply too many extensions / attributes in an x509 certificate and we don't want to m

[2020-06-25 20:22] fiveoclock commented on #302
Thank you for your reply!

From what I read putting the first SAN into the Common Name is also the best solution as the common name can only be 64 bytes long.

I'm posting the Certificate Customer Ressource Defintion, Certificate Request and resulting Certificate. Maybe it help you to track the issue..

The certificate request (generated by cert-manager ingres-shim):
[code]

The Certificate reques

[2020-06-26 00:29] #266 closed

[2020-06-26 00:40] dopey commented on #293
Closed with 57524086189abfab8a9e8db5ab58e5c6c08e469b

[2020-06-26 00:40] #293 closed

[2020-06-26 00:41] dopey commented on #294
Closed with 57524086189abfab8a9e8db5ab58e5c6c08e469b

[2020-06-26 00:41] #294 closed

[2020-06-26 08:24] mikehardenize commented on #206
Yes, that is the case. Ideally step-ca would serve up the CRL and OCSP responses, but I realise that's a bigger job and we have a workaround for that. Our main requirement is getting arbitrary CRL/OCSP URLs added to the certificates.

Yes, that would solve our use case, thanks. I'll keep an eye on that issue.

[2020-06-26 14:53] mkkeffeler commented on #122
I setup a systemd file to run on a RHEL server and its likely not as good as this, this looks like it has additional things like ProtectHome which look helpful, this would be good to document all the things its doing and then update the docs for this, but im not aware of some of these directives myself.

[2020-06-26 14:58] mkkeffeler commented on #300
Also related to https://github.com/smallstep/certificates/issues/45 which was closed in favor of this

[2020-06-26 17:20] sourishkrout opened #304 "Add end-to-end tests"

[2020-06-30 22:22] Hardcorian opened #306 "Error renewing certificates with the last version of step-ca and win-acme"
### Subject of the issue
I can create certificates with win-acme for IIS, but when I try to renew it, the renewal crashes.

### Your environment
ACME v2 server deployed with **step certificates** v0.14.5-rc.3.cullACMEOrders in RHEL 8.2
win-acme 2.1.8.848 (last version) in Windows Server 2016 Standard.

### Steps to reproduce
- Create the certificate with win-acme (ok)
- Create the scheduled task (

[2020-06-30 22:23] Hardcorian commented on #306
If it is useful, I also open an issue with the developers of win-acme.

https://github.com/win-acme/win-acme/issues/1598

[2020-06-30 22:25] maraino commented on #306
@Hardcorian Can you provide the relevant step-ca docs?

[2020-06-30 22:29] maraino commented on #306
@dopey This is the error that we return, any idea?
https://github.com/smallstep/certificates/blob/900651503ed014465b5a9800f5a3d77b4aaf4723/acme/order.go#L160-L162

[2020-06-30 22:31] Hardcorian commented on #306
Hello Mariano,

Sorry for the question, but which are these relevant docs? It is not a
problem to provide more information.

[2020-06-30 22:32] maraino commented on #306
Sorry I meant to say "logs"

[2020-06-30 22:36] dopey commented on #306
@Hardcorian That particular release candidate has a known bug which causes this error. Please use https://github.com/smallstep/certificates/releases/tag/v0.14.5-rc.4. I'll be releasing a full minor release either later tonight or tomorrow morning as well.

Let me know if you still have the same issue with `-rc.4`.

[2020-06-30 23:07] Hardcorian commented on #306
Hello,

Thanks for the clarification @maraino  I do not have step-ca logs with the error, but it is the same error that you already see.

@dopey 2 questions: Have this bug any relation with the ca.json format time change that I commented in the first post?

To update my current PKI and ACME deployment, should I do the normal installation of the package, or need to do something else? It will be my

[2020-06-30 23:15] dopey commented on #306
What version of `step-ca` are you using in production? How is it currently installed?

When you upgrade versions of the `step-ca`, especially minor release versions, all you should need to do is update the binary (which comes in the release).

If you have a staging environment where you can test with your existing ca.json, that would be ideal.

To be clear, you shouldn't have to recreate anything.

[2020-06-30 23:30] Hardcorian commented on #306
The version is ACME v2 server deployed with step certificates v0.14.5-rc.3.cullACMEOrders in RHEL 8.2. Really, it in a preliminar step, but the idea is work in production with a stable version. It is installed using dpkg for RHEL.

Thanks for the advices!

[2020-06-30 23:32] dopey commented on #306
There should be no breaking changes between the version you're currently running and the following release candidate version. The same is true for v0.14.5 which I'm currently releasing.

[2020-06-30 23:52] Hardcorian commented on #306
Hello, I make the installation (with a backup of ca.json) and lucky me, because the original ca.json disappears to install the new candidate release. Once renamed, it works correctly, and in a first look, seems to renew correctly, but the first renew also works the most of times with the bug. Note that the time in hours in ca.json not changes its format (h -> hms) like before.
Now, I have two ways

[2020-07-01 00:24] maraino commented on #306
@Hardcorian the format change  `5h -> 5h00m00s` should not have any impact, is a known issue that happens we you use `step ca provisioner [add|remove]`. We convert the string "5h" to a time.Duration, without storing the original string, and when we convert that back to string, time.Duration.String() will write `"5h0m0s"`. It should not have any effect.

[2020-07-01 08:17] Hardcorian commented on #306
Hello @maraino then, if I create a provisioner directly in the ca.json, would not happen?

@dopey in the firsts checks, seems to work properly with the new RC.

[2020-07-01 13:55] Hardcorian commented on #306
Confirmed that is a bug in the previous RC, both certificates with diferent ACME provisioners and certificate duration were renewed correctly.
If you do not want to add anything, I am going to close this issue at night. Thanks for the help.

[2020-07-01 19:43] maraino commented on #306
No, if you manually edit the ca.json, or manually edit after using `step ca provisioner [add|remove]`, the ca.json will have the values you wrote. But they are equivalent to the logic of the CA. Same if you write `300s` or `5m`.

[2020-07-01 21:02] Hardcorian commented on #306
Hello @maraino and thanks for this clarification too. Close the issue, works fine.

[2020-07-01 21:02] #306 closed

[2020-07-02 00:06] dcow commented on #122
For anyone that's interested in a pretty tightly locked down `DynamicUser` flavored unit file (no need to setup a `step` user and `/home/step` directory), I dredged this up from a past experiment:
[code]
Make sure `/etc/step`, or at least `/etc/step/passwd` is only readable by root (or whomever you wish) and you should be good to go. I haven't tested this recnetly so YMMV. But I think it's a decen

[2020-07-02 10:15] darix commented on #122
Is a dynamic user really applicable for a service that writes data files?

[2020-07-02 20:01] dcow commented on #122
The version of step-ca I was using was backed by a db. But, still, dynamic user goup/id and directories are retained by systemd (because it just hashes the service name) across service restarts and system reboots. It's one of the neat features! So the dynamic user (1) never exists in `/etc/passwd`, (2) gets private state and tmp (and run, unused here) directories, (3) doesn't have a home directory

[2020-07-02 20:54] darix commented on #122
Given that you want to back up the DB ... and maybe restore that ...

1. how do you find the DB
2. lets say I start step-ca on a new machine for the first time... how do I restore the backup?

[2020-07-02 21:58] dcow commented on #122
Sorry, I meant before that I was working with an out-of-process DB. Still, for step's badgerdb, put the db files in `/var/lib` instead of `/var/lib/private` as I've listed. Then root or someone else performing the backup can read them.

[2020-07-02 22:09] dcow commented on #122
@darix perhaps you were introduced to the `DynamicUser` concept prior to the more recent additions to make persistent data possible? You might find 0pointer.net/blog/dynamic-users-with-systemd.html an interesting read, specifically the section on Persistent Data.

[2020-07-04 23:12] mafrosis opened #308 "Making step-ca support fully-managed Cloud Run"
I did some work getting `step-ca` working on Cloud Run [here](https://github.com/mafrosis/certificates/tree/force-http) and [here](https://github.com/mafrosis/step-ca/tree/cloudrun).

Fully-managed Cloud Run insists on fronting your docker service with a Google certificate - even when using a custom domain. This subsequently causes `step ca *` to fail with `certificate signed by unknown authority`

[2020-07-06 19:40] dwchurch commented on #300
this is helpful because we often need to add specific things that our clients don't know to add

[2020-07-06 19:45] alogishetty commented on #300
This would be very helpful to have this!

[2020-07-06 20:57] nhogan5 commented on #300
We need this too! Would stream line our client on-boarding process tremendously.

[2020-07-06 22:01] alexw19 commented on #300
Would like to see this implemented. Would be very helpful!

[2020-07-07 17:34] christian-posta opened #309 "Is there a way to generate a CSR from an existing Private Key?"
Not seeing how I'd be able to do that. the `step certificate create -csr` seems to expect to create a new private key

[2020-07-07 18:19] mkkeffeler commented on #141
this would be a good feature! mongodb is much more common than mysql and more friendly in enterprise use cases

[2020-07-07 20:00] tashian commented on #295
The issue here may be that the `step` binary built by the Makefile is linked to gnu libc, while Alpine uses musl libc.

[2020-07-08 16:57] sourishkrout opened #311 "Docs: Add AWS KMS example"
Quick guide on how to use AWS KMS.

https://github.com/smallstep/certificates/blob/master/docs/kms.md

[2020-07-08 22:32] dopey commented on #154
We've added an FAQ to the cli repo with an answer to this question (cribbed from @dcow's response above).

I'm going to close this issue for the time being, but please feel free to leave a comment if you'd like us to re-open for further discussion. Or open an issue on the CLI repo citing the documentation that you'd like to discuss.

[2020-07-08 22:32] #154 closed

[2020-07-09 18:39] #292 closed

[2020-07-09 19:20] dopey opened #315 "Add `Rekey` method to ca/client.go"

[2020-07-10 09:00] tinkivity commented on #302
I am actually very glad to find this bug ticket. I installed version 0.14.4 (linux/amd64) in the first week of June and spent a couple of days trying to figure out what I am doing wrong, but found no hint on what exactly is "not standards compliant" with the certificate. Finally, this ticket answers what's wrong. Just for reference I will attach a screenshot of my problem.

<img width="525" alt="S

[2020-07-10 13:52] mkkeffeler commented on #300
An additional use case is for adding EMAIL contacts to ACME certificates. IP and DNS sans definitely need to be validated against standard ACME protocol, but email contacts should be able to be added to an ACME certificate

[2020-07-10 17:17] dopey commented on #302
@tinkivity thanks for confirming!

Would you folks mind testing with the most recent version of certificates (0.14.6). I have a theory that this might be fixed. I've tested by jimmying the code and explicitly setting the Subject in the template to be empty right before signing (and it worked, I got critical SANs extensions), but I haven't tested with `cert-manager`.

If you're already on the most

[2020-07-11 09:31] andrewying commented on #302
Thanks, upgraded to version `0.14.6` of the `smallstep/step-ca` docker image, and it's now working on there!

![Screenshot 2020-07-11 at 10 22 44 am](https://user-images.githubusercontent.com/1071082/87221032-e4bba180-c360-11ea-85b2-796160e5fddd.png)

Indeed SAN is now marked as critical.

![Screenshot 2020-07-11 at 10 30 04 am](https://user-images.githubusercontent.com/1071082/87221150-ac689300-c

[2020-07-13 08:23] fiveoclock commented on #302
Just tested with step-ca docker image version 0.14.6 and I can confirm too that the SAN is now marked as critical. Also MacOS now recognises the certificates as valid.

Thank you for your work :)

[2020-07-13 17:07] dopey commented on #302
Nice! Glad to hear it. Thanks for taking the time to test. I'll close this issue, but please let me know if there's a regression.

[2020-07-13 17:23] #295 closed

[2020-07-14 00:45] dopey opened #317 "CLI and Certificates do not conform in check for k8sSA token type"
The cli checks for existence of `kubernetes.io/serviceaccount/namespace` while `step-ca` checks for existence of `kubernetes.io/serviceaccount/service-account.name`. We need to conform to one of these.

Or maybe we should just be checking to make sure that `issuer == "kubernetes/serviceaccount"`. I can't remember why we didn't do that to start with. Maybe so that there could be other issuers named

[2020-07-14 00:48] dopey commented on #317
https://github.com/smallstep/certificates/blob/fa8a808fc83bfb225df4286e5d9e88e9402cdbf8/authority/provisioner/collection.go#L96-L103,
https://github.com/smallstep/certificates/blob/fa8a808fc83bfb225df4286e5d9e88e9402cdbf8/authority/provisioner/collection.go#L42

[2020-07-14 17:19] vulnbe opened #319 "Automatic revocation of dependent certificates"
Hey team.

Suppose a short-lived certificate is issued.
The certificate and key are compromised and the attacker issued a new certificate using the old one:
`step ca renew compromised.crt compromised.key --out=new.crt`

We revoke the compromised certificate: `step ca revoke --cert compromised.crt --key compromised.key`

Meanwhile, the *new* certificate is still valid. So the attacker will re-issue

[2020-07-14 17:34] dopey commented on #317
Make sure that the web repo conforms.

[2020-07-14 18:11] dopey opened #320 "Add an SSHPOP provisioner to the CA config by default (if `--ssh` is enabled during init)."
The SSHPOP provisioner is the only provisioner authorized to renew SSH host certificates. It doesn't require any extra configuration (e.g. password, or public keys, etc.) because it uses the public root ssh host key already configured in the step-ca.

We may as well add it by default (given that it uses only existing configuration because it could save users the confusion of wondering why they are

[2020-07-14 19:54] rmhrisk commented on #319
This is dangerous; you can not tell if the second key was requested by the authorized user as a means to keep availability once the revocation happens (replace and revoke). If you have an indication that key1 was revoked for key compromise reason AND you have a record that the subsequent certificates were issued using the revoked key after the revocation then you could prompt and ask but I would n

[2020-07-14 20:55] dopey commented on #319
Hey @vulnbe thanks for opening the bug report! Hadn't completely thought through this use case / eventuality before.

@rmhrisk your'e totally right (didn't immediately see it w/out your comment, so thank you). There are many reasons to revoke  a certificate when it hasn't been compromised. In fact, the standard operating procedure that we encourage is to revoke a certificate any time you are done

[2020-07-14 20:59] dopey commented on #319
As to the second question (about reviewing all valid certificates), there is this open issue: https://github.com/smallstep/certificates/issues/239. Would you mind leaving a comment in support (or just a +1), assuming you are interested in that functionality. Community support / engagement for an issue plays a big role in helping us prioritize the roadmap.

[2020-07-14 21:14] dopey commented on #308
Here's a related issue: https://github.com/smallstep/certificates/issues/246 with a response from @mmalone on why http-only is not a short term priority.

Most of the `step ca ...` subcommands do not require mTLS. I think the only one that does is `step ca renew`. So your command is failing the TLS because it cannot verify the certificate that is used to serve `step-ca`. As to whether we would eve

[2020-07-14 22:11] mafrosis commented on #308
Thanks @dopey. Happy to close this on favour of #246

[2020-07-14 22:18] vulnbe commented on #319
@dopey Thanks for reply!
This issue not about standard revocation of a certificate but revocation of successors which renewed using compromised.

In current version it is required to stop CA and extract serials of certificates manually from database. I did not try to do this, so I do not know if there is enough information in the database.

[2020-07-14 22:23] vulnbe commented on #239
Database audit is a useful thing that I would like to have in CA.

[2020-07-15 08:01] dharanikumar-s opened #321 "SubjectKeyId is calculated over the entire "subject public key info" field of the certificate"
### Subject of the issue
Subject key id hash is calculated over the entire "subject public key info" field of the certificate. Whereas it is a general practice to hash only the 65 bit EC public key as stated in the RFC 5280

### Your environment
* OS - Ubuntu 20.04 LTS
* Version - Smallstep CLI/0.14.6 (linux/amd64) Release Date: 2020-07-02 20:57 UTC

### Steps to reproduce
[code]
The above code pa

[2020-07-15 17:48] maraino commented on #321
Hi @dharanikumar-s thanks for noticing this, we're currently changing for certificate flexibility the way the ca signs certificates and it's probably the right time to fix it.

[2020-07-15 18:08] maraino commented on #321
@dharanikumar-s Can you check if that snippet of code generates the expected subject key identifier:

[code]

[2020-07-15 18:25] maraino commented on #321
In your example the ski would be `86334ABBB4927785038ED7A2B753141B0C641D56`

[2020-07-15 18:39] dharanikumar-s commented on #321
yes it is the same.

[2020-07-16 08:15] EmiiKhaos opened #322 "Storage: add support for AWS DynamoDB"
### What would you like to be added

Add support for a DynamoDB storage backend. Although MySQL is available, it would require to run a RDS Instance for it. Extra costs, backup considerations, etc. Even with Aurora Serverless.

DynamoDB is just there, scales as needed with OnDemand pricing and has fine backup capabilities.

### Why this is needed

We plan to run step-ca in AWS ECS on Fargate and w

[2020-07-16 22:42] maraino commented on #322
Hi @EmiiKhaos it would be nice to have DynamoDB as a backend. Our current plans for the storage backend is to add support for "structured" SQL (with tables, columns, ...) for MySQL and PostgreSQL. I'm gonna add this to our backlog. But we will gladly welcome a contribution from the community for something like this.

The implementation that I see more obvious would be to write the `DB` interface a

[2020-07-17 18:18] maraino opened #323 "Be able to configure a different management key for YubiKeys"
### Description

Currently YubiKey `GenerateKey` and `SetCertificate` only works if the default management key is used `piv.DefaultManagementKey`. We should add an option to configure a different one.

[2020-07-17 18:29] mmalone commented on #319
Thanks for raising this @vulnbe. Also, thanks @rmhrisk for the insight around availability issues. I hadn’t completely considered this.

I have a couple thoughts here that I’d love feedback on from the community:

1. Currently you can renew a certificate multiple times as long as it’s 1) not expired, and 2) not revoked. So if you have `foo1.crt` you can “renew” it twice and get `foo2.crt` and `foo

[2020-07-17 18:52] mkkeffeler commented on #206
Is there any docs on generating a CRL on your own? or the equivalent OCSP? we are looking at hosting it somewhere else, and if we cant have this will use the cert templates as an alternative. this would be a huge feature, though as we are just building workarounds to having this.

[2020-07-19 22:09] mafrosis opened #324 "Unexpected behaviour when missing https from CA URL"
### Subject of the issue

Unexpected behaviour and unclear resolution when generating a token for mTLS cert creation. This was caused by a missing `https://` from the CA URL.

In the example, I'm using an offline private key to auto-provision a token, from which I can retrieve a certificate.

### Your environment
* OS - macOS (client) / GCP COS (CA server)
* Version - 0.14.6 and 51b9867

### Steps

[2020-07-20 17:15] mkkeffeler commented on #244
i think that there is still a reason for this. in my example, my issue was i wasn't seeing that smallstep was correctly utilizing the CA i gave it (which was an intermediate to my root). we did resolve that, but now when we try to use that cert the full chain has to still be appended to manually (with the intermediate that step has been given as its root, and the true root ca). any thoughts/workar

[2020-07-20 17:38] maraino commented on #324
Thanks @mafrosis, I'm able to reproduce the issue, and also found that if you use a port like, `--ca-url ca.example.com:9000` you get the following error
[code]

I'm adding this to our backlog for prioritization

[2020-07-21 16:10] 0xjac commented on #206
I would just like to share our use case as it might interest some people. We plan on using smallstep for certificates on both our servers and staff machines such that when a staff machine talks to an internal service, they can mutually authenticate each other.

Using passive revocation with short lived certificates is fine for our servers. However it is problematic for staff machines which are tur

[2020-07-21 16:53] mmalone commented on #206
@mkkeffeler unfortunately, I don't think we have any documentation on creating a CRL or setting up OCSP anywhere. Maybe someone else in the community can help. If you figure out a solution I'm sure others would appreciate hearing about it (I know I would).

@0xjac thank you for the feedback / use case. We are interested in adding active revocation functionality. At the moment we don't have a spec

[2020-07-21 17:00] tmcolby opened #326 "new provsioner type: variant of jwk with looser restrictions on principals/sans and time based auth token"
### What would you like to be added
It would be useful to have a provisioner that could issue time-based tokens that:
1) do not invalidate after one use. ie the token can be reused during its limited time-based life.
2) would authorize any principals/SANs

### Why this is needed
Orchestration tools, like Ansible, are intended to be ran against one or many hosts.
If targeting just a single host, us

[2020-07-21 17:19] maraino commented on #326
Some of my notes from the past include:
* Type, ssh or x509.
* Optional expiration.
* Rules to match valid hostnames/principals (*.smallstep.com)
* Limit number of uses.

[2020-07-21 17:42] 0xjac commented on #206
@mmalone Thanks for your reply, Something like ACME-STAR would be indeed very interesting for us. (Tho I understand that this might not happen in the short term, and unfortunately we need a solution soon...)

Regarding the CRL, yes I would use `step ca revoke` to figure out which certificates are revoked an put them in the CRL. The file would just be generated on the CA. Then yes you can host it y

[2020-07-21 20:26] mmalone commented on #206
@0xjac yea that all makes sense. If you added something like you're describing we'd accept it (modulo code review and approval, of course).

Regarding renewals: the other option we've considered is allowing renewal-after-expiration. I think this would have almost identical security characteristics as ACME-STAR, and would probably be easier to implement. We'd probably want it implemented as a provi

[2020-07-22 07:44] dharanikumar-s commented on #206
@mkkeffeler I working on a OCSP solution using [cfssl](https://github.com/cloudflare/cfssl). I am using cfssl as an ocsp responder which looks in to a table containing prebuilt ocsp responses for all non-expired certificates issued by step-ca. I am writing a go script to periodically populate the responses table. I will upload the script once i am done. Sidenote: I configured step-ca and cfssl to

[2020-07-22 08:21] Hardcorian commented on #206
Hello, unfortunately, I have not documented the process, but I created a PKI with OpenSSL replicating the name configuration as the production PKI, and later create the CRL.
Also with OpenSSL, I was able to revoke actively the certificates created by the ACME PKI, and maintain in a CDP. The problem, in this case, is that I cannot show this CDP in the certificates generated by ACME.

[2020-07-22 17:09] sourishkrout opened #327 "Intro templates to allow SSH cert flexibility [L]"
Breaking out ssh cert flexibility:

- [x] ssh functionality for JWT prov
- [x] ssh functionality for other provs
- [x] test suite for ssh
- [ ] more work for cert library
- [ ] use new host libraries
- [ ] get code review done
- [ ] incorporate feedback

[2020-07-22 20:10] mmalone commented on #206
@dharanikumar-s ha, so you have `cfssl` acting as an OCSP responder for `step-ca`? That's impressive... Sorry you had to go through all that hassle.

@Hardcorian certificate flexibility (https://github.com/smallstep/certificates/issues/300) should drop soon and you should be able to use that to add CDP to your ACME certs. I'm not 100% certain whether templates are going to work with ACME in the fi

[2020-07-22 20:24] maraino commented on #206
Yes, you should be able to add the CRL distribution point using templates, for example, with the current version in https://github.com/smallstep/certificates/pull/312 a CDP can be configured in a template like this one
[code]

[2020-07-27 23:48] youngd24 opened #330 "bin dir mentioned in CentOS/RedHat install doesn't exist"
The directory mentioned in the docs, bin, does not exist, seems to be cmd now.

sudo cp step_X.Y.Z/bin/step /usr/bin

Looks like it's sudo cp step_X.Y.Z/cmd/step now

Same for the server side I believe.

[2020-07-28 00:36] maraino commented on #330
@youngd24 Can you send us the link of the tar file, because the ones I checked, the last releases for step and step-ca both have the bin directory

For [step-certificates_linux_0.14.6_amd64.tar.gz](https://github.com/smallstep/certificates/releases/download/v0.14.6/step-certificates_linux_0.14.6_amd64.tar.gz):
[code]

For [step_linux_0.14.6_amd64.tar.gz](https://github.com/smallstep/cli/releases/d

[2020-07-28 15:18] benyanke opened #331 "HA and Scaling"
I have not seen any documentation on how to scale out with a load balancer. I would like to be able to set up a single logical instance across multiple servers behind a load balancer for redundancy and easier changes.

However, I see files in $path/db which appear to be database files.

Is this a supported configuration, or do I need to look into multiple logical instances to make this work? If it

[2020-07-28 17:49] maraino opened #332 "step-awskms-init is not in binary releases"
### Description
Binary for `step-awskms-init` is not present on binary releases, we should at least add it to the releases in github.

[2020-07-28 18:10] dopey commented on #319
Following up --

Rather than auto-revoking the logical descendants of a particular certificate or key, we want to empower the user to make those decisions. Our plan is to build observability tooling that will allow admins to query across multiple attributes of a certificate. Some examples of queries we plan to support:
- query for all certificates with public key XYZ
- query for all certificates t

[2020-07-28 18:18] #321 closed

[2020-07-28 22:42] cameronelliott opened #333 "xcaddy master build failing with caddy-auth-jwt"
**This xcaddy compile issue is occuring from calls between smallstep/certificates and smallstep/cli, versions: 0.15.0-rc1.0* and 0.14.3 , see compilation error below**

This may not be of much interest here, but I thought I'd share in case someone knows.

This works okay: $ xcaddy build --with github.com/greenpau/caddy-auth-jwt

This works okay: $ xcaddy build master

**This fails: $ xcaddy build

[2020-07-28 22:45] cameronelliott commented on #333
On more thing, this is the go.mod:
`$ less /home/c/go/pkg/mod/github.com/smallstep/certificates@v0.15.0-rc.1.0.20200506212953-e855707dc274/go.mod`

[code]

[2020-07-28 23:34] maraino commented on #330
Closing this issue as the binary releases have the bin directory

[2020-07-28 23:34] #330 closed

[2020-07-29 06:14] dcow commented on #331
We do have some here be dragons [docs on the topic][step-ha] at the end of the getting started guide. But you're right it's not highlighted anywhere obvious. Let us know if you have any questions after reviewing. If you don't need to use an ACME provisioner then you can likely forgo the DB altogether by passing the `--no-db` flag when running initializing a CA or removing the DB section from the c

[2020-07-29 14:41] benyanke commented on #331
We're specifically doing it for the purpose of setting up an ACME server, so that's going to be key for us. I'll let you know and open an issue if I find any issues with our scale out config, as I'd love to see really robust support for this usecase.

[2020-07-29 22:45] mmalone commented on #331
FWIW this is mostly a docs bug. The answer is that you should configure `step-ca` with a MySQL backend DB. As long as the CAs have identical configurations and are pointing at the same DB everything should work fine. Please do report any issues you have. We also want robust support for this!

Also worth noting, if you don’t like MySQL for HA, the DB backend is pluggable and only needs key-value su

[2020-07-30 13:52] mohe2015 opened #334 "Add an endpoint to authenticate and download your OpenID Connect certificate"
### What would you like to be added
It would be great if there would be an endpoint like https://ca-domain/get-client-certificate/provisioner/NameOfProvisioner
which redirects you to the OpenID Connect Login Page which then redirects back to a ca-domain url. Then this could verify the login data and provide you with a download of your client certificate.

### Why this is needed
This would allow cl

[2020-07-30 16:55] mmalone commented on #334
Thanks for the feedback @mohe2015! This is an interesting idea.

There are a couple issues with this proposal that I'd love your feedback on:

  1) Your web browser will not be able to authenticate `https://ca-domain` unless the CA's root certificate is installed in your system / browser trust store (e.g., using `step certificate install` or MDM). (We could also get a certificate from a Web PKI CA

[2020-07-30 17:42] mmalone commented on #331
Oh, I forgot the obligatory mention of our hosted offering of `step-ca` which is HA and uses HSM-backed private keys. It's not generally available yet but anyone interested can [request an invite](https://info.smallstep.com/scm-ea/).

We're still debating this... so don't hold me to it... but we're leaning towards making the base tier (which would include pretty much everything in open source) **f

[2020-07-31 13:12] mohe2015 commented on #334
@mmalone
I also thought more about my idea and I decided that in my current use case it is not really worth it to do it like that.
1. Regarding the first point I would use a trusted domain from which the user gets prompted to install the certificate (on Android opening the downloaded file shows the certificate installer).
2. Fair point! Generating the keys on the server is a bad idea. So I agree w

[2020-07-31 18:07] #320 closed

[2020-08-01 02:38] benyanke commented on #331
Fantastic! Thank you for the quick followup. I'm currently working on a big environment with it, so I'll certainly be letting you know if I have any issues.

Thanks!

[2020-08-03 15:41] dopey commented on #285
https://hub.docker.com/layers/smallstep/step-ca/0.14.7-rc.1.docker-buildx/images/sha256-1716ec261e1e4abca69907f4fde3e5f5b8db25de1bab04985bb0275f29ae9d2d?context=repo

All releases going forwards should have armv7, arm64, amd64, and 386 releases.

Going to close this issue once my PR is merged. But lemme know if you'd like to keep open for whatever reason.

[2020-08-03 18:17] #261 closed

[2020-08-04 16:38] dcow commented on #265
https://github.com/smallstep/certificates/pull/328

[2020-08-04 16:38] #265 closed

[2020-08-04 17:59] dopey commented on #333
Hey @cameronelliott! I think we've seen a similar problem in the past when users pull in versions of our `cli` and `certificates` repos that are "incompatible". Unfortunately our two main repos (cli and certificates) depend on one another and this causes weird dependency cycles. We fix this for our stable releases, e.g. v0.14.6, v0.14.5, v0.14.4. But it looks like you're using a tag that is ahead

[2020-08-04 18:04] dopey commented on #331
Hey @benyanke, hopefully your experimentation is going well. I'm going to close this issue, however, if you run into problems feel free to reopen or, better yet, create a new issue to track the bug. Cheers!

[2020-08-04 18:04] #331 closed

[2020-08-04 18:21] #285 closed

[2020-08-06 03:29] joshathysolate commented on #110
Question for you guys - I'm trying to figure out how to properly configure Azure AD for OIDC authentication and am *almost* there but I get back the following error:

Failed exchanging authorization code: json: cannot unmarshal string into Go struct field token.expires_in of type int
error running: step oauth --oidc --bare --provider https://login.microsoftonline.com/hysolatese.onmicrosoft.com/.we

[2020-08-06 16:59] mmalone commented on #110
That's weird. Quick context, a successful OAuth Access Token response looks like:

[code]

The error message looks suspiciously like Azure AD is sending the `expires_in` parameter as a `string` instead of an `int`. This would be a spec violation, so that'd be a bug on their side, if true. We've never encountered this error before, and we've tested extensively with Azure AD, so I think this would b

[2020-08-06 17:31] joshathysolate commented on #110
Do you happen to have any basic instructions on how you've configured Azure AD?  It could very well be a config setting on my end b/c it's the first time I've tried setting up OIDC with Azure.

[2020-08-06 18:25] maraino commented on #110
@joshathysolate Here some basic instructions:
1. Using the azure cli run:
[code]
You can also do this in the UI on `Azure Active Directory -> App Registration -> New registration`, but then you will need to use `http://localhost` and some extra configuration in the CA, he UI doesn't allow you to use 127.0.0.1 that is the value recommended by the standard.

2. Look for the Application and get:
* Ap

[2020-08-06 18:29] maraino commented on #110
Using the above instructions I'm also able to run without specifying the --listen address:
[code]

and get the OIDC token.

[2020-08-06 18:31] joshathysolate commented on #110
Great - it looks close to what I did but I will kill my existing app registration and give this a try instead.  Thanks @maraino!

[2020-08-06 21:01] maraino opened #338 "Use simple acme links if only one acme provisioner is configured"
### Description

When only one ACME provisioner is configured, the directory url has the following format `https://ca.server/acme/<name>/directory`, it often ends up like `https://ca.server/acme/acme/directory`. The CA should be able to accept ACME urls without the provisioner name when only one ACME provisioner is configured, that way we should be able to use `https://ca.server/acme/directory` or

[2020-08-07 00:33] joshathysolate commented on #110
FYI - it looks like I was using the older configuration endpoint as I was missing the v2.0 in the request.

[2020-08-07 03:06] joshathysolate opened #339 "Azure AD and OIDC Provider"
### Subject of the issue
It appears that the OIDC token / JWTs issued by Azure AD are consistently 5 minutes (ish) behind the actual time according to most NTP servers.  This causes *step ca certificate* to bomb out because it thinks the token was issued before the bootstrap of the CA.  (authority.Authorize: authority.authorizeSign: authority.authorizeToken: token issued before the bootstrap of ce

[2020-08-07 03:30] joshathysolate commented on #339
Okay I'm seeing that the CN is coming directly from the "Subject" in the JWT payload and this is getting set in the cli project in `utils/cautils/certificate_flow.go` on lines 275-279.  To me this doesn't make sense to assign the subject from the JWT payload to create the CSR when I'm specifying a subject on the command-line.

[2020-08-07 17:47] dopey opened #341 "At a high enough concurrency the ACME ordersByUserIdIndex can become inconsistent"
https://github.com/smallstep/certificates/pull/340#issue-464719028 -- initially reported by @zachwalton

[2020-08-07 18:01] maraino commented on #339
This is a feature that we added way back before having a DB, when all the tokens were stored in memory. You can still run some provisioners like this, so this is the default behavior. But you can change this adding to the ca.json `"disableIssuedAtCheck": true` under `"authority"`:
[code]

As an admin, the CA bypasses some of the checks that the OIDC provisioner does, like enforcing the email to be

[2020-08-07 20:46] dopey commented on #341
https://github.com/smallstep/certificates/pull/340#issuecomment-670648362

[2020-08-08 14:04] makkarpov opened #342 "Possibility to set extended key usage for issued certificates"
Currently, `step-ca` issues certificates with EKU set to `TLS Web Server Authentication, TLS Web Client Authentication`. The request is to add possibility to customize this value via config.

(or please point me to where this value is hardcoded, recompilation is okay for me)

**Reason:** OpenVPN clients use this value to distinguish between server and other client. Without this setting any client

[2020-08-08 23:23] maraino commented on #342
Hi @makkarpov this will be available in the upcoming release that adds the ability to create certificate templates.

In fact create OpenVPN certificates is one ofthe thigs we have tested.

[2020-08-10 05:04] dharanikumar-s opened #343 "Step-CA shall act as a Registration Authority"
### What would you like to be added
Step-CA shall act as a Registration Authority. Clients requests step-ca for signing or renewing a certificate, after authenticating and authorizing the client, step-ca will forward the request to external CA to get the certificate signed or renewed.

### Why this is needed
It is common among PKI implementation to function only as an registration authority and fo

[2020-08-10 18:52] maraino commented on #343
Hi @dharanikumar-s this is something that we've recently been thinking about, our KVM interface that we currently use to sign certificates using external HSMs currently does not support external CAs. But is on our plans to extend or use a similar interface to support external CAs.

@dharanikumar-s Is there any commercial external CA you have in mind?

@rmhrisk, who reacted to this, is probably gon

[2020-08-11 18:21] dopey commented on #339
Hey @joshathysolate, I'm going to close this issue as I think #340 covers the scope of any additional functionality that may be required. But feel free to re-open if you'd like to discuss further, or if you think there are more issues to keep track of.

[2020-08-11 18:21] #339 closed

[2020-08-12 16:13] Roy-H23 opened #344 "Raspberry Pi Support"
### Subject of the issue
Pulling docker image step-ca:0.14.7-rc.1.docker-buildx for the raspberry and initialising it via the doc:
https://github.com/smallstep/certificates/blob/master/docs/docker.md works fine.
But starting the container produces:

/usr/local/bin/step-ca: line 1: syntax error: unterminated quoted string

### Your environment
Raspberry Pi 4 Model B Rev 1.1

* OS -  Raspbian GNU/Li

[2020-08-13 10:50] sbingner commented on #14
https://github.com/rgorosito/ejbca/blob/master/modules/ejbca-scep-war/src/org/ejbca/ui/web/protocol/ScepServlet.java might be useful as a reference for adding this support as well.

[2020-08-14 06:24] hongkongkiwi commented on #343
I would love to use Hashicorp Vault for the actual signing request :-) And have smallstep in front handling ACME.

[2020-08-14 07:47] hongkongkiwi opened #347 "External CA via Webhook"
Hi there,

I would like to store the Root CA in Hashicorp vault to keep it secure and use smallstep as the frontend.

I was thinking the best way is if I can configure an external ca via a webhook, so the actual CSR would be forwarded to Vault and it will come back signed to Smallstep.

[2020-08-14 07:48] hongkongkiwi commented on #347
Ah looks like this is a duplicate of #343

[2020-08-14 14:36] hongkongkiwi opened #348 "How to set CloudKMS Key Ring?"
How can I set the Google CloudKMS Key Ring in the config? I see that I can set it with the init tool but I can't seem to figure out how to set it in the config afterwards.

[2020-08-14 18:23] #300 closed

[2020-08-14 18:26] maraino commented on #300
X.509 templates functionality is currently in the master branch of `certificates`. The `cli` part will be there soon.
This will be officially released probably next week with v0.15.0 while ssh-certificates will probably come with v0.15.1

[2020-08-14 18:39] jcpunk opened #349 ""Remote" ACME Validation Workers"
### What would you like to be added

A "validation worker" whose job it is to listen to the ACME server for certificate requests and then contact the client on behalf of the ACME server.

### Why this is needed

Example workflows who would benefit:

- Additional validation workers could be used to spread the load if thousands of requests come in at once.

- My ACME server is in North America.  My

[2020-08-15 02:18] maraino commented on #348
@hongkongkiwi Once the PKI is initialized in Google KMS you can need to set the intermediate key as the `key` field in the `ca.json`. I believe the init tools gives you with the name, but it has the format `projects/<project-id>/locations/global/keyRings/<ring-id>/cryptoKeys/<key-id>/cryptoKeyVersions/<version-number>`.

You also need to set the kms type to `cloudkms`. See this for specific instru

[2020-08-17 05:45] hongkongkiwi commented on #348
Got it, thanks!

[2020-08-17 13:07] jcpunk opened #350 "Lifespan Jitter"
### What would you like to be added

I would like to add a small (but semi-random) extra lifespan to issued certificates.

### Why this is needed

When running at scale, if I use the remaining certificate lifetime as a trigger (renew cert if lifetime <= X) hosts can begin to lump together around specific times.

Adding, for example, up to 20 minutes of extra life (at psudo-random) will allow the c

[2020-08-17 18:18] dopey commented on #333
I am going to close this, but feel free to re-open or comment if you're still having issues.

We're currently doing the work to untangle the dependency cycle, so this issue should be fixed soon.

[2020-08-17 18:18] #333 closed

[2020-08-17 18:31] mkkeffeler commented on #87
is there work planned for this? looks like a lot of community support for this across multiple issues

[2020-08-17 18:38] maraino commented on #350
@jcpunk I'm leaving this here for triage by the team. But I think the same can be applied to `certbot.sh`, for example when our servers renew their certificates, they apply a random jitter https://github.com/smallstep/certificates/blob/5d17c8b011bae14f24245ddb8c33502e7d216aa2/ca/renew.go#L183-L191

[2020-08-17 18:49] dopey commented on #87
Now that this has been unblocked by deploy of cert-flex I'll slap the needs-triage tag on it and we'll review it this week.

[2020-08-17 19:35] maraino commented on #87
Now that `step` can now create multiple intermediates, it's won't be hard to support a bundle of intermediates in the `crt` field of the ca.json, and append all of them to all the issued certificates. I've just done a small hack on my environment and at least the step-ca certificate works.

[2020-08-17 19:37] dopey commented on #87
Is there a case to be made for doing this per provisioner? I thought so at first, but now I'm thinking that if you're using the same intermediate to sign them all, they'll probably require the same chain.

[2020-08-17 19:45] mmalone commented on #343
@hongkongkiwi I'm curious: what's the advantage for you of having signing requests sent to Vault?

[2020-08-17 19:51] maraino commented on #87
@dopey support for multiple intermediates per provisioner and support a second intermediate ca in step-ca are two different things.

step-ca with v0.15.0 now supports, with custom templates the issue of `Intermediate CA 2`. But then to have `Intermediate CA 2` sign leaf certificates, we need to bundle `Intermediate CA 2 + Intermediate CA 1` into the leaf certificate, and this is not yet supported,

[2020-08-17 20:13] mmalone commented on #347
Before closing this as a dupe, are you _just_ trying to keep your root signing key in Vault or do you also want to keep your intermediate there?

The reason I ask is: if this is purely a root key security issue, and all you want to do is keep that signing key in Vault, you can already configure `step-ca` to do this. In fact, `step-ca` does not need access to your root signing key at all. You can s

[2020-08-17 21:04] mmalone commented on #350
Just here to reiterate that:

1. I'm not wholly opposed to adding some jitter to certificate lifetimes, but
2. I do think renewal logic is a better place to solve this

I'll add a bit of context and justification. First, most mature certificate management tools already do this on renewal (e.g., `step` does and I'm pretty sure `certbot` does too). Furthermore, it'd be pretty easy for a naive renewa

[2020-08-18 09:08] Sadzeih commented on #63
Is there any news on this? I really want to use federation and autocert together to link my CAs in my k8s clusters.

[2020-08-18 10:25] Roy-H23 opened #351 "Raspberry Pi Error"
### Subject of the issue

Pulling docker image step-ca for the raspberry and initialising it via the doc:
https://github.com/smallstep/certificates/blob/master/docs/docker.md works fine.
But starting the container produces:

/usr/local/bin/step-ca: line 2: syntax error: unterminated quoted string

### Your environment
* OS - Raspbian GNU/Linux 10 (buster)
* Version - Linux 5.4.51-v7l+ armv7l

###

[2020-08-18 15:55] hongkongkiwi commented on #347
I would like to keep our intermediate signing key there.

Vault has excellent audit capabilities and we are already familiar with keeping it secure. We currently use it as a CA but we would like to use Smallstep as a frontend. To have to secure an intermediate key somewhere else on the filesystem (or even gcloud) is a bit of an extra thing, so it would be great if we could just keep the key in vau

[2020-08-18 18:17] dopey commented on #351
Hey @Roy-H23, thanks for the reminder. I think this is similar to #344. I'm going to push a release candidate in a moment and let's see if that fixes it for you. @tashian's work hadn't been merged in until after I had made the 0.15.0 release over the weekend.

[2020-08-18 18:26] dopey commented on #348
Hey @hongkongkiwi, I'm going to close this issue. But feel free to re-open if you have more questions.

Question for you: You also opened #347. Were you able to work around that issue using the cloudKMS key ring? This is just for our edification - in case someone else in the community has a similar need, we can point them at this workaround.

[2020-08-18 18:26] #348 closed

[2020-08-18 18:53] dopey commented on #87
Update here is that the issue is now on our short term roadmap. I can't give a time estimate better than "soon-ish" though.

[2020-08-19 04:34] hongkongkiwi commented on #348
This can be closed.

It actually took me a little bit of time to understand how to use the kms, it wasn't clear to me why I had to have a .crt certificate for root and intermediate, even though my keys are stored in the cloud.

I assumed that everything was stored in the cloud (private and public key) rather than generating a local certificate and signing it and having to keep that safe.

[2020-08-19 08:26] Roy-H23 commented on #351
Hi @dopey , thanks for bringing some more light into the dark.

It is related to #344 but the issue was still persistant yesterday. So it is more or less a duplicate.
I've builded a new container with the latest image of smallstep/step-ca:0.15.1-rc.1 today.
It looks like the issue is fixed by now!

Maybe this helps other people:

pi@raspberrypi:/opt/docker $ docker run -it -v /opt/docker/stepca:/h

[2020-08-19 08:26] #351 closed

[2020-08-19 09:29] EmiiKhaos commented on #332
Is there any ETA when the binary will be added to the binary releases? Need the binary in our deployment and building it is not feasible for us.

[2020-08-19 15:59] mmalone commented on #347
Thanks @hongkongkiwi.

We hear this a lot: people want to centralize key management and audit in one place. But, if we just use Vault for escrow (e.g., grab the intermediate from Vault and store it in memory) then you wouldn't get the Vault audit records, right?

[2020-08-19 20:59] pabloknit opened #355 "step-ca Docker image for ARM/64 architecture has AMD/64 ELF"
### Subject of the issue
Latest step-ca docker image (0.15.0) for ARM/64 has wrong binary in it (appears to be for AMD/64). The 'step' binary works fine.

### Your environment
* OS - Ubuntu
* Version - 18.04.4 LTS (arm64)

### Steps to reproduce
Followed Docker instructions (https://github.com/smallstep/certificates/blob/master/docs/docker.md).

### Expected behaviour
Able to run the step-ca serve

[2020-08-19 21:02] dopey commented on #355
Hey, can you try using the image from the 0.15.1-rc.1 release? https://hub.docker.com/layers/smallstep/step-ca/0.15.1-rc.1/images/sha256-025db50d55d81491c1af805a93ba46980d8f4977c8b78456605e5b66f1ec4c0c?context=repo

[2020-08-19 21:03] dopey commented on #355
We pushed a fix just after the 0.15.0 release so it didnt' make it into `latest`.

[2020-08-19 21:07] pabloknit commented on #355
The 0.15.1-rc.1 image works on ARM/64. Thanks - saves me copying the binary in manually in the interim!
Cheers

Paul

[2020-08-19 21:22] #355 closed

[2020-08-20 06:33] hongkongkiwi commented on #347
I guess there's two things, Audit and Centralisation.

In terms of Audit, there is a record everytime the intermediate key is accessed, your correct in a sense that we don't have a record within Vault of what the intermediate key was used for, I suppose in that way Smallstep should supplement this with it's own logging capabilities. So it's not perfect.

Most importantly is centralisation. Right n

[2020-08-20 06:49] reawakn opened #356 "Provisioner with ldaps support"
### What would you like to be added

Provisioner:
Is it possible to add ldaps support (Active Directory) with filter function.

SSH User certificates:
If a user is a member of a group, then set the appropriate extension in the ssh user certificate. Similar to matchgroup in sshd_config.

### Why this is needed

For the internal user case with no internet.

[2020-08-20 16:56] sourishkrout commented on #311
Existing docs are actually sufficient.

[2020-08-20 16:56] #311 closed

[2020-08-20 18:21] maraino opened #358 "Provisioners and DB engines registry"
### Description

Currently, KMSs are registered in certificates when the file is imported using the `apiv1.Register` method, for example, cloudkms is registered using this:
https://github.com/smallstep/certificates/blob/3f660ff07e834fbe7b387da6c7a7d004e59da057/kms/cloudkms/cloudkms.go#L96-L100

Then we import the supported kms engines in main.go:
https://github.com/smallstep/certificates/blob/3f66

[2020-08-20 20:58] mholt commented on #302
@dopey I'm getting this again in v0.15.0. Seems to be the same problem, SAN is not critical. Should I open new issue?

<img width="713" alt="Screen Shot 2020-08-20 at 2 57 41 PM" src="https://user-images.githubusercontent.com/1128849/90824990-871e5b80-e2f5-11ea-88a2-13e9513db4b4.png">

[2020-08-20 21:14] dopey commented on #302
Nope. Re-opening until we figure it out. Thanks for bringing to our attention.

[2020-08-20 21:15] mholt commented on #302
Thanks! If it helps, the code I'm using to generate the cert is here: https://github.com/caddyserver/caddy/blob/0279a57ac465b2920abf71d86203d9feac2015b5/modules/caddytls/internalissuer.go#L123

With the exception that `profileDefaultDuration` is replaced with this type for the v0.15.0 compatibility:

[code]

(If you need to see the CA side of things, it's here: https://github.com/caddyserver/caddy

[2020-08-20 22:25] maraino commented on #302
@mholt I know what's going on, with certificate templates, we don't create a template directly from the CSR (unless you want to), and as you are not passing any option with a template, it just creates a template from the incoming CSR, that has the Critical value set to false.

We can fix the certificate template created this way and set the critical to true if no templates are being used.

[2020-08-20 22:57] maraino commented on #302
Reopening, we need to update dependencies in certificates.

[2020-08-20 23:03] #302 closed

[2020-08-25 17:37] sourishkrout opened #360 "Add `tee` dependency to Dockerfile for container images"
Otherwise some subcommand will break

[2020-08-25 19:27] dopey commented on #356
Hey, thanks for opening the issue! We've discussed LDAP before, so glad to see a request coming in from the community.

Question for you: Are you just trying to use Active Directory, or do you specifically want to use LDAP?

The reason being that Active Directory supports OAuth OIDC (which `step-ca` already supports) which is our preferred authentication method.

As of now, LDAP is not on the road

[2020-08-25 19:49] dopey commented on #350
Hey @jcpunk let us know if the previous response (basically letting the `renew` operator handle jitter) makes sense. Unless there's more discussion or increased interest from the community for this feature we'll go ahead and close the issue as "won't fix".

[2020-08-25 20:09] jcpunk commented on #350
Works for me, feel free to close out 'Won't Fix'

[2020-08-25 20:15] #350 closed

[2020-08-25 22:54] mmalone commented on #343
@delamart thanks so much for the feedback!

FYI, if you're worried about keys in a folder, we do have pluggable key management / HSM backend support now. So you can keep your signing keys somewhere more secure. We have [docs for configuring plugins](https://github.com/smallstep/certificates/blob/master/docs/kms.md) for GCP CloudKMS, AWS KMS, and Yubikey. It's pretty easy to add a plugin if you wan

[2020-08-26 06:58] jkralik opened #361 "Support UnknownExtKeyUsage with templates"
### What would you like to be added
I would add support to set UnknownExtKeyUsage via template.

### Why this is needed
[OCF Secure specification](https://openconnectivity.org/specs/OCF_Security_Specification_v2.2.0.pdf) defines extra key usages for identity certificate(1.3.6.1.4.1.44924.1.6) and role certificate(1.3.6.1.4.1.44924.1.7), which are required for TLS handshake.

Example of code:
https

[2020-08-27 21:25] mohe2015 commented on #334
I will close this as out of scope / already possible.

[2020-08-27 21:25] #334 closed

[2020-08-28 21:42] #327 closed

[2020-08-31 17:27] tashian commented on #360
I'm curious how this bug came about? `tee` is part of Alpine's mini root filesystem, it should be available to any `golang:alpine` container

[2020-08-31 18:13] maraino commented on #360
@sourishkrout I don't think this is a good idea, we can add `tee`, but the main problem is that you also need `sudo` access, and we don't want that.

[2020-08-31 18:17] maraino commented on #360
The command that is failing is not intended to be run on that image, you're supposed to run it on your laptop/desktop. A better solution if we want to run that getting started in docker, would be to use a different image, or create everything using docker-compose.

[2020-08-31 19:28] antigenius0910 opened #362 "error parsing ssh public key: ssh: no key found when trying to JWK sign a host"
### Subject of the issue
First thank you for the awesome project. it is too good!!

I am trying to follow your post here. https://smallstep.com/blog/diy-single-sign-on-for-ssh/
but doesn't have a AWS machine available, therefore I tried to use JWK to sign my ssh_host

however it always return "error parsing ssh public key: ssh: no key found" and I wonder which part were wrong

### Your environment

[2020-08-31 22:56] antigenius0910 commented on #362
I know what happen now. close this issue now. thank for this awesome project once again!

[2020-08-31 22:56] #362 closed

[2020-09-01 07:13] dopey commented on #362
Hey @antigenius0910, glad you were able to figure it out! And thanks for the kinds words.

Would you mind posting about what the issue was? Might help someone searching for a similar problem later on ...

[2020-09-01 18:15] maraino commented on #361
👍 @jkralik I'll be adding this.

[2020-09-01 19:41] #361 closed

[2020-09-01 20:02] maraino commented on #361
@jkralik This is available in `step-ca` v0.15.3` and it will be available in the upcoming release of `step` so it will be posible to use also `step certificate create` to create templates with unknown ekus, without the need of manually creating the extension.

[2020-09-01 20:20] #317 closed

[2020-09-02 06:23] jkralik commented on #361
Great job! Thx 👍

[2020-09-03 03:05] HighWatersDev commented on #343
I use Sectigo. I am looking for an implementation of the ACME server to do exactly that: authenticate/authorize clients, validate requests, and then forward it to external CA authority, Sectigo in my case.

[2020-09-07 02:56] aredridel opened #365 "Certificate with bad EKU is generated with 0.14.4"
### Subject of the issue

certificates 0.14.4 issues certificate with invalid extended usages

### Your environment
* OS - step-certificates via helm chart on k3s on ubuntu
* Version - 0.14.4

### Steps to reproduce

Given this certificate request, I'm getting back a cert with a bad EKU

[code]

With 0.14.4:

[code]

With 0.14.3:

[code]

### Expected behaviour
Either warn that a cert is being gen

[2020-09-07 03:12] aredridel commented on #365
See https://github.com/jetstack/cert-manager/issues/3260

[2020-09-08 20:01] dopey commented on #365
Hey @aredridel would you mind trying with `step` and `step-ca` v0.15.2? I think there was a slight degradation in v0.14.4.

[2020-09-09 03:20] aredridel commented on #365
Looks like that's non-trivial to plunk into my k8s and helm setup — I'm having trouble with it unmarshalling the cert orders, but I'll see if I can figure out what is going on and report back.

[2020-09-09 10:19] hvisage commented on #333
looking at including the lego-deprecated as a temporary stop-gap for using the amce_dns.io module, and I get the same problem. How do I force stable release/pinning for this?

`xcaddy build --with github.com/caddy-dns/lego-deprecated`

[2020-09-09 10:25] hvisage commented on #333
eventually found the solution:
`xcaddy build v2.2.0-rc.1 --with github.com/caddy-dns/lego-deprecated`

[2020-09-10 05:21] dopey commented on #333
We're working on getting rid of the dependency cycle for good. That should be done within a few releases. Sorry for the trouble. Glad you were able to get it working!

[2020-09-10 18:07] mmalone commented on #343
@HighWatersDev I don't know much about Sectigo. I know they issue Web PKI certs for public websites, but I assume you're referring to their "Private PKI" product here? Do you know if they're using EJBCA or something under the hood, or do they have their own proprietary CA API that we'd need to integrate with?

Since Sectigo's Private PKI appears to be an enterprise offering we'd probably need to c

[2020-09-10 18:24] rmhrisk commented on #343
@robstradling is Mr SectIgo and knows all the things but I do know that they have both an ACME API and a proprietary API.

What I am curious about @HighWatersDev is what is the use case, since they do have an ACME API how do you envision using smallstep with them?

[2020-09-11 02:16] HighWatersDev commented on #343
Thanks for the insights!
@rmhrisk, my envision of using smallstep is pretty simple:
1. I have a fleet of nodes that are not accessible from the Internet.
2. I utilize both Let's Encrypt as well as Sectigo services.
3. The nodes will use some ACME client such as certbot (or smallstep in this case).
4. smallstep would come in between the fleet and PKI providers as an intermediary ACME server receivi

[2020-09-11 06:44] rmhrisk commented on #343
Makes sense

[2020-09-15 19:57] dopey commented on #365
Hey @aredridel, were you able to get this working with the newer versions? I'm going to close the issue, but please re-open if your'e still having trouble getting it working.

[2020-09-15 20:00] aredridel commented on #365
I haven't yet, I've got to figure out why I can't just sub in a new image in my helm install of step-ca and have it work, and cert-manager fixed their bug that generates invalid EKUs so I need to test out of band now.

[2020-09-15 20:36] dopey commented on #365
Re-opened. Let us know when you've had another opportunity to debug/test.

[2020-09-15 21:13] aredridel commented on #365
Thanks. Sorry it's slow, got a heap of dependencies.

[2020-09-16 02:08] aredridel commented on #365
So updating smallstep/step-certificates helm chart with the image.tag: 0.14.5 gives this error in the logs:

```time="2020-09-16T01:59:44Z" level=error duration=28.87094ms duration-ns=28870940 error="error creating order: error loading order g6qwBu3cyv3tcDwQ9B1aqcESZOatAQ9S for account 68fyDBHu24f4N41HJTfNR92KAJobjSc0: error unmarshaling order: json: cannot unmarshal object into Go struct field Er

[2020-09-16 11:03] reawakn commented on #356
Hey,
i try now dex with active directory, but i think the configurations are wrong.

my partconfiguration:

DEX:

[code]

CURL:
[code]

STEP:
[code]
Can you post a example configuration, please.

[2020-09-16 22:59] mmalone commented on #356
@reawakn I believe the problem is that your provisioner URI (`http://IPv4:5556/dex/.well-known/openid-configuration`) is using HTTP, not HTTPS. OAuth and OIDC require use of TLS (HTTPS) everywhere.

[2020-09-17 17:43] dopey commented on #365
I just updated our helm chart to use the most recent version of `step-ca` - v0.15.4. We were a few versions behind due to some forgetfulness. Not sure why that might have any effect on the error you're seeing. But maybe it will resolve itself.

Otherwise we'll need to dig in deeper. I haven't seen that error before. Looks like something is getting screwed up at the db level. Hard to repro because

[2020-09-17 18:28] aredridel commented on #365
Happy to be the one to dig into it! I'm just not super familiar so it might take a bit of back and forth. Lemme try that!

[2020-09-17 23:15] #323 closed

[2020-09-18 18:12] #332 closed

[2020-09-18 22:01] maraino opened #372 "Use `StepAbs` for all files in the ca.json"
### Description

Currently, some files in the `ca.json`, like the certificate templates, can be configured relative to the `STEPPATH`, for example, if a template file is set in the ca.json to `"templates/x509/leaf.tpl"` the location of the file would be relative to the STEPPATH, it will be `$(step path)/templates/x509/leaf.tpl`.

We should make this functionality available across all the files in

[2020-09-18 22:02] maraino commented on #372
StepAbs is defined in
https://github.com/smallstep/cli/blob/779312530411ecf197ecfeef7d9250d1e79e541f/config/config.go#L48-L75

[2020-09-18 22:18] dopey opened #373 "If a JWT has no Nonce or ID then step-ca should use the JWT fingerprint as the ID when storing to the DB"
Current behavior is that we 4xx or 5xx due to an error writing to the DB

[2020-09-19 19:38] christiaangoossens commented on #244
I also have this problem, external Root CA and Intermediate CA. That intermediate CA signed a CA that is now used as the Step CA (like the instructions given). The HTTPS endpoint for step-ca now returns its leaf certificate + that Step CA, but because the Intermediate CA is missing in the HTTPS response, I get errors. Any method to add a bundle to the HTTPS server for step-ca?

[2020-09-21 17:02] #373 closed

[2020-09-22 17:06] dopey commented on #365
Any luck here? :)

[2020-09-22 17:27] aredridel commented on #365
Not yet. That error is completely stymying me — I think it's actually parsing certificate order JSON from the network, not database, but there's not really much to go on without getting in there with a debugger.

[2020-09-22 23:36] tashian opened #376 "Cannot revoke TLS certificate created using a CSR"
### Subject of the issue
It seems that I cannot revoke a certificate created using a CSR by passing the certificate and the private key to the CA.

### Your environment
* OS - macOS
* Version - step 0.15.2

### Steps to reproduce
[code]

### Expected behavior
The certificate should be revoked by the CA

### Actual behavior
The `step` client fails to parse the private key.
Running `step ca revoke [

[2020-09-23 00:49] maraino commented on #376
The problem is that the TLS configuration in the client is using Go's `tls.LoadX509KeyPair(certFile, keyFile string)` that expects unencrypted keys, and the one created by default with `step certificate create` is encrypted.

The solution is to parse the key using `pemutil`, which will ask for a password if needed and populate the `tls.Certificate`struct or serialize it in memory and use `tls.X509

[2020-09-29 19:34] dopey commented on #365
Yeah, this one is hard for us to debug without access to a similar environment. If you'd like to hop into our gitter (https://gitter.im/smallstep/community) at some point for some live debugging help, you're more than welcome.

[2020-10-01 04:04] symgryph commented on #301
I would be happy to help with debugging I have a yubihsm that we could use

[2020-10-01 07:42] sebastien-baillet opened #381 "Certificate expiration date later than subCA expiration date"
### Certificate expiration date after subCA expiration date

step-ca issue certificates with expiration date later than the expiration date of the subCA issuing it.

### Your environment

* OS - Ubuntu 18.04
* Version - v0.14.6

### Steps to reproduce

Create a subCA (we didn't test with a root CA) with a short expiration date. Configure the subCA as an ACME provisioner, with a maxTLSCertDuration

[2020-10-01 17:51] maraino commented on #301
Hi @symgryph: Adding support for it, is currently in our backlog, but we haven't yet planned a time frame to work on this.

[2020-10-01 18:39] dopey commented on #381
Now, having said that, It would certainly be nice to catch this at signing time so users don't shoot themselves in the foot. Just not sure what the expected behavior should be:

1) Just defaulting the lifetime of the leaf / subCA to be the remaining life time of the signing cert. E.g. If there's 10 days left of validity on intermediate.crt and I try to create foo.crt with a default validity of 30

[2020-10-02 07:54] dmke commented on #381
With ACME clients, this would result in daily renewals of shorter and shorter living certificates.

At least with lego, we don't provide a way to specify the certificates NotAfter value. Not sure if this is even possible with the ACME protocol. However, if the issued certificate is only valid for 10 days, lego will happily accept it.

I'd go with this. In https://github.com/go-acme/lego/issues/126

[2020-10-02 14:10] mkgvt opened #386 "Look for configuration at $XDG_CONFIG_HOME/step"
### What would you like to be added

Step should look for its configuration at $XDG_CONFIG_HOME/step (see https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html).

### Why this is needed

Benefits include:
- Improved interoperability with other software on Linux
- User-configurable location leading improved user flexibility
- Configuration is in a known spot making backups easier

[2020-10-02 16:45] hb3b opened #388 "Add groups claim in OIDC token as secondary principals of SSH certs"
### What would you like to be added
It would be helpful if the values in a OIDC groups claim could be added as secondary principals to minted SSH certs.

### Why this is needed
This would support a lighter SSHD config that would permit RBAC. Instead of requiring users to have their own home directories, etc. a set of users and sudo rules corresponding to their groups/roles could be created.

[2020-10-02 19:46] dopey commented on #239
https://github.com/smallstep/certificates/discussions/387

[2020-10-03 22:28] hamannju commented on #301
I'm currently in the process of deploying the step-ca in our environment. I would very much like the possibility of moving the CA private keys into the YubiHSM2 and would gladly help you with testing.

[2020-10-04 10:39] sebastien-baillet commented on #381
After some thought, I don't think something should be done client side, as lego is not the only ACME client we're using at the moment.

For now, I'm trying to find a way to track such case in my environment. In the step-ca database, is it possible to find out which certification authority has issued which certificate, apart from decoding the certificate leaf?

For the context: my step-ca instances

[2020-10-04 12:05] NesManrique opened #389 "step ssh login generates wrong principal"
### Subject of the issue
When using JWT as provisioner and "my.name@domain.com" as identity, the generated principal gets stripped off of the dot "." (you get `myname` instead of `my.name`) and this makes ssh fail later with `error: Certificate invalid: name is not a listed principal`

### Your environment
* SSH client: macOS Mojave.
* SSH Server/CA server: Debian 10.

### Steps to reproduce

Crea

[2020-10-04 22:50] bonedaddy opened #390 "Admin Web Interface"
### What would you like to be added

A web interface geared for administrators of smallstep certificate authorities

### Why this is needed

Management of CA's is primarily CLI driven, and requires SSH access. Additionally getting an overview of the certificates currently issued, their expirations, etc.. is not super easy and a bit "manual". An administrative web interface similar to that provided

[2020-10-06 01:19] maraino commented on #343
Support for a CA Service interface and CloudCAS has been [merged](https://github.com/smallstep/certificates/pull/367) to master. Now it should be possible to add support for signing using CAs and use step-ca as the "Registration Authority".

@dharanikumar-s @mmalone I'm going to mark this issue as closed as the support is now available The support for a specific implementation should be tracked in

[2020-10-06 01:19] #343 closed

[2020-10-06 17:22] tashian commented on #390
Hi @bonedaddy,

`step` is geared toward automation. We put our efforts into making an great CLI interface instead of a web interface, because the CLI facilitates automation. We don't have any near term plans for a web interface, but we're looking into expanding our REST API documentation so that a web interface could more easily be built.

The overview of certificates issued is a separate feature

[2020-10-06 17:22] #390 closed

[2020-10-06 20:15] dopey commented on #388
Hey @hb3b, thanks for opening the issue!

This is actually already possible by using [templates](https://smallstep.com/blog/x509-certificate-flexibility/). That blog post only goes into detail about X.509 templates, but `step-ca` has similar capabilities for SSH certificates.

@maraino is currently doing some tests to provide you a template.

You'd add it to a provisioner like:

[code]

Don't forg

[2020-10-06 20:23] dopey commented on #386
Hey @mkgvt, thanks for opening the issue!

We actually have already designed a user configurable location for the `step` configuration files. It's just not quite as standard as `$XDG_CONFIG_HOME`. We use a variable called `$STEPPATH` - every `step` command will respect this environment variable. By default `$STEPPATH` is `$HOME/.step`.

We also have the `step path` command which can be really usef

[2020-10-06 20:34] dopey commented on #239
Hey, following up as we spent some time discussing this feature earlier today.

We'd be interested in adding an API endpoint that could dump all the certificates for the DB. However, we don't currently have the time to work on this. If someone from the community has the need / time we'd be more than happy to accept a PR. There's a few things to work out (e.g. how to page through the DB, what forma

[2020-10-06 20:37] mkgvt commented on #386
On Tue, Oct 6, 2020 at 4:24 PM Max <notifications@github.com> wrote:

Thanks. I can work with $STEPPATH but I still think it should default to
$XDG_CONFIG_HOME on Linux. Anyway, thanks for getting back to me.

Mark
--
Mark Gardner
--

[2020-10-06 21:37] maraino commented on #386
The main problem with $XDG_CONFIG_HOME is supporting different environments without affecting other tools, this is why we created STEPPATH.

Said that, the default one should have been based on $XDG_CONFIG_HOME, right now we're keeping the current one for compatibility reasons. Even if we change it well probably check $HOME/.step just in case.

[2020-10-06 21:40] mkgvt commented on #386
On Tue, Oct 6, 2020 at 5:37 PM Mariano Cano <notifications@github.com>
wrote:

That sounds like the best resolution. Use $XDG_CONFIG_HOME as the new
default but check $HOME/.step also. (This should be documented as having
configs in both places may cause users confusion.)

Mark
--
Mark Gardner
--

[2020-10-06 23:25] maraino commented on #388
Let's see with this simple template you can concatenate the "groups" in the token with the principals:
[code]
Take into account that this template assumes "groups" if it exists is always an array. For more information on `concat` take a look to http://masterminds.github.io/sprig/lists.html

A token with `"groups": ["admin", "engineers"]` will create a certificate like:
[code]

A token without thos

[2020-10-06 23:26] maraino commented on #388
@hb3b let us know if this works for you.

[2020-10-07 01:35] maraino commented on #389
I think the proper solution for a JWK provisioner would probably be to imitate what the OIDC provisioner does. Only if an email is passed and not `--principal` flags are provided:
 1. Sanitized local (myname)
 2. Raw local if different (my.name)
 3. Email address. (my.name@mydomain.com) (can be used with sshd_config AuthorizedPrincipalsCommand)

@NesManrique @dopey what do you think?

[2020-10-07 01:49] hb3b commented on #388
Sweet, that did it!

[2020-10-07 01:49] #388 closed

[2020-10-07 10:12] NesManrique commented on #389
I was finally able to test with google as OIDC provisioner and yes it works providing 3 principals. I agree it should behave the same with the JWK provisioner.

Furthermore I just noticed that there's no `--principal` flag allowed in the `step ssh login` command, I guess it makes sense to add it there as you can anyway add any principal you like if you go with the `step ssh certificates` instead.

[2020-10-09 14:16] EdMcBane opened #393 "AWS provisioner does not work in eu-south-1 region"
### Subject of the issue
AWS provisioner fails to validate the instance identity document when on ec2 instances in eu-south-1 region (and probably in others too). The issue seems to be that AWS uses different certificates in different regions, but the provisioner uses one embedded in the codebase that is not user-configurable.

### Your environment
* Ubuntu 20.04
* Smallstep CLI/0.15.2 (linux/amd6

[2020-10-09 14:20] EdMcBane commented on #393
I'd be willing to look into it and provide a PR to either:
* allow configuring a certificate manually, or
* embedding certificates for all zones and choosing the appropriate one based on the instance region.

Unfortunately it seems AWS does not list their region-specific certificates anywhere and instead requires people to contact support to get them; I've opened a support request but haven't hear

[2020-10-13 08:35] sebastien-baillet commented on #381
Someone?

[2020-10-13 19:35] mmalone commented on #381
@sebastien-baillet I'm not sure I understand the question. It sounds like you're exporting issued certificates from the `step-ca` database and would like to determine which intermediate issued each certificate? The most obvious way I can think of to do that is to use `step certificate inspect` in a script and extract either the issuer common name or the issuer key id:

[code]

I don't think there'

[2020-10-13 19:55] mmalone commented on #381
Returning to the original topic, handling expiry issues gracefully is pretty tricky. We need to balance two issues:

1. Making sure people are aware that they're doing something they probably shouldn't / don't want to be doing, while
2. Not making things worse by breaking things unnecessarily

These are sort of conflicting requirements. The easiest way to make people aware that what they're doing

[2020-10-13 21:44] maraino commented on #393
As far as I know, the hardcoded certificate is valid for US East (N. Virginia), US West (Oregon), US West (N. California), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia Pacific (Sydney), and South America (Sao Paulo).

If other or new regions like `eu-south-1` (Milan) uses a new certificate, I think the easiest solution would be to allow t

[2020-10-14 02:49] alphaDev23 opened #396 "step ca health Forbidden"
I receive the Forbidden error below when attempting to verify the ca's health remotely.  On the host that runs the docker image smallstep/step-ca:latest (as of today), executing 'step ca health' returns 'OK'.

Executing the same remotely, I receive the error below.  The fingerprintt in both default.json files are the same.  Is there a configuration variable that needs to be set on the ca?

STEPDEB

[2020-10-14 07:15] sebastien-baillet commented on #381
It seems you understand my question, thx for your answer :+1:

At the moment, as I can't find anything for such case in RFC, I'm trying to find how other CA tools handle this point.
I've found in EJBCA documentation:
"There are some constraints for the validity of a certificate issued by the CA::
- [...]
- The notAfter time of issued certificate can never be longer than the CAs own validity."
[sou

[2020-10-14 07:47] sebastien-baillet commented on #381
I have my answer: in such a case, the commercial CA tool we're using transparently reduces the validity end date of the issued certificate so that it does not exceed the validity end date of the issuing subCA, without any notice for the operator. (This tool does not handle ACME protocol)

[2020-10-14 17:06] maraino commented on #389
Fixed with https://github.com/smallstep/cli/pull/370

[2020-10-14 17:06] #389 closed

[2020-10-14 17:17] tashian commented on #342
Hi @makkarpov, the templating feature has been released. Here's a blog post describing how to mint OpenVPN certificates using CA templates: https://smallstep.com/blog/x509-certificate-flexibility/#example-openvpn-certificates

[2020-10-14 17:17] #342 closed

[2020-10-14 17:53] #396 closed

[2020-10-15 16:46] B3DTech opened #398 "OIDC Provisioner - ADFS Issues"
When using the OIDC provisioner against ADFS - ADFS throws errors.  When looking at the ADFS audit event logs, I see some very strange entries in the redirect_uri, and some unicode (not sure if that's the event log or what ADFS in interpreting).

Sanitized:

`{"Connection":"keep-alive","Accept":"image/png,image/svg+xml,image/*;q=0.8,video/*;q=0.8,*/*;q=0.5","Accept-Encoding":"gzip, deflate,
br","A

[2020-10-15 16:51] B3DTech opened #399 "Windows Client"
All our developers run Windows as their OS.  It would be great if there were a native Windows client for step.  Most of our developers don't use WSL, and WSL adds quite a bit of bloat to the disk space requirements as well, and it also being one more thing that needs to get patched by our field support engineer.

Thanks!

[2020-10-15 18:24] B3DTech opened #400 "Enable SSH After Init"
So in the documentation - I have come across nothing about running 'step ca init -ssh' to enable ssh certs on hosts.

I get all the way through configuring step-ca as an intermediate signed off our internal root, everything seems OK.  Go to add a host with 'step ssh certificate --host hostname.domain.com ssh_host_ecdsa_key' and it fails saying the method is not implement by the CA.

CA logs show e

[2020-10-15 18:52] maraino commented on #400
Hi, @B3DTech yes, there's a way, but you need to manually edit the `ca.json`. To add a block like this one

[code]

Those are the private keys used to sign host and user certificates. You can generate them with:
[code]

⚠️ Make sure to use the same password that you used before, that way, if not `step-ca` will fail if you're using it with `--password-file` (or with the `"password"` property in `ca

[2020-10-15 18:56] mmalone commented on #381
@sebastien-baillet That's super helpful. Thanks so much for doing this research. I'm now convinced that we should reduce the lifetime transparently so that the `notAfter` of a leaf is `<= min(notAfter for each certificate in the certificate path)`. This will get more complicated if we ever support more complex paths, but for now it'll be easy: just look at the min of the `notAfter` for the root &

[2020-10-15 19:00] maraino commented on #399
There is a native windows `step` client. You can download from https://github.com/smallstep/cli/releases.

Note that you need to run it on a terminal like powershell or cmd.exe, but I would personally recommend the new windows terminal https://aka.ms/terminal (and it's also open-source https://github.com/microsoft/terminal)

You can also manually compile `step-ca` on windows, but it's not supporte

[2020-10-15 19:00] #399 closed

[2020-10-15 19:03] maraino commented on #399
@B3DTech GitHub recently introduced `Discussions`, and we join their beta. If you have more questions, you can do it in https://github.com/smallstep/certificates/discussions

[2020-10-15 19:20] maraino commented on #398
Hi @B3DTech, I'm not sure if this is related, but it's worth trying.

For OIDC we open a random port in 127.0.0.1 and use it as redirect_uri, this is how the standard recommends this kind of authorization. But for some reason, Azure AD doesn't make it easy, for example, 127.0.0.1 can only be set if you use the cli, but not the web UI, and I think there was something related to use a random port, a

[2020-10-16 00:14] #393 closed

[2020-10-16 18:57] EdMcBane commented on #393
Thanks a lot @maraino for the quick intervention.
I heard back from AWS, and finally got hold of the certificate used for validating the **base64** signature of the instance identity document in the **eu-south-1** region: [AWS-base64-encoded-Public.txt](https://github.com/smallstep/certificates/files/5393731/AWS-base64-encoded-Public.txt)

I agree with you that embedding it would provide the best

[2020-10-16 19:16] maraino commented on #393
If you build from the `master` branch you can now add it to a file and point to that file in the AWS provisioner property `"iidRoots"`. If you want to support multiple regions, just append a new certificate to that file.

[2020-10-16 19:16] maraino commented on #393
Thanks for sending us the cert.

[2020-10-17 08:16] sebastien-baillet commented on #381
That is perfect

[2020-10-20 15:43] B3DTech commented on #398
Yes!  Kind of :)

I got a success in the browser after defining the listenAddress.  However on the console, I got "token is not supported"

In the output.log file on the step-ca server, I see the following - not sure if it's related or indicative of anything:

time="2020-10-20T11:40:41-04:00" level=info duration="197.022µs" duration-ns=197022 fields.time="2020-10-20T11:40:41-04:00" method=GET name

[2020-10-20 17:07] B3DTech commented on #400
Thank you - seems to be working.  Having a few OIDC issues, but it successfully issued the SSH host cert.

[2020-10-20 17:22] #400 closed

[2020-10-20 19:00] maraino commented on #398
@B3DTech By default OIDC is looking for the `"email"`claim and this is not in your token:

[code]

The current code REQUIRES the `email` claim for SSH certificates, see https://github.com/smallstep/certificates/blob/4c8bf87dc1a7cab2c2bff7265e76d6a616638311/authority/provisioner/oidc.go#L370-L372

This is not the case for X.509 certificate, in these certificates that token will create a URI subject

[2020-10-20 20:39] B3DTech commented on #398
OK - I have a successful cert issued via ADFS:

Here are the steps to get ADFS working:

A) It has to be Server 2016 or higher

In the ADFS console, go to Application Groups.  Select _**_Add Application Group..._**_

Give it a name and select Web browser accessing a web application (this allows you to send custom claim attributes):
<img width="716" alt="Screen Shot 2020-10-20 at 4 20 33 PM" src="h

[2020-10-20 20:44] B3DTech commented on #398
Still seeing an issue with step ssl login user@domain.com.  I may be missing something though...

The request was forbidden by the certificate authority.

error="authority.SignSSH: ssh certificate keyID cannot be empty"

[2020-10-20 21:08] B3DTech commented on #398
step ssh login user@domain.com is still not working....

The request was forbidden by the certificate authority

error="authority.SignSSH: ssh certificate keyID cannot be empty"

[2020-10-20 21:50] maraino commented on #398
@B3DTech I think this is a known issue that was solved a couple of months ago but is still not in a formal release. But I think it should be solved in [this release candidate](https://github.com/smallstep/cli/releases/tag/v0.15.3-rc.1) or building step from source.

And thanks for the detailed tutorial to add the email claim.

[2020-10-20 21:51] maraino commented on #398
And I think it only happens if your email is marked as an admin in the provisioner.

[2020-10-20 22:20] maraino commented on #393
@EdMcBane I got from Amazon a different certificate for the eu-south-1 region, I'll guess I'll have to try them at some point.

[code]

[2020-10-20 22:44] EdMcBane commented on #393
@maraino the one they sent you is for the RSA-2048 signature validation. Since smallstep uses the base64 signature, the one i reported above ( [AWS-base64-encoded-Public.txt](https://github.com/smallstep/certificates/files/5393731/AWS-base64-encoded-Public.txt) ) is the correct one.
It looks like a systematic mistake from AWS support, because initially they sent me the wrong one too.

[2020-10-21 14:46] B3DTech commented on #398
That RC seems to have fixed that issue.  One quick question is using different provisioners for host vs client when SSH'ing.

I can't use OIDC for host ssh certs since our hosts are all headless and don't have a GUI, so no browser functionality there.  Is it possible to use JWK for the host ssh certs and OIDC for the client certs?  Documentation seems a little sketchy around ssh and an end-to-end

[2020-10-21 15:47] B3DTech commented on #398
Found that issue - selinux!

<img width="1056" alt="Screen Shot 2020-10-21 at 11 41 36 AM" src="https://user-images.githubusercontent.com/32655512/96744287-e995e580-1392-11eb-8f81-89df54037d7f.png">

It was rejecting on read, open and getattr.  After allowing that, it works!

So I'm wondering if there's a better way to handle this?  Where should the steppath be?  By default it seems to want to pla

[2020-10-21 18:00] dopey commented on #341
Hey @zachwalton are you using the `step-ca` in a high availability deployment (where you might have multiple `step-ca`s deployed)?

If not, we merged a bug fix yesterday which added some locking functionality around the orderIDsByAccount functionality. It won't work across instances of `step-ca` but I'd be curious if it works for you if you're using a single instance. Let me know :)

It should be

[2020-10-21 18:01] dopey commented on #341
Should be fixed by 711aafc1d552d1012cd2db423a2fe08946e1f99d -- but if anyone runs into this again, please comment or open up a new issue.

[2020-10-21 18:01] #341 closed

[2020-10-21 18:11] zachwalton commented on #341
Awesome! I'll take a look at that fix :)

Yes, we're running an HA deployment of `step-ca`. So the local mutex may not quite do it for us, but internally we just have the limitation documented for now.

[2020-10-21 18:14] dopey commented on #341
Ah nuts. Well then this won't be too useful for you :) Nevertheless, hopefully it'll save some other people some pain going forwards. Thanks again for bringing up the issue and recommending the fix!

[2020-10-21 19:43] maraino commented on #398
Yes, `/root/.step` is the more natural STEPPATH for a server. You will also need to refresh the server certificate. To do this you will need to set up a cronjob or systemd timer. For example, using the systemd timer:

[code]
and assuming you are using the ecdsa key:

[code]

For this to work you need to enable an SSHPOP provisioner:
[code]
You can also create a new cert with other provisioners lik

[2020-10-21 20:22] #398 closed

[2020-10-21 22:53] dnwe opened #404 "Trailing dot domain breaks bootstrap token audience check"
---

👋🏻 many thanks for all your work on step-ca!

---

### Subject of the issue

(Similar to #17)

A [trailing dot domain](http://www.dns-sd.org/trailingdotsindomainnames.html) is just a fully qualified domain name (FQDN) and (represented as is in DNS) the trailing dot means the root label.

However, the comparison of audience is done by preparing a series of possible strings using the configured

[2020-10-22 00:00] mmalone commented on #404
Oof. Seems like this was annoying to debug. I appreciate the detailed description of the issue.

To start, regarding the error you received, security-sensitive client-side errors are intentionally vague to prevent leaking sensitive security details. That said, we may be overdoing it here. It'd definitely be nice if the server-side error was clearer, at least (I'd expect something like: "invalid au

[2020-10-22 00:08] mmalone commented on #404
For reference, another (long) thread (that I haven't fully read yet) that seems related. Opened 19 years ago, closed 2 months ago:

https://bugzilla.mozilla.org/show_bug.cgi?id=134402

[2020-10-22 15:15] Jcpetrucci opened #405 "too many positional arguments were provided in 'step-ca <config>'"
### Subject of the issue
Cannot execute `step-ca ca init`

### Your environment
* OS - CentOS
* Version - 7

### Steps to reproduce
$ tar -zxvf step-certificates_linux_0.15.4_amd64.tar.gz
$ sudo install --verbose step-certificates_0.15.4/bin/step-ca /usr/bin/
$ step-ca ca init
too many positional arguments were provided in 'step-ca <config>'

### Expected behaviour
Per GETTING_STARTED.md, the init

[2020-10-22 15:22] dopey commented on #405
Hey @Jcpetrucci thanks for opening the issue. `step` and `step-ca` are separate binaries. `step-ca` is a binary that runs the the certificate authority, while `step` is more of a multipurpose cryptographic command line tool kit.

Anyway, to initialize your PKI and Certificate Authority configuration you actually use `step`, not `step-ca`. So try `step ca init`. Similarly, when you interact with th

[2020-10-22 15:24] dopey commented on #405
`step` refers to [this project](github.com/smallstep/cli#installation). `cli` and `certificates` are sister projects that generate the binaries `step` and `step-ca`, respectively.

[2020-10-22 15:29] Jcpetrucci commented on #405
Oh I see, sorry for confusing the two.  I was following https://github.com/smallstep/certificates/blob/master/README.md#linux, and it indicated that installing `step` was optional but recommended.  I only want to run the CA - not use the multipurpose CLI tool kit.  So to initialize the CA, it is actually _required_ (not optional) to use the tool kit?

[2020-10-22 15:49] dopey commented on #405
Technically speaking it's not _required_. You could generate the PKI materials and configuration file used by `step-ca` by hand. But that's not very realistic. You'll also probably need `step` to interact with `step-ca` to get certificates, add provisioners, etc.

So while it's not _required_ it is very much recommended (read as: may as well be required).

You bring up a good question though, and

[2020-10-24 13:32] pavankumarkatakam opened #406 "HELM charts not support IAAC strategy (Terraform)"
Im actually unable to figure out this issue is related to documentation or bug.

Im using the certificates helm chart along with some kustomize and deploying via terraform.

Anyway, I have seen that helm charts uses bootstrap bash file and update the contents and labels as helm also, but since this is not directly projected in the cofing and it is in the bash file (code), the strategy like Infrast

[2020-10-27 18:13] mquinnatlasroofingcom opened #410 "Support for ACME verifications on ip addresses"
### What would you like to be added
There is a extension to ACME to allow it to verify ip addresses.

The extension is:
https://tools.ietf.org/html/rfc8738

### Why this is needed
This isn't something that Let's Encrypt will ever do but for locally hosted ACME provisioners it would be useful to get rid of certificate errors for sites when accessed via their local ip address.  In our organization,

[2020-10-27 20:35] maraino commented on #406
Hi @pavankumarkatakam, will an `if` condition like this one https://github.com/smallstep/helm-charts/blob/master/step-certificates/templates/bootstrap.yaml#L1, but that you can control as a regular variable (values.yaml) solve your issue.

Then you should be able to use terraform to create the configmaps and secrets instead of using the bootstrap script.

The current condition `{{- if .Release.IsI

[2020-10-28 06:06] pavankumarkatakam commented on #406
@maraino , it will not help in my case, if only using helm it may help but my architecture involves rendering the yaml from heml template, that will go kustomize and then from kustomize it will go terraform so it wont work.

Im thinking if we remove the 5 definitions (2 secrets and 3 configs) from chart, because anywhy there is no data specified in chart it is only creating when bootstrapping. in

[2020-10-28 20:04] maraino commented on #406
@pavankumarkatakam Can you take a look at https://github.com/smallstep/helm-charts/pull/27

Will that PR solve your use case?

[2020-10-29 12:03] pavankumarkatakam commented on #406
@maraino , yes using the `bootstrap.configmaps` and `bootstrap.secret` my use case will be solved.

[2020-10-29 17:16] maraino commented on #393
@EdMcBane I'm just letting you know that I've merged to master automatic support for multiple regions, including us-south-1
https://github.com/smallstep/certificates/pull/412/files

[2020-10-29 17:20] maraino commented on #406
@pavankumarkatakam and unless you want to use a custom bootstrap script you will need to set `bootstrap.enabled` to `false` too. I'm merging the PR and closing this issue.

[2020-10-29 17:20] #406 closed

[2020-10-31 03:53] #405 closed

[2020-11-04 18:08] Jcpetrucci opened #418 "Leaf certificate for "Step Online CA""
### Subject of the issue
When step-ca is started, it seems to generate a new leaf certificate for itself.  The subject is "Step Online CA" and it is issued by the intermediate cert.  Can we influence the generation of this certificate at all?  For example changing the subject, or the validity (valid from / valid to) dates?  I have already configured `claims` and `minTLSCertDuration` under my provi

[2020-11-04 18:38] #418 closed

[2020-11-04 18:55] maraino opened #419 "Flags with aliases must use the main name"
### Description

When we define a default in `defaults.json` and that flag has an alias, as it happens with `"crv, curve"`, when we set the `urfave/cli` context manually with the value from defaults.json doesn't define the value for the alias.

So with `"crv": "P-384"` in `defaults.json`:
* `ctx.IsSet("curve")` is true
* `ctx.String("curve")` is empty.

[2020-11-04 20:22] mkkeffeler commented on #244
with templates now released, (AND AMAZING, might I add, already using). Is there something we can fix this with? short story, we have a root CA that smallstep doesn't know about (it signed the intermediate that smallstep is using as its root), that we want to deliver as part of the chain of trust when users get a certificate from us.

[2020-11-04 20:24] mkkeffeler commented on #87
been a minute :) Any info on this feature?

[2020-11-04 20:42] maraino commented on #244
Templates won't for supporting multiple intermediates, this seems to be a duplicate of (https://github.com/smallstep/certificates/issues/87)

It's not a P0 priority right now, but it's something we will add. The support must be added to both `step` and `step-ca`, and the basic building blocks are already in `step-ca`. We always appreciate contributions to the project.

[2020-11-04 22:23] dwchurch commented on #244
This is an issue for me and my people

[2020-11-04 22:33] razron commented on #244
Got similar problems as described by @mkkeffeler  We are having to manually append the additional certificates or use additional script logic to add them. Not all clients make it easy to do the additional scripting and adding things manually defeats automatic renewals. So another me too.

[2020-11-04 23:06] maraino commented on #244
@mkkeffeler, @dwchurch, @razron Can you please add a 👍 to https://github.com/smallstep/certificates/issues/87

[2020-11-05 15:34] dnwe opened #420 "step-ca frequently logging HTTP 200 requests from kubernetes liveness/readiness probes"
### Subject of the issue

When deployed and running in Kubernetes, step-ca will output a log statement every 5 seconds at INFO level from the ongoing readiness/liveness probe requests:

[code]

### Your environment
* OS - Kubernetes (Linux)
* Version - 1.18

### Steps to reproduce

- deploy the step-ca using the [helm-charts](/smallstep/helm-charts)
- kubectl logs step-certificates-0 -f

Observe t

[2020-11-05 15:37] dnwe commented on #420
I proposed a possible fix in #421 but if you would prefer it to be fixed in another way or with a different behaviour then let me know and I'm happy to make changes

[2020-11-05 21:22] alexw19 commented on #87
Any updates on this feature?

[2020-11-07 14:48] mkkeffeler commented on #347
Doesn't vault have a server integration? meaning it can take a secret out of vault and store on a file on the server? Seems like that may simplify this, I know CyberArk Conjur has a solution like that.

[2020-11-07 15:24] mkkeffeler commented on #244
thee body of the issue

[2020-11-09 00:17] maraino commented on #347
Although it hasn't been officially announced yet, we have added support for this kind of integrations, currently, only Google's CloudCAS is supported, but other registration authorities can be supported using the following interfaces:
https://github.com/smallstep/certificates/blob/master/cas/apiv1/services.go#L7-L26

[2020-11-09 18:43] maraino commented on #87
I added a small update in a duplicated issue https://github.com/smallstep/certificates/issues/244#issuecomment-721964197

[2020-11-11 14:09] hongkongkiwi commented on #347
Is it possible to add a HTTPS webhook interface? I'm not a Go developer and would love to just keep the system clean without adding my own code in.

With a webhook provider we can just use a simple interface to handle external certificate calls.

[2020-11-11 22:41] loganmarchione opened #424 "Issue with documentation: maxTLSCertDuration is set twice"
In the following examples, `maxTLSCertDuration` is set twice in the JSON config. It should only be set once.
https://github.com/smallstep/certificates/blob/master/docs/provisioners.md#claims
https://github.com/smallstep/certificates/blob/master/docs/provisioners.md#jwk
https://smallstep.com/docs/step-ca/configuration

[2020-11-11 23:13] maraino commented on #347
@hongkongkiwi it will be possible to add an HTTPS webhook interface that we will POST a JSON with the certificate that we want to sign.

We cannot directly use a certificate request, that can be checked because we don't have the private key to sign the CSR. Certificate templates do transformations on the CSR to get the final certificate.

But as a configuration option, we can provide the raw certi

[2020-11-16 17:39] dopey commented on #424
Hey @loganmarchione, thanks for opening the issue! I just pushed a fix for the first two error you mentioned (the ones in the github docs) - those should be live. And I also fixed the website, but that requires a full deploy, so I'll just let that go out in our next deploy cycle.

Thanks again for bringing this to our attention!

[2020-11-16 17:39] #424 closed

[2020-11-16 17:47] dopey commented on #303
@tashian can we call this complete?

[2020-11-16 22:54] tashian commented on #303
Yes

[2020-11-16 22:54] #303 closed

[2020-11-17 18:26] dopey commented on #419
What are the flags that have this issue?

[2020-11-18 15:33] dopey commented on #365
Heyo, checking in to see if you've had time to poke at this and check if the issue still persists with newer versions.

[2020-11-18 15:39] dopey commented on #338
@maraino we discussed this a few months back and I believe we decided not to act. Can we close this issue and reopen if it comes up again?

[2020-11-18 15:44] aredridel commented on #365
I haven't! I'm so sorry! Work's been wild in an entirely different way. I do intend to test though!

[2020-11-18 15:56] dopey commented on #263
@maraino is this "done" now that cert-flexibility has been released?

[2020-11-18 16:08] dopey commented on #198
@maraino now that we're not using x509util.WithOption is there any update here? If this is still an issue, can we rename it to something more specific?

[2020-11-18 16:12] dopey commented on #153
@maraino is this something that will be addressed by switching to the new logger backend that we've been discussing?

[2020-11-18 16:14] dopey commented on #147
I believe this is not possible with the recent release of certificate flexibility templates. If you feel I'm closing this issue prematurely, let me know and I'll happily reopen.

[2020-11-18 16:15] #147 closed

[2020-11-18 16:17] dopey commented on #144
Hey @kfox1111 sorry for the complete radio silence on our part :( This one fell through the cracks.

If this is possible, I'm unaware of anyone doing it. You could run completely stateless by just not specifying any DB. (Note: this won't work if you want to use ACME or revocation).

[2020-11-18 16:22] dopey commented on #213
@maraino is this considered "done" with the recent release of certificate flexibility?

[2020-11-18 16:25] dopey commented on #142
This capability is now possible using X509 certificate templates with `step` or `step-ca`. https://smallstep.com/docs/step-ca/configuration#x509-templates

[2020-11-18 16:32] dopey commented on #119
Update here is that we now have cloud HSM support for popular providers. As there is already an issue for OCSP support I'm going to mark this ticket as closed and we'll track OCSP support elsewhere.

[2020-11-18 16:32] #119 closed

[2020-11-18 16:34] dopey commented on #98
@maraino did this ever get fixed?

[2020-11-18 18:23] maraino commented on #98
No, but 0s does not cause any issue other than "cosmetic".

[2020-11-18 18:52] maraino commented on #213
Yes, closing.

I also created a bash script that generates a token that can be used with a JWK provisioned, that combined with certificate templates can be used to get a certificate with the GitHub extension.

In a company, an implementation of this process in a different language, and some authentication would be enough to use JWK for this purpose:

[code]

[2020-11-18 18:52] #213 closed

[2020-11-18 18:56] maraino commented on #153
@dopey yes, this will be fixed once we switch to https://github.com/smallstep/logging

[2020-11-18 19:01] maraino commented on #198
An implementation of the CertificateModifier or CertificateEnforcer would be enough with the latest version of the CA:
https://github.com/smallstep/certificates/blob/46fc922afdf0102f7a4292366e8d8079ff267ff8/authority%2Fprovisioner%2Fsign_options.go#L46-L58

This is way simpler than it used to be.

[2020-11-18 19:01] #198 closed

[2020-11-18 19:15] mholt commented on #198
For the record (thanks to your tip in Slack earlier this year), Caddy is already using the CertificateModifier interface. Much nicer. :)

[2020-11-18 19:22] maraino commented on #263
Yes, for X.509 certificate the OIDC provisioner now does not require the email address, it is only required for SSH certificates.

By default, it will create a Email SAN with the email address if exists and an URI SAN like `schema://issuer.url#sub` if the issuer is an URL, i.e `https://accounts.google.com#1234567890` but the behavior can be changed with certificate templates. One example can be:

[2020-11-18 19:22] #263 closed

[2020-11-18 19:25] maraino commented on #338
:(

[2020-11-18 19:25] #338 closed

[2020-11-18 19:43] erwbgy commented on #263
Thank you - I'll try this out.

[2020-11-18 19:50] maraino commented on #263
@erwbgy if sub contains different types of SANS you can also use sans instead of dnsNames above.

[code]

Type auto would parse the value and decide if is an dns, IP, email or uri.

[2020-11-21 10:43] casdevs opened #428 "Support `--password-file` option in `step certificate create` and `step certificate sign` commands"
### What would you like to be added

Would it be possible to add the `--password-file` option to the following commands also?
* `step certificate create`
* `step certificate sign`

### Why this is needed

We would like to automate creating additional intermediate CAs in Docker containers and having their certs be signed by another (offline) step-ca instance. To ease the process of initializing the

[2020-11-21 10:54] casdevs opened #429 "Re-reading an updated password-file in `step-ca` on SIGHUP"
### Subject of the issue

I'm not 100% sure, but could it be that step-ca does not read a (potentially updated) private key password from the file given via the `--password-file` option on startup again if it reloads?

We've replaced certs and keys as described in https://smallstep.com/docs/tutorials/intermediate-ca-new-ca#the-secure-way (using a new private key secured with a new password), updat

[2020-11-24 18:12] dopey commented on #429
@casdevs thanks for opening the issue/bug!

Note to us -- remember to handle:

* temp file <() process substitution
* if the file no longer exists go back to the old password

[2020-11-24 18:35] dopey commented on #63
Notes:

Have the sidecar run `step ca federate`

[2020-11-24 23:23] dopey commented on #428
Hey @casdevs thanks or opening the issue!

We'll definitely add this, but in the mean time I believe you can use shell process substitution as a work around.

[code]

[2020-11-25 10:41] casdevs commented on #428
@dopey: that would be great!

BTW: thanks for the workaround - it works!

[2020-11-29 04:52] burnbabyburn opened #431 "Support SAN:othername"
### What would you like to be added
I would like to set SAN:Othername for a Active Directory Domain Controller Certificate. See Question in [Discussions](https://github.com/smallstep/certificates/discussions/430)

But it seems, that some options are missing from Func [SplitSANs] to fully support all SAN Extensions the RFC implements(https://godoc.org/github.com/smallstep/cli/crypto/x509util#SplitS

[2020-12-02 23:29] mkkeffeler commented on #349
I think this describes similar to our use case. We have a DMZ that we don't want to open port 80 and 8443 to the step server, and then allow the step server to reach into a DMZ. instead, would prefer to put a remote server in that DMZ, then only open that server to our root step Server, and effectively broker the connection so we can maintain a secure DMZ zone without wide ranging access being giv

[2020-12-03 20:29] maraino commented on #349
Hi @jcpunk, we have this idea in mind, in fact, there is already an implementation of `step-ca` as a `Registration Authority`. In the [GCP marketplace](https://console.cloud.google.com/marketplace/product/smallstep-public/acme-registration-authority-for-gcp-cas?q=smallstep&id=17bfcdde-5ac6-4622-908d-660b601b88c1). In this implementation `step-ca` is using Google's CloudCAS as the actual CA, and `s

[2020-12-09 19:59] mkontani opened #433 "Apply x509 client-cert info with x5c provisioner to template"
### What would you like to be added
Thanks for support cert flexibility with template, and blog posts are very useful!

Now I want to apply x509(client cert) information (e.g. Subject, SANs etc) with x5c provisioner to ssh template.
With OIDC provisioner, OTT has idtoken information, so we can control flexibly.
But with x5c provisioner, client cert information is not set on OTT's payload (though o

[2020-12-09 20:25] mmalone commented on #433
This makes sense to me. We need to decode the certs in the `x5c` header and make that info available in templates.

We're working on service accounts for our SSH product (e.g., issuing SSH certs to cron jobs and other automations), and the current spec has those certs being issued via `x5c` provisioner with the host's client cert being used for authentication. I think we're gonna need the host cer

[2020-12-09 20:32] maraino commented on #433
Hi @mkontani, the tokens for an x5c provisioners can also be created using `step crypto jwt sign`, and with this, you can customize those tokens as you want.

For example, if you inspect an x5c token for use in x5c, you will see a couple of nonstandard claims:
[code]

Those are the sans requested and the fingerprint of the root certificate `step certificate fingerprint $(step path)/certs/root_ca.c

[2020-12-09 20:37] maraino commented on #433
@mkontani If you are doing a token for ssh the claims are a little different
[code]

But the same logic applies.

[2020-12-09 20:40] maraino commented on #433
But I agree with @mmalone that we should add the certificate to the template context.

[2020-12-09 20:46] maraino commented on #433
Adding the Go representation of a certificate to the template context will allow to get variables from it like
[code]
In a similar way we can get information from a CSR.

[2020-12-10 13:00] mkontani commented on #433
@mmalone Thank you for confirmation! It was good that recognition matched.

It's good! If these json properties can be accessed in template, most control seems to be able to be realized easily.

[2020-12-10 13:37] mkontani commented on #433
@maraino Hi, thank you for kind descriptions!

I could issue any customized OTT and control with ssh template!

If we are going to control with x509 cert at present, we seem to need a token issuance component which is not a cert request client..
Either way, thanks good references! also it seems to be useful that x5c headers props can be used with template.

[2020-12-10 20:08] tmcolby commented on #326
I have been working with Hashicorp Vault for a project that mandates it.  I like Step more ;)
Anyway, I thought I would share what I learned while working with it.  Turns out Vault does exactly this - tokens are issued with an optional "number of uses" property.

[2020-12-13 23:07] etudurd commented on #110
Hello,
I am trying for 2 weeks to implement SSO via keycloak+smallstep to remotely access some ssh servers, but without success.
There are any options /  implemented solutions available (to take them as example)?
Many thanks!

[2020-12-15 00:09] tashian commented on #110
Hi @etudurd, one good example is our [DIY SSO for SSH blog post](https://smallstep.com/blog/diy-single-sign-on-for-ssh/), which will take you through the entire SSH setup, using a Google Cloud OAuth client.

While we don't have a specific Keycloak example, the [OIDC provisioner](https://smallstep.com/docs/step-ca/configuration#oauthoidc-single-sign-on) for `step-ca` only needs three parameters:
*

[2020-12-16 20:31] tashian opened #434 "CA prevent its process memory from ever being swapped to disk."
If it has the `cap_ipc_lock` capability,`step-ca` should use `mlock()` to prevent its process memory from ever being swapped to disk. Documentation should show how to run `setcap` as part of installation, and/or use `systemd` unit capabilities at runtime.

[2020-12-17 18:17] AGWA opened #435 "Security vulnerabilities in Smallstep"
I did a partial security review of Smallstep and found a couple vulnerabilities and some other things you may want to look at. My findings are here: https://www.agwa.name/blog/post/security_vulnerabilities_in_smallstep

[2020-12-17 20:01] maraino commented on #435
Thanks @AGWA, we're aware of the weakness of the AWS Provisioner. Step CA is based on tokens, and AWS identity documents are not provided as tokens as for example GCP does, so we had to embed those documents in a token.

The first unsafe deserialization is used to fetch the document signature that is used in the HMAC.
[code]

Then we validate the token with that signature:
[code]

At this moment e

[2020-12-17 20:07] AGWA commented on #435
Hi @maraino I agree that the identity document itself is validated as being signed by AWS and I haven't said anything to the contrary.  What is ineffective is the attempt to limit the token lifetime to 5 minutes.  I also find this statement very confusing:

What exactly is being validated by that code?

[2020-12-17 20:31] maraino commented on #435
Just that our software generates the token, it doesn't provide additional security as the real validation is the one with the document.

The token lifetime is irrelevant, in my opinion, as you can generate a token yourself with any data you want.

By default, you can only use the first token generated by the instance, the second token will be blocked, the id used is generated based on a verified i

[2020-12-17 20:32] maraino commented on #435
@AGWA we're open to recommendations of improvements of the AWS provisioner, if you have ideas, share them with us.

[2020-12-17 20:33] mmalone commented on #435
Hi @AGWA!

First, thank you for reviewing our code and providing feedback. This level of review is super helpful, and I really appreciate it. I've had a pretty busy morning (dealing with COVID-related childcare issues and it snowed a bunch last night, so just finished digging out the driveway) so I haven't carefully read your post yet. It's literally next up on my todo list though, and I'll try to

[2020-12-17 20:48] AGWA commented on #435
@maraino I also see unescaped values in `sshutil/templates.go`.  Updating the templates to use `toJson` and emphasizing the need to use `toJson` in your documentation is a good short-term fix, but I must reiterate that your users are going to forget to escape in their own templates, so the proper fix is a context-aware templater for JSON like template/html.

If nothing is being verified by the JWT

[2020-12-17 21:53] AGWA commented on #435
Yup, that's the kind of approach I was thinking of.

The problem is this line: https://github.com/smallstep/certificates/blob/1feb4fcb26dc78d70bc1d9e586237a36a8fbea9c/authority/provisioner/aws.go#L287

`payload.ID` is from the JWT, which we've established is untrusted.  The ID should be derived from the contents of the IID, because it's signed by AWS.  (This is why doing unnecessary stuff is a sec

[2020-12-17 22:21] maraino commented on #435
@AGWA: fix on https://github.com/smallstep/certificates/pull/436, I'm trying to see if we should just regenerate it in `GetTokenID()` or just validate it as I'm doing in the current version of the PR

[2020-12-17 22:22] mmalone commented on #435
Yup. You're right. @maraino is working on a PR over here: https://github.com/smallstep/certificates/pull/436. We're now debating the (unimportant?) detail of whether the code is clearer if we recompute the value and compare to the user-supplied one or if we ignore the user-supplied value altogether (in which case, why is it even there). Either way, a fix is on its way.

Yea, you're right. I agree

[2020-12-17 22:28] dopey commented on #435
Opened up an issue to improve the docs for `instance-age` -- https://github.com/smallstep/docs/issues/12.

[2020-12-17 22:32] dopey opened #437 "Apply `toJSON` to every string parameter in the templates by default."
https://github.com/smallstep/certificates/issues/435

[2020-12-17 22:41] AGWA commented on #435
I think it's more robust to ignore the user-supplied value.  It would also make it easier to remove the JWT down the road.

:+1:

Yeah, this isn't a bad way to go, but it should be clear that this is the architecture you're designing for, and any deviation (such as random, unmanaged instances) is risky.

[2020-12-17 23:02] mmalone commented on #435
Yea, there's probably an interesting meta-story here... we did a first pass at this functionality, and took some care to position it properly when it was unannounced (in the blog post mentioned above). Since then, IIDs haven't been used as much as we expected (ACME is way more popular). I'm sure some people are using it -- it's possible lots of people are and we're just not aware -- but I haven't

[2020-12-17 23:43] mmalone commented on #435
Opened another issue to improve documentation of IID security characteristics at https://github.com/smallstep/docs/issues/13

[2020-12-17 23:52] maraino commented on #435
Both JSON injection and AWS token reuse issues are fixed in [v0.15.6](https://github.com/smallstep/certificates/releases/tag/v0.15.6)

[2020-12-17 23:52] #435 closed

[2020-12-18 11:43] philfry commented on #206
Hi all,

I've been playing around with smallstep-ca for a while now and for vpn and stuff I need crls and/or ocsp. Fortunately the relevant informations can be extracted from step's database.
With the badger database backend it's quite hard to extract the data as the tools exactly need to match step's database version (or else you'll get `manifest has unsupported version` errors) so my interim sol

[2020-12-18 16:32] james-crocker opened #439 "Add --listen option to step ssh"
### What would you like to be added
Add option `--listen localhost`, `--listen localhost:10000`, etc. for `step ssh login`.

### Why this is needed
As mentioned in previous issues, some IdP will not accommodate http://127.0.0.1. It appears to have been accommodated for `step oauth` with an option `--listen localhost`. I'm using an IdP with this consideration and get redirect_uri mismatch for http:

[2020-12-18 19:37] mikemaxey commented on #108
@ericnorris - we have come a long way since you opened this issue and asked about ACME support. We are trying to learn how to better support our community and their use cases. Are you open to a live conversation where we can get your perspective on things? Drop me a note at maxey at smallstep dot com if you are interested. best

Maxey - VP Product @ Smallstep

[2020-12-18 21:57] mmalone commented on #206
That's pretty cool @philfry. Have you also figured out how to use [certificate templates](https://smallstep.com/docs/step-ca/configuration#certificate-templates) to include the appropriate extension for your OCSP responder in your issued x509 certs? If so, others may be interested in the template you're using if you're willing to share (I know I would)!

We still don't have an ETA for built-in act

[2020-12-21 08:47] philfry commented on #206
You mean something like this?
[code]
Fortunately I didn't have to craft an asn.1 for that, it's already included in step :)

[2020-12-22 18:31] #439 closed

[2020-12-22 18:35] tashian commented on #434
[Here's a Go library that could help with this](https://github.com/awnumar/memguard)
And here's [the place in Vault's code where it `mlock()`s all process mem](https://github.com/hashicorp/vault/blob/9f5babf5848c8651a31b4a353d1e6a6704ea5707/sdk/helper/mlock/mlock_unix.go#L15-L18)

[2020-12-24 02:51] trs80 commented on #14
I'm also interested in SCEP from the MDM (Jamf/Intune) point of view, specifically to distribute certificates for use in VPN and wireless (802.1x).

[2020-12-28 21:03] gclawes commented on #301
NitroKey HSM 2 is another similar device using PKCS#11: https://shop.nitrokey.com/shop/product/nk-hsm-2-nitrokey-hsm-2-7

[2020-12-28 22:46] maraino commented on #301
@gclawes: We're probably going to start implementing support for YubiHSM2 in early 2021. Do you have a NitroKey HSM2? Would you be open to doing some testing when it's done?

[2020-12-28 22:50] symgryph commented on #301
i have a yubikey hsm 2 and would be happy to help beta test

Thomas J Munn

[2020-12-28 23:29] gclawes commented on #301
@maraino yes, I have one.

[2020-12-29 01:56] maraino commented on #87
Fixed by #440

[2020-12-29 01:56] #87 closed

[2020-12-29 01:58] maraino commented on #244
Fixed by #440. That PR adds support of a certificate chain of multiple intermediates in the full authority, not a per-provisioner one. If a per provisioner one is required a new issue should be opened.

[2020-12-29 01:58] #244 closed

[2021-01-11 22:03] vairakkumar-vairaperumal opened #451 "sudo systemctl status step-ca gives error "Failed with result 'exit-code'"
### Subject of the issue
https://github.com/smallstep/certificates/blame/5a1e44a399343c2a2a5e25abbe3b6fda33e26289/README.md#L197

Describe your issue here.
WHen running status on a running daemon, the output results in error

[code]
The above command results in

[code]

### Your environment
* OS -  Ubuntu 18.04 or 20.04
* Version - Smallstep CA/0.15.6 (linux/amd64)
Release Date: 2020-12-17 23:24 U

[2021-01-11 23:02] tashian commented on #451
Hi @vairakkumar-vairaperumal, are you able to run the server outside of systemd, eg by running something like `sudo -u step /bin/sh -c "/usr/bin/step-ca /etc/step-ca/config/ca.json --password-file=/etc/step-ca/pwd"` directly on the command line?

[2021-01-12 01:33] tashian commented on #451
Hi @vairakkumar-vairaperumal I just pushed a fix for the systemd file, which had a bug. Thanks for reporting this. Here's the updated unit:

[code]

[2021-01-12 01:33] #451 closed

[2021-01-13 01:00] mholt opened #452 "External account binding"
### What would you like to be added

ACME External Account Binding (EAB) support. RFC 8555 describes how the ACME server should support it:

I believe a user-configurable hook or interface will be needed too, so that we can verify that the EAB key originated from our service, and not somewhere else.

### Why this is needed

It allows ACME servers to bind or associate ACME accounts with accounts on

[2021-01-14 22:10] mmalone commented on #452
I want to support EAB. The difficult question seems to be: how are the EAB symmetric keys managed? Are they managed by `step-ca` or by some external service?

I wish EAB was spec'd more loosely to use a bearer-token for binding instead of signing over the pubkey, as it'd be easier to tie the binding back to something like an OAuth OIDC or SAML identity provider or cloud instance identity documents

[2021-01-15 19:28] mholt commented on #452
@mmalone I definitely agree on the sentiment about EAB. But it is what it is I guess.

Since my call with your team earlier this week I think I have actually determined a way to do what I need to do without EAB or any modifications to the current ACME server! (Assuming my assumptions hold, which I *think* they will. I'll know better after I write the code.) This should be great news. :smiley: It s

[2021-01-21 22:42] TheTonon opened #454 "Windows says enrolled certificate is invalid"
Hello, I have a setup where there's an ADCS as root CA and I'm using Step as intermediate.
I have to take CSRs from Windows VMs and bring to another VM to properly enroll them and the decided method is ACME, so from there I use a python script as client and get the signed certificates. Back on the target VM, Windows says it can't verify the certificate signature. The public key from the cert is di

[2021-01-22 00:46] maraino commented on #454
If the CSR public key is different than the one in the final certificate, you will have a problem like the one you're describing, because the private key won't match the public one in the certificate. If this is the case I would look at the ACME client, perhaps it is sending to step-ca. a new CSR.

Another thing to take into account is that the generated certificate should have both the final cert

[2021-01-22 10:00] tarelda commented on #14
@mmalone, I came across step looking for CA solution for my internal VPN needs. AFAIK, all the modern firewalls support SCEP based enrollment. While manually distributing initial certs is something I can deal with, automatic renewal is cumbersome, especially that I want to use short lived certificates.

@sbingner, good find :)

Also I found these Cisco documents regarding SCEP:
- https://www.cisco

[2021-01-22 10:06] TheTonon commented on #454
I took some time to figure how I send the CSR and load it at the client and now pubkeys are the same, but I still get the certificate is invalid, which leads me to believe that's a Windows thing. I'm doing some more tests and will update that issue, also I have to test signing everything with RSA keys, seems weird that Windows Server wouldn't accept something so common, but I'll be damned.

BTW, t

[2021-01-22 19:20] mholt commented on #410
I also have a need for this, as we'll often be authenticating Caddy instances by their IP address - for internal/admin use only, so it's something we need signed by our own CA and not a public CA.

[2021-01-22 21:11] maraino commented on #454
@TheTonon Perhaps you can use `step fileserver` + `step certificate inspect` to debug:

With the certificate and the key you can run a test fileserver like this:
[code]

Then you can inspect the certificate with:
[code]

You can also sign the CSR using step:
[code]

[2021-01-23 10:19] Slamdunk opened #456 "Can the provisioners' sensitive data be hidden?"
### What would you like to be added

I'd like to hide our `provisioner list` sensitive data from being publicly available.

### Why this is needed

Hi, we plan to move to production our step CA. We carefully read https://smallstep.com/docs/step-ca/certificate-authority-server-production but still there is a security concern we are worried about: the provisioner list would be public, once in produc

[2021-01-27 01:01] brotherdust commented on #14
Small step is useless to me until it has SCEP or there's a valid workaround. I'd love to use, even pay money for it!

[2021-01-27 04:13] maraino commented on #301
I'm happy to announce that initial support for YubiHSM2 (and other PKCS#11 modules) has been pushed to https://github.com/smallstep/certificates/pull/457.

Full testing is still pending and the way pkcs uris are currently managed can change at any time.

[2021-01-27 05:41] dopey commented on #456
Hey @Slamdunk, we have an existing issue from a while back debating the merits and security holes of exposing the clientSecret. https://github.com/smallstep/cli/issues/231

Our position then, and now, is that we do not consider the client secret to be sensitive material that cannot be returned in the provisioner list.

That said, we are open to having our minds changed. If you'd like to respond to

[2021-01-27 05:41] #456 closed

[2021-01-27 08:02] hslatman commented on #14
Recently I learned a bit about SCEP (and EST) and decided to implement small POCs to better understand them. I've created two Caddy modules for this: [caddy-scep](https://github.com/hslatman/caddy-scep) and [caddy-est](https://github.com/hslatman/caddy-scep). Both modules are essentially wrappers for other Go modules providing the actual SCEP and EST functionality on top of Caddy. Caddy uses Small

[2021-01-27 08:02] Slamdunk commented on #456
The reply in https://github.com/smallstep/cli/issues/231 is detailed and well thought, thank you.

[2021-01-27 20:32] hanssl commented on #239
+1 for any way to query the ca for the issued certs.  I need a way to revoke a cert from a client (or the ca server) where the file was generated/lives.  In other words,

1. Login to ca server
2. List certs
3. Revoke a specific one.

[2021-01-31 06:42] jodygilbert commented on #454
If you are using ACME, could you use the Win-ACME tool for requesting and installing the certificates directly on your Windows VM’s?

[2021-02-02 02:36] maraino commented on #301
@gclawes  @symgryph @hamannju The PR is now ready for review, feel free to test your HSMs with it.
To configure step-ca with yubihsm2, just follow this comment https://github.com/smallstep/certificates/pull/457#issuecomment-768020572

[2021-02-04 02:05] maraino opened #461 "Add support for YubiKey retired key management slots"
### Description

The YubiKey slots 82-95 (Retired Key Management) are not defined in the github.com/go-piv/piv-go/piv and need to be manually defined. We should be able to support those slots using the tags defined in https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-73-4.pdf#page=30

[2021-02-04 07:02] rolffujino opened #462 "Azure Key Vault Support"
### What would you like to be added
Support for Azure's KMS key vault:
https://azure.microsoft.com/en-us/services/key-vault/

### Why this is needed
Support already exists for GCP & AWS, it would be great to have the equivalent for Azure, to round out support for the 3 largest Cloud providers..

[2021-02-04 18:19] mmalone commented on #462
We definitely want to support Azure Key Vault. Not sure when we'll have time, but it's on our roadmap. We do prioritize based on both open source and commercial interest. So I encourage people to vote with their +1s here, or contact us to vote with your dollars.

I also think this would be a good first issue for anyone interested in contributing to the project. @maraino did a really nice job abstr

[2021-02-05 05:41] strarsis opened #463 "Health check timeout (container state: unhealthy)"
### Subject of the issue
The step-ca container health state is shown as `Up (health: starting)`, later it will turn to `Up (unhealthy)`.
But the service runs fine and it also logs that it is listening now, so apparently the health check always fails.

### Your environment
* OS: WSL 2
* Version: 2 (Windows 10 x64)

### Steps to reproduce
`docker-compose.yml`:
[code]
[code]

### Expected behaviour
A

[2021-02-05 17:34] mkkeffeler commented on #14
SCEP would be a huge add, and super helpful in major enterprise use cases.

[2021-02-08 11:40] gdbelvin commented on #301
This might be more of a feature request, but it would be nice to be able to add name constraints to the root.

[2021-02-08 18:50] alanchrt opened #464 "Create Windows scoop package for step-cli"

[2021-02-09 00:43] LecrisUT opened #465 "Intermediate CA with letsencrypt root"
I am fairly new to pki and acme so I want to ask some question:
1. Is it possible to setup a private acme server with the root CA from another public acme server, i.e. create certificates that are publicly trusted, but managed locally?
2. How do you setup a client certificate which is both publically and locally signed? For example I have control of example.com and I can use certbot to publicly au

[2021-02-09 01:51] #465 closed

[2021-02-09 02:03] maraino commented on #301
@gdbelvin: step-pkcs11-init is just an testing tool to start working with PKCS#11 modules, we want to integrate PKCS#11 as well as the rest of KMSs in the `step` cli. Once integrated we'll remove these tools and `step` will allow you to use PKCS#11 and set name constraints. Currently, `step certificate create` allows you to add name constraints using certificate templates, but the key has to be a

[2021-02-09 14:52] rfranks-securenet opened #468 "Add revoke API implementation to ACME API"
### Subject of the issue
When using the `vancluever/acme` Terraform provider, cert creation works fine, but revoking results in 404 error

### Your environment
* OS - CentOS 7
* Version - Smallstep CA/0.15.4 (linux/amd64)

### Steps to reproduce
1. Set up step-ca with ACME provisioner.
2. Use vancluever/acme terraform provider to create a certificate (example config below)
3. Use Terraform destroy

[2021-02-09 18:32] tashian commented on #463
@strarsis Thanks for the report.

I have a couple questions.

1. Are you able to reach the CA's health check endpoint and get a `{"status":"ok"}` response?
The endpoint is `https://ca_host:port/health`

2. I'm not able to reproduce your example `docker-compose.yml`. The container comes up but the CA doesn't run. How did you initialize your PKI? Do you use a volume mount to store the configuration?

[2021-02-09 21:31] hslatman commented on #14
@mkkeffeler Since my previous message I have forked this repo and started working on a bit of SCEP support. It's currently really basic because I need to learn a bit more about the code base to fit SCEP in nicely, so that's why I haven't pushed something to my fork yet. I'll probably work on it again this Friday.

My plan is to integrate parts of the POC Caddy module in a cleaner way in the Smalls

[2021-02-09 22:10] mkkeffeler commented on #14
@hslatman good to hear, welcome to shoot me a message on the smallstep gitter or elsewhere, i have saturdays with your name on it!

[2021-02-10 01:02] dopey commented on #468
Hey @rfranks-securenet thanks for opening the issue!

`step-ca` doesn't currently support the ACME cert revocation API. There are two reasons why we chose not to support this API in our initial implementation:

1) `step-ca` doesn't support active revocation. Currently the CA only supports passive revocation.
2) `step-ca` has it's own, non ACME, API for passive revocation.

CRL and OCSP (active rev

[2021-02-10 09:02] rfranks-securenet commented on #468
It's part of the terraform workflow; as part of the destroy (which tears down all the infrastructure it has created). I'll have a look and see if there is a way of excluding the cert from the destroy.

Alternatively, would there be a way of changing it so, whilst it doesn't actually implement the revocation, it returns a 200? Even if in the body it gave a warning that the cert wasn't actually revo

[2021-02-10 10:16] strarsis commented on #463
@tashian: One factor could be that WSL 2 with Docker for Desktop is used.

[2021-02-10 18:31] tashian commented on #463
@strarsis Please provide more details about the environment and steps to reproduce, so we can test this. Thanks

[2021-02-12 16:08] hslatman commented on #14
@mkkeffeler I've pushed some updates to my fork: https://github.com/hslatman/certificates/pull/1. It's quite rough, mostly because I'm not entirely sure how I should provide some fundamental deps to my authority and/or provisioner. A certificate can be claimed successfully with the [micromdm/scep](https://github.com/micromdm/scep) client already.

[2021-02-12 16:45] hlobit opened #473 "Database cleanup procedure for ACME data"
### What would you like to be added

Wouldn't it be a great addition if there was a documented procedure or a CLI command to cleanup the DB from old ACME data ?

I would be happy to get a clue on how you would deal with DB data growth.

### Why this is needed

We are using step-ca on production for more than 1 year now, and then our disk holds a badger database with ~40GB data. When using ACME cha

[2021-02-12 19:27] dopey opened #480 "Adding and (keeping up to date) a user cert into local user store to auth to websites for mTLS"
@carpenike I am paraphrasing from Gitter (hope that's ok).

Traditional AD environments would handle this via AD integrated CAs and handle user cert provisioning via GPO

StepCA defaults to 24hr certs so there needs to be a way to keep that cert in the user store current.

An example of a solution that worked on Windows using a scheduled task:

[code]

Would be great to have documentation for iOS

[2021-02-12 20:10] maraino commented on #473
Hi @hlobit, I don't think right now there's another alternative to do it yourself. But I can tell you that we've started to change how ACME stores its data, and you will be able to switch to a PostgreSQL or MySQL db, using actual columns rather than just blobs of data, and you will be able to do `DELETE FROM...`. I can't tell you for sure if there will be some kind of migration tool, but I think w

[2021-02-12 20:16] maraino commented on #14
@hslatman Let us know if you have any question, we can also schedule a video conference with the team.

[2021-02-12 20:19] dopey commented on #473
@maraino You hit all the points that I wanted to suggest.

Mainly that starting from scratch is not a bad option if you're not heavily relying on passive revocation. In the future we should have better tooling around this, but for now we kinda have to kick the bucket down the road.

[2021-02-12 20:33] #301 closed

[2021-02-13 19:23] jodygilbert commented on #473
Am I doing something wrong? I’ve started from fresh a couple of times, each time the client renewal fails as the existing accounts don’t exist. I fix this by deleting the account config on the clients, we only have a few so it’s manageable, but it’s not something I’d like to do as more clients as added.

[2021-02-14 22:20] mohe2015 opened #475 "Better validation of config file"
### Subject of the issue
I think it would be great if
1. There would be a command to validate the config file (e.g. before reloading or restarting). Preferably this could be run without connecting to any ports etc. so you could run this in the build system (for NixOS)
2. Options that are not used would be detected so a misspelled security-important option would be detected
3. Also better validatio

[2021-02-15 09:06] hlobit commented on #473
@maraino, @dopey thanks for your answers, I see there are improvements in the pipe for that ; it will be nice to use a postgres DB in a near future to deal ACME with data.

Exactly my case, I tried to drop the database, but I had to restore a backup because of renewals failing with error `urn:ietf:params:acme:error:accountDoesNotExist`. Unfortunately I cannot really afford going through all the se

[2021-02-15 18:07] gzm55 opened #476 "Docs or examples for SSH CA Federation"
It seems that the step-ca supports ssh ca federation or rotating ssh ca in the source code, but there are no related documents nor examples. So we need more detail information about the operations, configs about how to rotate or federate multiple ssh ca.

[2021-02-15 20:32] dopey commented on #473
Hey @hlobit while that process may work, hold on before you go into it. I think it may be easier to just go in and delete the tables that you don't need. Let me see if I can put something quick and dirty together and send it out. I'll test it out locally to verify it doesn't kill my system.

I forgot that most ACME users will be reusing the same one or multiple accounts. Our cli ACME client genera

[2021-02-16 22:34] mohe2015 opened #477 "Notify systemd of finished startup, reloading, reload failures, ..."
### Subject of the issue
The service should tell systemd whether a reload, startup etc. was successful/finished. Either dbus (see example https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecReload= ) or sd_notify (https://www.freedesktop.org/software/systemd/man/sd_notify.html, e.g https://github.com/coreos/go-systemd) are likely the best options (although I never used any of

[2021-02-16 23:50] dopey opened #479 "Update sshd template for hosts to use `matchall`"
sshd -t revealed that the configuration Smallstep adds to sshd_config was somehow interpreted as being inside the MatchUser block (and probably the Match* family of directives)

The fix is easy, it just needs to be moved before the Match* sections. IDK if you guys wanna put that in the Host Enrollment Guide or maybe update the scripts to handle this situation. This causes the sshd daemon to not re

[2021-02-16 23:51] tashian commented on #479
I think the fix here is simply to put `Match all` at the top of the sshd template

[2021-02-17 01:30] #480 closed

[2021-02-17 02:09] maraino commented on #479
@dopey we don't add any `Match` directive to `sshd_config`, we do add one in `$(step path)/ssh/config`, that is included in `~/.ssh/config`

[2021-02-17 04:10] dopey commented on #479
I think the idea here is that we _should_ add a `MatchAll` directive before our section. Otherwise, what can happen is that our section gets added after an existing `Match` directive and we get interpreted as part of an existing directive, rather than being separate. Does that make sense?

[2021-02-17 06:14] dopey commented on #473
[code]

I've run this locally and confirmed that afterwards I'm able to create ACME certs using the same account (the same as I had been using before running the script). I tested with certbot and acme.sh clients.

[2021-02-17 20:03] mohe2015 opened #482 "[unimportant] Systemd socket activation"
### What would you like to be added
To be able to use as little resources as possible in resource constrained environments like the Raspberry Pi it would be *awesome* if socket activation would be supported (Also shutting down again automatically if the service was idle for long enough).

*awesome* is emphasized because this is a totally overkill feature as about 12.5M isn't really a lot nowadays.

[2021-02-17 22:36] #461 closed

[2021-02-19 08:57] gzm55 opened #486 "Provisioner Request: ssh host cert enrollment by ACME-like challenge"
### What would you like to be added

An automatic and secure private cloud provisioner based on an ACME-like chanllenge.

### Why this is needed

- On private clouds, step-ca can be easily integrated without transferring `jwk` private key or secret
- Easy to deploy the whole flow

### Rationale

- use nonce and short/one time certs to exchange a `jwk` token securely
- every server root are authori

[2021-02-19 21:17] gdbelvin opened #487 "error creating certificate: x509: only RSA, ECDSA and Ed25519 keys supported"
### Subject of the issue
step-ca fails to create its own leaf certificate on startup

Describe your issue here.

### Your environment
* `uname -a`  Linux ****** 4.19.92.**** #1 SMP Thu Jan 2 14:36:58 EST 2020 x86_64 GNU/Linux
*
### Steps to reproduce
`STEPDEBUG=1 /usr/bin/step-ca /etc/step/poc/config/ca.json`

 cat /etc/step/poc/config/ca.json
{
  "address": "stepca.hostname.com:443",
  "authority

[2021-02-20 00:03] LecrisUT opened #489 "FR: slackhq/nebula support"
### What would you like to be added
Managing nebula's CA protocol. Just supporting the certificate signage via acme would be sufficient. I don't know if the nebula certificate is already standard and this would already be supported so some input will be appreciated.
I hope this go file is a good starting point:
https://github.com/slackhq/nebula/blob/master/cmd/nebula-cert/sign.go

### Why this is

[2021-02-20 00:10] maraino commented on #489
Nebula certificates use their own format, using ACME for it it would be weird because there are not ACME clients that will support it.

[2021-02-20 00:16] LecrisUT commented on #489
If they implement their own acme like client, would it be possible to connect it to step's CA and inherit it's features?

[2021-02-20 00:16] maraino commented on #487
I have a PR open https://github.com/smallstep/certificates/pull/488 that will return an error when we create the `crypto.Signer`. If you try with that specific branch, I think you will get the appropriate error from CloudKMS.

[2021-02-20 00:19] maraino commented on #489
I guess so, if we add support for Nebula (they are our friends).

[2021-02-20 00:24] maraino commented on #487
And by the way, we've seen a similar error before, and the problem was that the intermediate key, in the `key` parameter didn't match the intermediate certificate in the `crt`.

One way to find out if that's your problem, is exporting the public key from gcloud, and compare it with the public key in the certificate:

[code]

The public key in the certificate must match the one coming from GCP.

[2021-02-20 17:40] gdbelvin commented on #487
Thank you.  Much more helpful error: `rpc error: code = PermissionDenied desc = Request is prohibited by organization's policy. vpcServiceControlsUniqueIdentifier: GmDrowQvhXw5DNzHpk0dA5EH3A6K3WBVR_RGtbztlw5Ukf7Pu80Vfw`

[2021-02-20 17:48] gdbelvin commented on #487
Resolving the GCP permissions issue resolved the error as well.

[2021-02-21 06:52] LecrisUT opened #491 "Clarification: OIDC listenAddress"
In the documentation section of [OIDC](https://smallstep.com/docs/step-ca/configuration#oauthoidc-single-sign-on), it is unclear which machine does the `listenAddress` refer to: the ACME server or the client which will request the OAuth. A bit of trial-and-error and it's clear it's the latter. Some clarification on that part would be helpful, either in the diagram, or maybe add a "... complete the

[2021-02-22 18:52] tashian opened #492 "SSH with multiple profiles"
It would be helpful to be able to use `STEPPATH` to change between profiles, but this breaks SSH support when `step ssh config` is in play.

I propose a change to the SSH config template to support multiple profiles, eg:

[code]

[2021-02-22 18:53] tashian commented on #372
+1 if it is a quick fix, as it would be helpful for NixOS integration

[2021-02-22 20:25] tashian commented on #492
Closing this, see https://github.com/smallstep/certificates/discussions/493#discussioncomment-395000

[2021-02-22 20:31] #487 closed

[2021-02-23 05:26] Slamdunk opened #494 "OAUTH: gather CA parameters from provisioner list"
Hi, currently to get a user certificate we run the suggested:

[code]

The `step ca certificate` doesn't need the OAUTH parameters as it's up to the `step-ca` server to decide how to use the TOKEN.

I wonder: could we as well let the `step-ca` give the correct OAUTH client parameters to `step oauth` by the provisioner list?
I guess that, to preserve consistency, it should be a `step ca` subcommand

[2021-02-23 18:04] #494 closed

[2021-02-23 18:13] dopey commented on #492
@tashian we're going to label all such issues (about having multiple profiles for SSH, x509, etc.) `profiles` so that they're easier to find later, once we have time to take this on as a project. I think we want a robust solution here - design spec, etc.

[2021-02-23 19:51] maraino commented on #486
@mmalone Currently a combination of ACME and the X5C provisioners can be used to sign an SSH certificate:
[code]

The first command can use any provisioner, but let's say it uses ACME, so the HTTP challenge is validated, and the host is trusted. The second command creates a valid certificate, but the principal `internal.smallstep.com` is not validated agains the SANs in the certificate, so we woul

[2021-02-24 02:09] gzm55 commented on #486
@mmalone not only the hostname and ip principal should be verify, it is also better to verify the host and the pubkey pair.

[2021-02-24 05:26] LecrisUT commented on #489
I was thinking about this issue again, and doesn't `step-ca` already support all the needed with `Certificate Templates`? Standard ACME would not be applicable, but using OAuth would be ideal to authenticate user certificates. Am I missing more nuanced issues due to nebula using non-standard certificates? Would most development be needed on `step-ca` or `nebula` to get this compatibility?

[2021-02-24 15:50] tashian commented on #489
@LecrisUT `step-ca` and certificate templates only support X.509 and SSH certificates, and Nebula certificates are not X.509. So, the CA would have to support Nebula's certificate format first.

[2021-02-24 17:49] wagnerflo commented on #433
I'd be delighted to have this, too. Here's to hoping this can be implemented soon.

[2021-02-24 19:23] maraino commented on #486
@gzm55 One option is to verify the X509 SANs with the principals. The main problem is that we're not doing it right now. So we have a couple of options, making it configurable through templates (https://github.com/smallstep/certificates/issues/433), or make it mandatory using some provisioner configuration.

[2021-02-24 20:05] wagnerflo commented on #186
Yes. Being able to select the intermediate (or rather chain of intermediates to be able to ship it with the issued leaf if I understood #440 correctly) a provisioner uses would be nice.

[2021-02-25 11:08] voanhduy1512 commented on #186
Unfortunately I can't find any doc on how to use #440 functionality.

[2021-02-25 13:40] hlobit commented on #473
Hi @dopey, thanks for this one, I was just trying on our side.

This is the output I get on first run:

[code]

I have tried with all other tables, looks like all other `acme_*` tables and `nonces` were not existent on our database.
Then I was fiddling on [nosql repo](https://github.com/smallstep/nosql/blob/master/database/database.go#L90), trying to get a list of the tables in the database, with

[2021-03-01 22:56] AluisioASG commented on #186
As far as I can tell, #440 is only about having multiple intermediates in a single chain, not about having multiple/per-provisioner chains (which is this issue).

[2021-03-01 23:01] dopey commented on #186
@voanhduy1512 @AluisioASG is correct. #440 allows `step-ca` to use a certificate chain that is longer than just `root -> intermediate -> leaf`. It does not give you the ability to set different signing CA's per provisioner.

[2021-03-02 17:47] tashian opened #498 "Source archive should expand into `certificates/` instead of current dir"
I think the source archive for each release should expand everything into `certificates/`, rather than the current directory.
A single subdir feels right in terms of convention and UX, to avoid polluting the cwd.

[2021-03-02 18:07] dopey commented on #498
If we make this change we need to make sure to update the homebrew build process. Same for the cli repo.

[2021-03-03 05:43] dopey commented on #486
Hey @gzm55, assuming that we are able to deliver on #433, would that appropriately address your use case?

You won't be able to do the pubkey verification but we're not convinced that the pubkey verification would make the protocol any more secure.

[2021-03-03 07:41] gzm55 commented on #486
@dopey if x5c provisioner can use the variables from acme cert via #433 in the templates, that could address that every server root could got a ssh host cert for his server. It is also appreciate to see more document for this use case.

The down side of acme method, imo, could be that the port 80/443 of some servers may be already used which blocks the http01 challenge of acme. Meanwhile, the new

[2021-03-03 08:13] hostops commented on #177
It has been almost a year. Any update on this?

[2021-03-03 20:57] dopey commented on #473
Hey @hlobit, what version of Badger are you running? Looks like it may be V2. If so, then you should be able to install the badger cmd line tool and try out some operations like flatten/garbage-collection. I'm thinking the space that you freed just needs to be reclaimed via garbage collection.

[2021-03-03 21:26] dopey commented on #177
Hey! We're definitely going to implement this feature. I can't give a date estimate, but I can say that we have enough people asking for this functionality that it's on our our short term roadmap.

[2021-03-08 13:53] hlobit commented on #473
@dopey thanks for the clue.

Yeah I'm not familiar with `badger`.
Running something like this multiple times after tables were deleted did the trick:

[code]

Now I have the expected outcome, I'm interested in a way to automate it:

1. according to [badger docs](https://dgraph.io/docs/badger/get-started/#garbage-collection), `RunValueLogGC` can be run while another process is using the DB. So it s

[2021-03-08 17:15] mohe2015 commented on #477
As a minimal idea I would love to see startup notification as my acme services fail as they seem to startup faster than step-ca.

[2021-03-08 17:48] tashian commented on #477
@mohe2015 I think if this were fixed it would address the service dependency issue you're facing. We discussed this last week in our open source triage meeting. We're committed to it, as long as it's a quick fix and doesn't add too much complexity. Looks like the Go systemd module will make it pretty easy.

[2021-03-08 18:56] #464 closed

[2021-03-08 18:56] alanchrt opened #501 "Create Windows scoop package"

[2021-03-09 18:16] tashian commented on #501
This is blocked on having a windows step-ca binary as part of the release process

[2021-03-09 23:03] dopey commented on #486
We've got a project on the roadmap that will enable the use of x5c variables in subsequent certificate templates. Once that project is complete we'll be able to document this process more completely (I'll open up a documentation request now).

I'll come back and update this issue once that project has been scheduled.

[2021-03-14 21:00] liujed opened #507 "Add ability to list/download all unrevoked signed certificates"
### What would you like to be added

Please add the ability to list or download all unrevoked signed certificates from a `step-ca` instance.

### Why this is needed

Right now, it feels like `step-ca` is a bit of a blackhole. It happily signs certificates, but there is no good way of seeing what certificates are out there are still valid or what's about to expire. It would be nice to be able to ge

[2021-03-16 19:38] dopey commented on #507
Hey @liujed thanks for opening up this issue.

Related to #239 and #282.

The short story is that we're actively working on this. We're building a frontend for the hosted version of `step-ca` (essentially just us running the open source for users) that will have certificate observability features that will allow users to list, query, and alert on various certificate features. In short order we'll

[2021-03-17 23:36] dnwe opened #509 "Parameter to reduce 10 year lifetime on CA root and intermediates?"
### What would you like to be added

A parameter on the `GenerateRootCertificate` and `GenerateIntermediateCertificate` APIs to override the hardcoded 10 year validity

https://github.com/smallstep/certificates/blob/v0.15.6/pki/pki.go#L269-L273

### Why this is needed

As per the docs https://github.com/smallstep/certificates/blob/master/docs/defaults.md#root-certificate 10 years is just a reasona

[2021-03-18 15:45] maraino commented on #509
Hi @dnwe are using this package in your own application? Currently these values are hardcoded because this package contains the core functionality used by `step ca init`.

[2021-03-18 18:18] dnwe commented on #509
@maraino yes we're essentially just driving the API in exactly the same way as the [cli](/smallstep/cli) to bootstrap a CA, but directly from Go code rather than exec'ing the cli binary

Essentially I was wondering if we could parameterise the lifetime here and then a followup PR could expose the lifetime as a configuration option on `step ca init` if that makes sense?

[2021-03-18 20:37] mmalone commented on #509
tl;dr:

1. I don't like the idea of a `--not-after` flag on `step ca init`.
2. I do like the idea of `--intermediate-cert` and `--intermediate-key` flags on `step ca init`.
3. I also like the idea of `--root-template` and `--intermediate-template` flags on `step ca init`.

I'm +1 on a PR that does 2 and/or 3.

The conflicting requirement here is API simplicity. More specifically, we'd like to avoi

[2021-03-20 14:56] AdityaCyberSafe opened #511 "Can not run step-ca"
### Subject of the issue
Can't Run Step CA

### Your environment
* OS -  Windows 10 Home
* Version - 0.15.10

### Steps to reproduce
step ca init (works fine)
step-ca C:\Users\sunil\.step\config\ca.json (Give error: badger 2021/03/20 14:48:20 INFO: All 0 tables opened in 0s
badger 2021/03/20 14:48:20 INFO: Replaying file id: 0 at offset: 0
badger 2021/03/20 14:48:20 INFO: Replay took: 0s
Error ope

[2021-03-20 16:41] #511 closed

[2021-03-22 17:35] #501 closed

[2021-03-23 17:49] maraino commented on #509
@dnwe To programmatically create a PKI, I would recommend you to use directly the `x509util` package in `go.step.sm/crypto`.
Look a this code from some tests that creates a root, intermediate and signs a leaf with an intermediate:
https://github.com/smallstep/certificates/blob/96de4e6ec8fe98c930ae70c91f888fe1f3a52861/cas/stepcas/stepcas_test.go#L171-L173
https://github.com/smallstep/certificates/b

[2021-03-24 10:48] logopk commented on #206
Wow that was helpful.

I have implemented an export for badger, that can hook up into your solution. Not a clean and "go art" source file - rather a bad hack, but got it working. Thank you for your leads.

[2021-03-26 00:25] mkkeffeler opened #517 "KID Prefix Wrong in a Load Balanced Environment"
### Subject of the issue
Getting this using ACME
[code]

The change is that we put a TLS passthrough, as docs reccomend, load balancer in front. ACME Clients call this loadbalanced url, smallstep.example.com, and then for some reason the server returns just the server that responded, not the generic load balancer KID.

### Your environment
2 servers running in 2 datacenters smallstep.

### Steps t

[2021-03-26 00:28] mkkeffeler commented on #517
Another weird thing,

From the RFCs all these urls that get generated come from GET /acme/my-acme-provisioner-3month/directory, which DOES return the riight urls, with the load balanced domain, which tells me it is using the HOST header like I can see it should be in the code, but somewhere else it's failing.

[2021-03-26 17:04] mkkeffeler opened #518 "ACME Order Fails to Validate when same domain is challenged 2 times in an order"
### Subject of the issue
Running an acme issue cert command like this

[code]

Returns an error like this

[code]

But this

[code]
works (notice removed the duplicate). The acme.sh client does try to validate it twice, but something in smallstep seems to cause an order to error out because it did that. Trying to understand if that is intentional, or not.

### Your environment
2 smallstep Mysql Se

[2021-03-26 17:22] mkkeffeler commented on #517
I think I resolved this, would appreciate confirmation. Something with the account registration registered the prefix, and to update it you had to update the account or register a new account. not sure if that can be more narrrowed down, but after using the acme client i was using to update and register the account again it seemed to have updated what it needed to

[2021-03-26 19:17] mmalone commented on #518
Is there a use case for specifying the same DNS name twice? Are you expecting the resulting certificate to have duplicate SANs with the same name? If we accept the request as presented then I think that's the most obvious behavior.

There are three options that I can think of when presented with duplicated identifiers:

1. Error
2. Issue a certificate with duplicated SANs
3. Ignore the duplicate a

[2021-03-26 19:41] dopey commented on #518
This is an odd one. Kind of feels like an `acme.sh` bug that we could be doing a better job of defending against.

`acme.sh` sends two identical identifiers, but then is logical enough to only attempt to validate one of them. So the result is an unvalidated challenge.

`certbot` on the other hand does the correct thing here - it only creates one identifier despite passing multiple identical identi

[2021-03-27 18:27] mkkeffeler commented on #518
I don't have a use case for it to be duplicated, so then I agree with the discussion here that this is an acme client issue, but with that said it would be nice to have it handled as well in small step itself.

Appreciate the discussion, if it's not already I'll send to acme.sh as a bug as well, since these other clients are handling it properly.

[2021-03-27 18:30] mkkeffeler commented on #206
The above is helpful but in large enterprise use cases we use Mysql, so not really able to do the same thing sadly.

[2021-03-27 18:50] logopk commented on #206
@mkkeffeler Look at https://github.com/smallstep/certificates/issues/206#issuecomment-748041522
There is the MySQL export!

[2021-03-28 10:26] logopk commented on #206
I noticed, that for a working OCSP responder, the index.txt needs to be updated immediately after the ACME-call.

now I need a sort of hook to update on demand...

[2021-03-29 12:55] hallvoren opened #520 "Error message with systemd service file"
Hi,

I'm using this: https://github.com/smallstep/certificates/blob/master/systemd/cert-renewer@.service service file and the timer to update certificates for nginx. It works, but it shows errors.

The problem is systemd sees that the ExecStartPre process, which checks if it is time to renew the certificate, returns an non zero return value and therefor gives an error. So if you run status on the

[2021-03-29 17:02] tashian commented on #520
Hi @hallvoren, you can clear this up with `ExecCondition`, but last I checked Debian 10 runs systemd v241 and doesn't support that parameter. I haven't found another way to do prevent the next step without these messages.

[2021-03-29 17:28] hallvoren commented on #520
Hi. Thanks for the reply.
At least you know about it. And we can certainly live with it, just a bit noisy.
Not sure if it should be documented somewhere, but at least now people might find this report.

[2021-03-29 18:46] #520 closed

[2021-03-30 18:32] dopey commented on #518
Great! Post the acme.sh issue here once it's up, so we can track it as well :)

I think, in the mean time, that executing directly on the client's request (as accurately as we can) should be our main goal. A question that remains unanswered is whether there are ever legitimate reasons for having duplicate SANs in the cert. Going to close the issue until we get more signal in either direction.

[2021-03-30 18:32] #518 closed

[2021-03-30 18:39] dopey commented on #517
Let us know if you're able to reproduce, and we'll open the issue back up at that point.

[2021-03-30 18:39] #517 closed

[2021-03-31 19:43] #420 closed

[2021-04-01 14:29] RedSerenityDev commented on #410
@mquinnatlasroofingcom Can you share how you did this with a template?

[2021-04-01 15:52] mquinnatlasroofingcom commented on #410
I had a back and forth with one of the Smallstep developers on their community forum thing.  It's on there up around the time that I submitted this feature request.  Bottom line though, it doesn't make any sense to do it that way since the certificate will not do an ACME verification on the ip address, only on the hostname.  As a result, you lose all the security that ACME offers.

I wound up crea

[2021-04-01 16:30] RedSerenityDev commented on #410
Thanks, @mquinnatlasroofingcom!

[2021-04-05 19:52] mholt commented on #410
@mquinnatlasroofingcom Is this something you'd be able to make a pull request for? @dopey Do you know if you'd be able to accept such a PR (or when this might be on the roadmap for)?

[2021-04-05 20:02] dopey commented on #410
This is still on the roadmap along with external account binding. It's on our short term roadmap but our roadmap is also constantly in flux #startupthings.

We'd definitely be interested in taking a look at the PR. And as @mquinnatlasroofingcom mentioned, we'll need accompanying integration from the cli side (although maybe not right away).

@mholt we've actually just done a complete rework of our

[2021-04-05 20:03] mholt commented on #410
Oh, awesome -- yeah, would be happy to use the latest and greatest! :slightly_smiling_face:

[2021-04-06 09:46] Delapouite opened #526 "step-ca-bin package not found on AUR"
Hello

In several places of the smallstep website and in READMEs, links point to the following packages on the Arch Linux User Repository (AUR):

- `cli`: https://aur.archlinux.org/packages/step-cli-bin/ → OK
- `ca`: https://aur.archlinux.org/packages/step-ca-bin/ → NOT FOUND

Was the `ca` unpublished recently?

How should we fix this situation: should we either remove the `ca` links from the docu

[2021-04-06 20:12] dopey commented on #526
Hey @Delapouite thanks for bringing this to our attention.

Some very kind maintainers over at AUR created their own versions of our packages that are 1) far less error prone, and 2) much more up to date than the packages we were mostly failing at maintaining.

(step)[https://archlinux.org/packages/community/x86_64/step-cli/)
(step-ca)[https://archlinux.org/packages/community/x86_64/step-ca/)

We'

[2021-04-06 20:13] #526 closed

[2021-04-09 10:56] #308 closed

[2021-04-09 21:50] mmalone commented on #308
Fortuitously, we are currently working on a mechanism that may allow you to work around this issue. Check out https://github.com/smallstep/certificates/pull/531.

Long story short, we’re working on client-side support for a TLS-over-TLS tunnel. The outer layer of TLS can be terminated by any TLS-terminating TCP proxy. The inner layer is the normal TLS connection terminated by step-ca.

We’re build

[2021-04-11 21:32] LecrisUT commented on #183
Quite late to this issue. The only go poject I know that has some api documentation is `caddy`. Didn't check if it's manual or automatic. Outside golang, powerdns has a strong api documentation, maybe it also supports golang

[2021-04-12 15:06] prosticoco opened #532 "Access CA without the use of Tokens"
Hello, I would like to setup a PKI for an organization which would include multiple CAs (for fine-grained access control reasons) which would be responsible for issuing client-side certificates. Ideally, a client would register by authenticating with user/pwd to a preexisting web server which should then contact the corresponding CA (depending on the user) to issue a certificate.

 To this end, I

[2021-04-12 15:29] anthonyjlmorel commented on #298
Hi @dopey ,

Is there any further information about the format in the blob entries?
I am trying to request a mysql DB to get information about issued and revoked certificates, using NodeJS.
I am able to read the nvalue entry for the revoked_x509_certs table, as this is a basic JSON object stored into the nvalue entry, by doing:

[code]

But when accessing the x509_certs table, I cannot figure out

[2021-04-12 18:10] #532 closed

[2021-04-12 18:51] dopey commented on #298
Hey, @anthonyjlmorel the best documentation/info I can provide (other than actual documentation - which we don't have ;p) is to link you to the places in the code where we do the querying / transformations.

https://github.com/smallstep/nosql/blob/master/mysql/mysql.go

I would recommend using the golang `nosql` methods - only because I know for sure that they work.

Based on your code snippet, on

[2021-04-13 02:21] #479 closed

[2021-04-13 08:26] LecrisUT opened #537 "Sanitizing systemd timer service"
I have followed the instructions [on the systemd timer certificate renewal](https://smallstep.com/docs/step-ca/certificate-authority-server-production#renewal-using-systemd-timers) and everything works great but, there are some errors/warnings that pop-up.
- `Failed to get unit file state for {INSTANCE_NAME}.service: No such file or directory`
- `cert-renewer@{INSTANCE_NAME}.service: Control proce

[2021-04-14 13:26] Isawan opened #535 "Add support for HTTP(S)_PROXY environent variables to work behind proxy"
### What would you like to be added
Running the following with HTTP_PROXY and HTTPS_PROXY environment does not work behind a proxy.
[code]
Inspecting the code, indicates that the issue lies in the bootstrap code.
From looking at command/ca/bootstrap.go, this is because proxy support is not implemented at this time. This is making it difficult to use smallstep's managed services.

https://golang.or

[2021-04-14 21:24] #537 closed

[2021-04-14 23:38] maraino commented on #535
Hi @Isawan, what kind of proxy are you using. I've tested it with a known open-source proxy https://www.privoxy.org, and it works as expected.

As most, if not all the URLs that we connect are HTTPS, the proxy has to support the HTTP CONNECT method.

[2021-04-14 23:42] maraino commented on #535
On an environment without proxies this can be tested like:
[code]

[2021-04-15 00:19] Isawan commented on #535
Hi, squid is currently being used in this case. From stracing the application, I see that the connect method is sent directly to the upstream webservice with the environment variables; so it never hits the proxy. Let me provide more debug information.

[code]

[code]

[code]

Here we see the attempt to connect out to 35.224.92.244 directly rather than through the proxy
[code]

This is being execut

[2021-04-15 00:45] Isawan commented on #535
One additional thing to note is that there are _some_ requests which are hitting the proxy correctly, these seem to be in the original process but the bootstrap command in particular does not.

[2021-04-15 02:30] maraino commented on #535
@Isawan ok, I've been able to reproduce this and have a fix for it, we're on a middle of a release and I don't think it can get into it.

[2021-04-15 04:05] #535 closed

[2021-04-15 05:50] anthonyjlmorel commented on #298
Thanks @dopey , will check this out !

[2021-04-15 17:35] maraino commented on #535
@Isawan Finally the fix was introduced in step v0.15.15 https://github.com/smallstep/cli/releases/tag/v0.15.15

[2021-04-15 20:03] Isawan commented on #535
Thanks!

[2021-04-15 22:34] dopey opened #542 "Review processes around Changelog / Release Notes"
Unless a feature is large enough to warrant a blog post, new releases generally do not come with any documentation.
We point people to the changelog (which is now available on the release page), but that's not really a substitute for a well kept notes / log.

[2021-04-20 00:43] LecrisUT opened #547 "FR: Limit ssh access based on OAuth groups/roles"
# Use case
If we have multiple machines, or a machine can have custom ssh access, e.g. Github or Gitea access, it would be better to have control over the user+domain the user can have ssh access. Currently this can be done with modifying the ssh template, but it would be great to have something accessible via cli/default template.

Also this would make it easier to integrate with LDAP's group man

[2021-04-20 17:06] dopey commented on #429
Also check whether we re-read the private key / certs.

[2021-04-20 17:08] dopey commented on #429
Also check if bash process substitution works with SIGHUP

[2021-04-20 18:58] dopey commented on #542
We've decided to make greater use of the Github release notes feature for all future releases for `step` and `step-ca`. @devadvocado let's chat about this when you have some time.

[2021-04-20 18:58] #542 closed

[2021-04-22 01:51] maraino commented on #547
Hi @LecrisUT this is part of our paid solution.

As you mention one of the options to solve this is using the `AuthorizedPrincipalsCommand`. You can use ssh certificate templates to add custom extension that the script can use to limit the access to a server. You can access the token payload using the `.Token` variable in the template. For example, `.Token.resource_access.StepCA_ClientID.roles`  w

[2021-04-22 03:12] LecrisUT commented on #547
I will try this out on a cloud node to see how it would affect other implementations. Will this become available to self-hosted `step-ca`, or only through `smallstep.com`?

[2021-04-23 00:34] LecrisUT opened #550 "FR: Template login principals for OAuth"
Currently when we `step ssh login identity` via OAuth provisioner, only the email and its derivatives are retrieved. It would be great if we can add to these primarily so we can add:
- `.Token.preferred_username`: reason is self-explenatory
- `.Token.groups`: useful if we add something like `"admins": ["/admins"],` where the argument is a group.

So similar to the "SSH Group Accounts" available in

[2021-04-23 19:11] maraino commented on #550
This should be possible through certificate templates.

[2021-04-23 21:49] LecrisUT commented on #550
I was hoping for that. Could you clarify the syntax for it? `options.ssh.templateFile` does not affect the initial login, i.e. if I choose `step ssh login extra_principal` it fails.

[2021-04-23 23:06] maraino commented on #550
The provisioner in the ca.json will look something like:
[code]

And you should log in like
[code]

[2021-04-23 23:07] maraino commented on #550
The oidc.tpl can look like:
[code]

[2021-04-23 23:13] LecrisUT commented on #550
That is the exact settings I've tried and didn't work

[2021-04-23 23:30] maraino commented on #550
Can you send me a token for testing it? `mariano at smallstep dot com` (`mariano`, not `maraino`)

[2021-04-26 18:54] mm-e1 commented on #177
Hi, is there a workaround for this use case? I would like to provision certificates to our IoT devices. These devices may be offline for some time. When they come back online, we would like the ability for the device to obtain a renewed certificate.

[2021-04-26 23:33] dopey commented on #468
If we were to update that response I think it would make more sense to return HTTP Not Implemented (501), but I don't know how helpful that would be for your scenario.

If you wanted to update the code in a branch I'd be happy to point you to where a change would need to be made.

[2021-04-27 01:08] joejulian opened #554 "http-01 (rfc 8555 8.3) redirects to https fail validation as the certificate is invalid"
### Subject of the issue

When the initial http-01 challenge is sent to port 80, it is valid to accept redirects. Often, ingress servers are configured to automatically redirect all connections to https on port 443. Since the certificate served by the server will not yet be valid until it is received via this process, the validation should set InsecureSkipVerify in http01Validate.

The RFC is some

[2021-04-27 01:56] #142 closed

[2021-04-27 08:37] mensylisir opened #555 "ACME with step-ca error"
### Subject of the issue

use ACME with step-ca

### Your environment
* OS - CentOS7
* Version - 7.8.2003

### Steps to reproduce
ca.json
{
        "root": "/home/step/certs/root_ca.crt",
        "federatedRoots": [],
        "crt": "/home/step/certs/intermediate_ca.crt",
        "key": "/home/step/secrets/intermediate_ca_key",
        "address": ":9443",
        "dnsNames": [
                "192

[2021-04-27 17:49] maraino commented on #554
Boulder also allows redirects to HTTPS (but only to port 443) using `&tls.Config{InsecureSkipVerify: true}`.

In boulder this creates the transport with the `InsecureSkipVerify`:
https://github.com/letsencrypt/boulder/blob/5457680a9c8ce34d0456ccf289ed347a8529a31e/va/http.go#L489

This is the function that process the redirects:
https://github.com/letsencrypt/boulder/blob/5457680a9c8ce34d0456ccf289

[2021-04-27 19:36] maraino commented on #555
@mensylisir For `step ca certificate bb bb.crt bb.key` can the CA resolve `bb` to your IP? if not that would explain that problem.

The error with acme.sh seems similar but in this case with `nginxtest.dev.rdev.tech`.

Can you login to the server were the CA is and attempt to resolve bb and nginxtest.dev.rdev.tech?

[2021-04-27 19:48] dopey commented on #555
Additionally, @mensylisir

1) what version of `step` and `step-ca` are you using? You can run `step version` and `step-ca version` to get those.
2) Are you able to see logs from `step-ca`? Often the errors are more detailed (and have stacktraces) in `step-ca`.

[2021-04-27 20:44] dopey opened #560 "Constrain lifetime of signed certificate by remaining lifetime of parent certificates."
* step-ca should transparently reduce the notAfter of any issued certificates to min(requested-notAfter, intermediate-notAfter, root-notAfter)
* If the notAfter is reduced, step-ca should log a warning: "Requested certificate expiration was reduced from <requested-notAfter> to <effective-notAfter> because leaf certificates cannot expire after [intermediate|root] certificate. You may need to issue

[2021-04-27 23:44] LecrisUT commented on #550
I've sent an email. Were you able to verify the behaviour?

[2021-04-28 00:50] maraino commented on #550
@LecrisUT I haven't look into it yet, it's in my list.

[2021-04-28 01:04] mensylisir commented on #555
nginxtest.dev.rdev.tech can resolve to my IP, aa and bb can't.

[root@Rdev-K8-80-30 db]# step ca certificate nginxtest.dev.rdev.tech nginxtest.key nginxtest.crt
b Provisioner: acme (ACME)
Using Standalone Mode HTTP challenge to validate nginxtest.dev.rdev.tech ........... Error!

Unable to validate challenge: &{Type:http-01 Status:pending Token:a7oxp2CwjruizCD28rtBzs07N62mSETy Validated: URL:http

[2021-04-28 01:09] mensylisir commented on #555
[root@Rdev-K8-80-30 step]# step --version
Smallstep CLI/0.15.14 (linux/amd64)
Release Date: 2021-03-25T18:09:31Z
[root@Rdev-K8-80-30 step]# step-ca --version
Smallstep CA/0.15.11 (linux/amd64)
Release Date: 2021-03-25T19:32:04Z

[root@Rdev-K8-80-30 ~]# step ca certificate nginxtest.dev.rdev.tech nginxtest.key nginxtest.crt
b Provisioner: acme (ACME)
Using Standalone Mode HTTP challenge to validat

[2021-04-28 01:15] mensylisir commented on #555
[root@Rdev-K8-80-30 ~]# curl nginxtest.dev.rdev.tech
<html>
<head><title>308 Permanent Redirect</title></head>
<body>
<center><h1>308 Permanent Redirect</h1></center>
<hr><center>nginx</center>
</body>
</html>
[root@Rdev-K8-80-30 ~]#

[2021-04-28 19:55] maraino commented on #550
@LecrisUT ok, I've been looking at the logs that you sent me and as you mention only the principals from your email address are checked, and that is right. We can only check standard claims like `email` in an OIDC provisioner. This is why you need to use commands like `step ssh login john@example.com`, instead of `step ssh login johnny`. Other provisioners like the JWK one doesn't have those restr

[2021-04-28 20:53] LecrisUT commented on #550
So is there a reason why only the email principals are checked? The problem is that this also affects standard `ssh` flow. For example after the certificate is expired and I still `ssh johnny@machine`, that will call `step ssh login johnny`, while only `step ssh login john` would work. Also it won't work with groups admin in that matter.

[2021-04-29 00:56] maraino commented on #550
To avoid this and enforce the use of the email you can change `~/.step/ssh/config` to something similar to this:

[code]

Basically replacing `%r` with the email you use on `step ssh login`.

[2021-04-29 01:01] maraino commented on #550
After a second look, it seems that there might be a bug, the scenario that you are taking about used to work, but a line was removed, and I'm not sure why. In this code block it says that the principals are supposed to be empty.
https://github.com/smallstep/cli/blob/de0076bf01c9131ed29bca1afa62e4b726da5340/command/ssh/proxycommand.go#L146-L151

And they were actually empty in a previous version, b